{% extends 'global.html' %}

{% load vote_tags %}

{% block title %}Vote - Mootiro Maps {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>Prova de Conceito para Votos do Mootiro Maps</h2>
        </div>

        <div class="row">
            <div class="votable">
                {% vote content_object %}
                <div>Another Teste</div>
            </div>
        </div>

    </div>
{% endblock %}

{% block page_scripts %}
    {% vote_staticfiles %}
{% endblock %}
