{% extends 'global.html' %}

{% load komoo_tags %}
{% load i18n %}

{% block title %}{% trans 'Search' %}{% endblock %}

{% block menu %} {% menu "" %} {% endblock %}

{% block content %}
  <div id="main-content">

    <div class="highlight search-all-header">
      <h3>Resultados de Busca para "{{search_term}}"</h3>
    </div>
    {% for obj in result %}
      <div class="view-list-item {% cycle 'odd' '' %}">
        <img class="model-icon" alt="icon {{obj.model}}" title="icon {{obj.model}}" src="/static/img/{{obj.model}}.png">
        <a class="search-result-title" href='{{obj.link}}'> {{obj.name}} </a>
        <div class="right">
          <a href="/map/#{{obj.hashlink}}" hashlink="{{obj.hashlink}}" class="search-map-link {{obj.disabled}}" title="ver no mapa"><i class="icon-see-on-map"></i></a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
