{% load i18n %}
<section id="login_box">
  <header>
    <h1>{% trans "Log in" %}</h1>
  </header>

  {% if login_error %}
  <p class="errors">
    {% trans "An error ocurred." %}
    {% if login_error == 'wrong_credentials' %}
      {% trans "You provided wrong credentials." %}
    {% endif %}
    {% if login_error == 'user_not_active' %}
      {% trans "You have not verified your email yet." %}
    {% endif %}
  </p>
  {% endif %}

  <div>
    <ul id="external_providers">
      <li class="google">
        <a href="{#% url login_google %}?next={{ next }#}">
          <button class="google">{% trans "Log in with Google" %}</button>
        </a>
      </li>
      <li class="facebook">
        <a href="{% url login_facebook %}?next={{ next }}">
          <button class="facebook">{% trans "Log in with Facebook" %}</button>
        </a>
      </li>
      <li class="twitter">
        <a href="{#% url login_twitter %}?next={{ next }#}">
          <button class="twitter">{% trans "Log in with Twitter" %}</button>
        </a>
      </li>
    </ul>

    <div id="separator"><span>{% trans "or" %}</span></div>

    {% include "komoo_user/komoo_login_form.html" %}
  </div>

  <div class="clear-both"></div>
</section>
