{% load i18n %}
<section id="login">
  <header>
    {% trans "Log in" %}
  </header>

  <ul id="external_providers">
    <li class="facebook">
      <a href="{% url login_facebook %}?next={{ next }}">
        <button class="facebook">{% trans "Log in with Facebook" %}</button>
      </a>
    </li>
  </ul>

  {% if login_error %}
    Errors: <br/>
  {% endif %}

  {% if login_error == 'wrong_credentials' %}
    {% trans "Wrong credentials." %}
  {% endif %}

  {% if login_error == 'user_not_active' %}
    {% trans "User email is not verificated." %}
  {% endif %}

  <br/><br/>

  <form action="{% url user_login %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    <label for="email">Email</label>
    <input id="email" type="email" name="email"/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password"/>
    <br/>
    <input type="submit"/>
  </form>

</section>
