local_settings.py
*.pyc
*.*~
*.swp
*.egg-info
.idea/
.codeintel/
mootiro_komoo/.ropeproject/
build/
logs/
media/
komoo_index/
backups/
*.csv
*.kml
*.xls
.ropeproject/
celerybeat-schedule
mootiro_komoo/.sass-cache/
