*.pyc
*.*~
*.swp
*.egg-info
*.csv
*.kml
*.xls
.idea/
.codeintel/
.DS_Store
.ropeproject/
.build/
.sass-cache/
node_modules/
celerybeat-schedule
local_settings.py
fabfile/remote/secret.py
fabfile/*.conf
logs/*
!logs/README.txt
backups/*
!backups/README.txt
media/
public/
komoo_index/
importation
lib/elasticsearch/
supervisor/*.pid
supervisor/*.log
supervisor/*.conf
