{% load i18n %}

<div class="report-content" title="{% trans 'Notify inpropriate content, spam or other violations of the terms of use.' %}">
  <a class="report-content-btn {% if button_type == 'button' %}btn {% endif %}login-required {% if disabled %}disabled{% endif %}" href="#" data-app-label="{{ app_label }}" data-model-name="{{ model_name }}" data-id="{{ id }}" {% if disabled %}title="{% trans 'You have already send a report regarding this content.' %}"{% endif %}>
    {% if button_type == 'button' %}<i class="icon-flag"></i>{% endif %}<span>{% trans 'Submit report' %}</span>
  </a>
</div>
