.votable{
    min-height: 50px;
    min-width: 270px;
    background-color: rgba(82, 204, 215, 0.8);
    padding: 5px;
    /*background-image: -moz-linear-gradient(center bottom , rgb(64, 146, 169) 0%, rgb(62, 186, 194) 100%) !important;*/
    border-radius: 3px;
}
