.votable{
    min-height: 50px;
    min-width: 270px;
    background-color: rgb(235, 249, 255);
    padding: 5px;
    border-radius: 5px;
    border-color: rgb(62, 186, 194);
    border-style: solid;
    border-width: 1px;
}
.vote{
    display: inline-block;
    margin: 0 5px;
}
.vote-num{
    color: #777777;
    font-size: 0.9em;
    font-weight:bold;
    vertical-align: top;
    padding-bottom: 2px;
}
.vote-up a{
    display: inline-block;
    background: #dddddd url("/static/img/up.png") no-repeat center;
    padding: 3px;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    border: solid 1px #bbbbbb;
}
.vote-up a:hover{
    background-color: #cecece;
    box-shadow: 1px 1px 1px #666666 inset;
    background-image: url("/static/img/up-hover.png");
}
.vote-up.active a{
    display: inline-block;
    background: #dddddd url("/static/img/up-active.png") no-repeat center;
    padding: 3px;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    border: solid 1px #bbbbbb;
}
.vote-down a{
    display: inline-block;
    background: #dddddd url("/static/img/down.png") no-repeat center;
    padding: 3px;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    border: solid 1px #bbbbbb;
}
.vote-down a:hover{
    background-color: #cecece;
    box-shadow: 1px 1px 1px #666666 inset;
    background-image: url("/static/img/down-hover.png");
}
.vote-down.active a{
    display: inline-block;
    background: #dddddd url("/static/img/down-active.png") no-repeat center;
    padding: 3px;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    border: solid 1px #bbbbbb;
}
