{% extends "global.html" %}
{% load crispy_forms_tags %}
{% load komoo_tags %}

{% block title %}Proposal{% endblock %}

{% block menu %} {% menu community "need" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $(function(){
            $('#proposal_form').ajaxform();

            $('#proposal_form').komooFormHintBoxes();
        });
    </script>
{% endblock %}
