{% extends "global.html" %}
{% load crispy_forms_tags %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}Proposal{% endblock %}

{% block menu %} {% menu community "need" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">

    <div class='form-legend'>{% trans 'Form Proposal' %}</div>

    <div class='alert alert-info required-notice' data-alert='info'>
        <a class='required-notice-close close' data-dismiss='alert'>×</a>
        <div class='msg'>
            Os campos com asterisco (<strong>*</strong>) são obrigatórios!
        </div>
    </div>
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $(function(){
            $('#proposal_form').ajaxform();

            $('#proposal_form').komooFormHintBoxes();
        });
    </script>
{% endblock %}
