{% load i18n %}

{% with shown=communities|slice:":2" aggregated=communities|slice:"2:" %}
  {% for c in shown %}
    <a href="{{ c.view_url }}" class="update-community">
      <i class="icon-community-white"></i> {{ c.name }}
    </a>
  {% endfor %}

  {% if aggregated %}
    {% trans "and" %}
    <a class="more community" title="
      {% for c in aggregated %}
        <a href='{{c.view_url }}'>
          {{ c.name }}
        </a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    ">
    {% blocktrans count num=aggregated|length %}
      {{ num }} more
    {% plural %}
      {{ num }} more
    {% endblocktrans %}
    </a>
  {% endif %}
{% endwith %}

{% block page_scripts %}
  <script type="text/javascript">
    $(".more.community").komooTooltip();
  </script>
{% endblock %}
