{% load i18n %}
{% block js %}{{ form.media.js }}{% endblock %}

{% autoescape off %}
<ul class="geo-objects-listing">
  <li class="communities" title="{% trans 'ativar/desativar Comunidades' %}">
    <div class="item">
      <div class="img-holder" data-object-type="Community" >{{ form.communities }}</div>
      {% if not hide_names %}<span>{% trans "Communities" %}</span>{% endif %}
    </div>
  </li>
  <li class="needs" title="{% trans 'ativar/desativar Necessidades' %}">
    <div class="item">
      <div class="img-holder" data-object-type="Need">{{ form.needs }}</div>
      {% if not hide_names %}<span>{% trans "Needs" %}</span>{% endif %}
    </div>
    {% if show_categories %}
    <div class="collapser" title="{% trans 'Expandir lista de categorias das Necessidades' %}"><i class="icon-chevron-right"></i></div>
    {% endif %}
  </li>
  {% if show_categories %}
  <li class="need sublist">
    {{ form.need_categories }}
  </li>
  {% endif %}
  <li class="resources" title="{% trans 'ativar/desativar Recursos' %}">
    <div class="item">
      <div class="img-holder" data-object-type="Resource">{{ form.resources }}</div>
      {% if not hide_names %}<span>{% trans "Resources" %}</span>{% endif %}
    </div>
  </li>
  <li class="organizations" title="{% trans 'ativar/desativar Organizações' %}">
    <div class="item">
      <div class="img-holder" data-object-type="Organization">{{ form.organizations }}</div>
      {% if not hide_names %}<span>{% trans "Organizations" %}</span>{% endif %}
    </div>
  </li>
</ul>
{% endautoescape %}
