<div id="map-tooltip" class="map-tooltip">
  <div id="map-tooltip-container">
    <div id="map-tooltip-canvas" class="komoo-map-googlemap"></div>
  </div>
  <div class="close-bttn"><i class="icon-remove"></i></div></div>
<script type="text/javascript" charset="utf-8">
  require(['jquery', 'map.jquery'], function ($) {
    var $map = $('#map-tooltip-canvas').komooMap({
      type: 'tooltip',
      // should set 'force: true' because we are not setting a geometry info
      force: true,
      geojson: {},
      height: '400px',
      width: '400px'
    });
    var map = $map.data('map');
    window.tooltip = map;
  });
  $(function () {
      var $mapTooltip = $(".map-tooltip").hide();
       $(".map-tooltip .close-bttn").click(function () {
       $mapTooltip.hide();
      });

      var openMapBox = function (geojson, e) {
        var parsedGeojson = JSON.parse(geojson.replace(/\'/g, '"'));
        if (!(parsedGeojson && parsedGeojson['features'] && parsedGeojson['features'][0] && parsedGeojson['features'][0]['geometry'])) return false;
        var top = e.pageY - $mapTooltip.outerHeight(true) / 2;
        var left = e.pageX + 20;
        tooltip.clear();
        tooltip.googleMap.setMapTypeId(google.maps.MapTypeId.HYBRID);
        $mapTooltip.css({"left": left, "top": top}).show();
        google.maps.event.trigger(tooltip.googleMap, "resize");
        tooltip.loadGeoJSON(parsedGeojson, true);
        tooltip.features.show();
        return true;
      };

      $(".preview-on-map[data-geojson='{}'], .preview-on-map-ajax[data-model-name='organization']").addClass("disabled").removeAttr("href");
      $(".preview-on-map[data-geojson!='{}']").click(function (e) {
        var $this = $(this);
        var geojson = $this.attr("data-geojson");
        openMapBox(geojson, e);
        return false;
      });
      $(".preview-on-map-ajax[data-model-name!='organization']").click(function (e) {
        var isNotEmpty = true;
        var $this = $(this);
        var appName = $this.attr("data-app-name");
        var modelName = $this.attr("data-model-name");
        var objectId = $this.attr("data-object-id");
        var geojson = $this.attr("data-geojson");
        if (geojson) {
          isNotEmpt = openMapBox(geojson, e);
          if (!isNotEmpty)
            $this.addClass('disabled');
        } else {
          var url = dutils.urls.resolve('geojson',
              {app_label: appName, model_name: modelName, obj_id: objectId});
          $.ajax({
            url: url,
            success: function (data, textStatus, jqXHR) {
              $this.attr("data-geojson", data);
              isNotEmpty = openMapBox(data, e);
              if (!isNotEmpty)
                $this.addClass('disabled');
            },
            dataType: 'text'
          });
        }
        return false;
      });
  });
</script>

