{% load i18n %}

{% block title %}<strong>{{ object }}</strong>{% endblock %}
{% block content %}
  <div>
    {% if object.categories %}
      <ul class="horizontal" id="categories">
        {% for c in object.categories.all %}
        <li><img src="{{ STATIC_URL }}{{ c.image }}" title="{{ c.name }}" /></li>
        {% endfor %}
      </ul>
      <div style="clear: both;">
    {% endif %}
    <p>
    <ul>
      {% if object.needs %}
      <li><i class="icon-need no-hover"></i>{% blocktrans count counter=object.needs.count %}{{ counter }} Need{% plural %}{{ counter }} Needs{% endblocktrans %}</li>
      {% endif %}
      {% if object.organization_set %}
        <li><i class="icon-organization no-hover"></i>{% blocktrans count counter=object.organization_set.count %}{{ counter }} Organization{% plural %}{{ counter }} Organizations{% endblocktrans %}</li>
      {% endif %}
      {% if object.resources %}
        <li><i class="icon-resource no-hover"></i>{% blocktrans count counter=object.resources.count %}{{ counter }} Resource{% plural %}{{ counter }} Resources{% endblocktrans %}</li>
      {% endif %}
    </ul>
    </p>
  </div>
{% endblock %}
