{% extends 'global.html' %}

{% load i18n %}
{% load komoo_tags %}

{% block content %}

<div id="user-profile-edit-container">


        <!-- tab navigation -->
        <ul class="nav nav-tabs">
            <li><a href="#tab-pane-personal" data-toggle="tab">Personal Settings</a></li>
            <li class="active"><a href="#tab-pane-public" data-toggle="tab">Public Settings</a></li>
            <li><a href="#tab-pane-signatures" data-toggle="tab">Signatures</a></li>
        </ul>

        <!-- tab content section -->
        <div class="tab-content">

            <!-- Tab pane public settings -->
            <div class="tab-pane" id="tab-pane-public">
            </div>

            <!-- Tab pane personal settings -->
            <div class="tab-pane active" id="tab-pane-personal">
                <h3>Personal settings</h3>
            </div><!-- end of tab pane personal settings -->


            <!-- Tab pane signatures -->
            <div class="tab-pane div-profile-form" id="tab-pane-signatures">
            </div> <!-- end of signatures tab pane -->

        </div><!-- end of tab content-->
</div>
{% endblock %}

{% block css %}
    <style type="text/css">
        .horizontal-splitter{
            margin: 25px 0;
            border-top: solid 1px #cccccc;
            border-bottom: solid 1px #ffffff;
        }
        .profile-submit{
            margin-top: 30px;
            padding: 5px 20px;
            font-weight: bold;
        }
        .div_signature{
            padding-bottom: 10px;
        }
        .div_signature input{
            margin-right: 10px;
        }
        .div_signature span{
            font-weight: bold;
            color: #777777;
            text-shadow: 1px 1px 1px #ffffff;
        }
    </style>

{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $(function(){
            $('#profile-form').ajaxform();
        });
    </script>
{% endblock %}
