{% extends 'global.html' %}

{% load i18n %}
{% load komoo_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div id="user-profile-edit-container">


        <!-- tab navigation -->
        <ul class="nav nav-tabs">
            <li><a href="#tab-pane-personal" data-toggle="tab">Personal Settings</a></li>
            <li class="active"><a href="#tab-pane-public" data-toggle="tab">Public Settings</a></li>
            <li><a href="#tab-pane-signatures" data-toggle="tab">Signatures</a></li>
        </ul>

        <!-- tab content section -->
        <div class="tab-content">

            <!-- Tab pane personal settings -->
            <div class="tab-pane active" id="tab-pane-personal">

                {% crispy form_profile form_profile.helper %}
            </div><!-- end of tab pane personal settings -->


            <!-- Tab pane public settings -->
            <div class="tab-pane" id="tab-pane-public">
            </div>


            <!-- Tab pane signatures -->
            <div class="tab-pane div-profile-form" id="tab-pane-signatures">
            </div> <!-- end of signatures tab pane -->

        </div><!-- end of tab content-->
</div>
{% endblock %}

{% block css %}
    <style type="text/css">
        #user-profile-edit-container .tab-content{
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block page_scripts %}
    {{ form_profile.media }}
    <script type="text/javascript">
        $(function(){
            $('#profile-form').ajaxform();

            $('#profile-form').komooFormHintBoxes({
                'contact': {
                    hint: 'Este Contanto ficará visível para outros usuários do MootiroMaps!'
                }
            });

        });
    </script>
{% endblock %}
