<div class="section">
  <div class="section-header">
    <hr/>
    <span>{% if hs.icon_src %}<img src="{{ hs.icon_src }}">{% endif %}{{ hs.name }}</span>
  </div>
  <ul class="{% if hs.hide_short_description %}small-highlight-section{% endif %}">
    {% for h in hs.highlights %}
    <li>
      <a href="{{h.object.view_url}}">
        <div class="logo">
          <img src="{{h.image1_urlpath}}" class="img1">
          <img src="{{h.image2_urlpath}}" class="img2">
        </div>
        <h3>{{h.object.name}}</h3>
        {% if not hs.hide_short_description %}
        <p>{% firstof h.object.short_description '' %}</p>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% if hs.link_url and hs.link_text %}
  <div class="apart">
    <a class="right" href="{{ hs.link_url }}">{{ hs.link_text }}</a>
  </div>
  <div class="clear-both"></div>
  {% endif %}
</div>
