{% extends 'global.html' %}

{% load i18n %}

{% block content %}
  <div id="main-content">
    <div class="main-column">
      
      <h1>{{ importsheet.name }}</h1>
      <p>
        {{ importsheet.description }}
        <br/>
        <br/>
        <span class="meta-info">Google Spreadsheet link:</span><br/>
        <a href="https://docs.google.com/spreadsheet/ccc?key={{ importsheet.spreadsheet_key }}">https://docs.google.com/spreadsheet/ccc?key={{ importsheet.spreadsheet_key }}</a>
        {% if importsheet.fusion_table_key %}
        <br/>
        <br/>
        <span class="meta-info">Google Fusion Table link:</span><br/>
        <a href="https://www.google.com/fusiontables/data?docid={{ importsheet.fusion_table_key }}">https://www.google.com/fusiontables/data?docid={{ importsheet.fusion_table_key }}</a>
      </p>
      {% endif %}
      <br/>
      
      {% if not success %}
        <h2>
          {% trans "Some error ocurred!" %} :(<br/>
          <a href="{% url importsheet_show importsheet.id %}">Go back to simulation page</a>.
        </h2>
      {% endif %}
      {% if importsheet.inserted_objects %}
        <h2>
          {{ importsheet.inserted_objects|length }} {% trans "objects were added." %}<br/>
        </h2>
        <ul>
          {% for obj in importsheet.inserted_objects %}
            <li>
              <a href="{{ obj.view_url }}">{{ obj.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
