{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load upload_tags %}
{% load i18n %}

{% block menu %} {% menu "need" %} {% endblock %}

{% block content %}
  {% komoo_map geojson 'type=editor' 'width=100%' 'height=100%' 'zoom=13' 'panel=' 'lazy=True' %}
  <div id="main-content">
    <div class="main-column">

      {% if need %}
      <div class='form-legend'>{% trans 'Edit Need' %}</div>
      {% else %}
      <div class='form-legend'>{% trans 'New Need' %}</div>
      {% endif %}

      <div class='alert alert-info required-notice' data-alert='info'>
          <a class='required-notice-close close' data-dismiss='alert'>×</a>
          <div class='msg'>
              Os campos com asterisco (<strong>*</strong>) são obrigatórios!
          </div>
      </div>

      {% crispy form form.helper %}
    </div>

    {% if need %}
    <div class="right-bar">
      {% komoo_map geojson 'type=preview' 'edit_button=True' %}
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
  <script type="text/javascript" src="/static/js/ajax_select.js"></script>
{% endblock %}

{% block page_scripts %}
    {% load_files need %}
    <script type="text/javascript">
      $(function(){
        $('#need_form').ajaxform();

          $('#need_form').komooFormHintBoxes({
            'title': {
              top: '-8px',
              hint: 'Coloque um título que resuma a necessidade. Ex: "Asfaltar a rua X"'
            },
            'description': {
              top: '45%',
              hint: 'Coloque detalhes da necessidade. Explique o problema, suas causas, quem é prejudicado pelo problema, etc.'
            },
            'categories': {
              hint: 'Informe onde sua necessidade se encaixa, qual é o tipo dela. Você pode escolher mais de um tipo. Ex.: "Asfaltar a rua X" -> Mobilidade',
              top: '-35px'
            },
            'target_audiences': {
              hint: 'As pessoas que essa necessidade afeta.'
            },
            'tags': {
              hint: 'Coloque palavras que ajudem a ilustrar a necessidade, tal como "asfalto", "rua", "transporte".',
              top: '-18px'
            },
            'files': {
              hint: 'Coloque fotos, quando possível, da necessidade, como por exemplo, fotos de um buraco, ou lixo, ou falta de asfalto...',
              top: '-32px'
            }
          });

      })
    </script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      [
        "need:name",
        "need:description",
        "need:categories",
        "need:target_audience"
      ]
    );
  </script>
{% endblock %}
