.about {
	* {
	    -webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
			    box-sizing: border-box;
	}

	padding: 0px 30px 15px !important;

	.items {
		.topic {
			display: inline-block;
			width: 33%;
			padding: 5px;
			vertical-align: top;
			text-align: left;

			h3 {
				font-size: 1.2em;
			}

			img {
			  width: 100%;
			}
		}
	}

	> div:nth-child(even) {
		background: #eff8fb !important;
	}
}
