#donate {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 1.5em 45px 0.5em;

    h2 {
        color: #333;
        font-size: 20px;
        font-weight: 400;
    }

    -webkit-border-radius: 0 40% 40% 0;
       -moz-border-radius: 0 40% 40% 0;
            border-radius: 0 40% 40% 0;

    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);

    background: #ededed url("../img/frontpage/pig.png") no-repeat 0.8em 2.5em;
}
#donate:hover {
    // +0.5em left padding to the hover effect
    padding-left: 1em;
    background-position: 1.3em 2.5em;
    background-image: url("../img/frontpage/pig-hover.png");
}

#main-content.frontpage {
    width: 900px;

    > div { padding: 20px }
    > div:nth-child(even) { background: #EDEDED }
    .center { text-align: center }

    .initial-heading {
        font-size: 34px;
        letter-spacing: -1px;
        font-weight: 400;
        img {
            vertical-align: bottom;
            position: relative;
            top: 10px;
            margin-right: 10px;
        }
    }

    div.video {
        margin: 30px;
        text-align: center;
    }

    > div.what-is-it-for {

        * {
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }

        a { color: inherit }
        a:hover { text-decoration: none }

        div.topic {
            h3 {
                display: inline-block;
                padding: 0.5em 1em;
                margin-bottom: 1em;
                border-bottom: 1px solid #057D90;
                width: 100%;
                
                font-size: 20px;
                text-align: center;
                color: #057D90;
            }

            p {
                padding: 0.5em 0.2em 0;
            }

            vertical-align: top;
            display: inline-block;

            width: 19%;
            margin: 0 0.35%;
        }

        div.topic:hover {
            background: #f0f0f0;
            h3 { background: #B1DDE8 }
        }
    }

    > div.projects {
        .flexslider {
            width: 800px;
            height: 150px;
            position: relative;
            left: 50%;
            margin-top: 20px;
            margin-left: -400px;

            img {
                max-width: 220px;
                max-height: 140px;
            }

            .testimony {
                width: 450px;
                height: 100px;
                position: relative;
                left: 250px;

                font-size: 16px;
                font-style: italic;
                text-align: justify;

                .author-info {
                    float: right;
                    text-align: right;
                    margin-top: 0.5em;
                    font-size: 80%;
                    max-width: 80%;
                    display: inline-block;
                }
            }

            .aldeias-infantis {
                img { margin-left: 30px }
                p { margin-top: 15px }
            }
            .heliopolis-verde {
                img { margin-left: 35px }
                p { margin-top: 0 }
            }
            .bairro-educador {
                img { margin-left: 40px }
                p { margin-top: 20px }
            }
        }

    }

    > div.news {
        > div {

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;

            display: inline-block;
            vertical-align: top;
            width: 45%;
            margin: 1%;

            h3{ text-indent: 5px }
        }

        li {
            :hover { background: #dceff4 }
            a {
                display: block;
                padding: 5px;
                text-decoration: none;
            }
            img.apart { margin-right: 0.2em }
        }
        .last_updates li a {
            color: inherit;
        }
    }

    > div.account { text-align: center }
}

/* Fix */
.flexslider {
    background: none;
    border: none;
    box-shadow: none;
    margin-bottom: 30px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 35px;

    > ul.slides li {
        position: relative;
    }

    .slides img {
        width: auto;
        height: auto;
        position: absolute;
    }
}
