@mixin highlight-item($logo_height) {
    $pad: 8px;

    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: $pad;
    margin: 5px 0.5%;

    background: #ededed;
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    a {
        display: block;
        text-decoration: inherit;
        color: inherit;
        height: 100%;
    }

    .logo {
        position: relative;
        width: 100%;
        height: $logo_height;
        text-align: center;
        line-height: $logo_height;
        img {
            display: inline;
            margin: auto;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
        }
    }

    h3 { margin: 5px 0; text-align: center; }
}
@mixin highlight-item-hover {
    background: #dceff4;
}

#main-content.highlights {
    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    h1 {
        margin: 0 0 1em;
        display: inline-block;
    }
    
    .new-project { margin-top: 30px }

    .section-header {
        height: 20px;
        position: relative;
        margin: 1em 0 0.5em;

        font-size: 16px;
        font-weight: bold;

        hr {
            position: absolute;
            width: 100%;
            top: 50%;
            margin: 0;
            border-top-color: #ededed;
        }

        span {
            position: absolute;
            background: #fff;
            padding: 0 0.5em;
            margin-left: 30px;

            img {
                vertical-align: bottom;
                margin-right: 0.5em;
            }
        }
    }

    .section {
        ul.small-highlight-section { height: 270px }
        ul {
            height: 400px;
            padding: 0 30px;

            li {
                $logo_height: 195px;
                @include highlight-item ($logo_height);

                position: relative;
                width: 32%;
                height: 100%;
                
                h3 { max-height: 60px }
                h3, p { overflow: hidden }

                .logo, .map-preview-container {
                    width: 266px;
                    height: $logo_height;
                }

                .logo {
                    display: inherit;
                    position: absolute;
                    margin-bottom: 15px;
                    z-index: 1000;
                    background-color: #ededed;
                }
            }

            li:hover {
                @include highlight-item-hover;
                div.logo { display: none }
            }
        }
    }

    .my-projects-section {
        $sz: 150px;

        .flexslider {
            width: 950px;
            left: 50%;
            margin-left: -475px;

            img { position: relative }

            ol.flex-control-nav { display: none }
            .flex-disabled { display: none }

            ul.slides {
                height: auto;

                li {
                    @include highlight-item(70px);

                    width: $sz;
                    height: $sz;
                    margin: 4px;

                    p {
                        height: 4em;
                        margin-top: 0.5em;
                        overflow: hidden;
                    }
                }

                li:hover { @include highlight-item-hover }
            }
        }
    }

}

a.big-button {
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: inherit;

    .ico {
        display: inline-block;
        vertical-align: -33%;
        margin-right: 0.2em;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

a.project-btn { background: #f26700 }
.new.project-btn .ico { background-image: url('../img/menu/newmenu/projects-active.png') }
