$facebook_blue: #3c5a98;
$google_red: #d84a38;
$twitter_blue: #46c8f5;
$login_box_width: 560px;


#main-content > #login_box { display: block }


form#form_login {
  // Simple login form for internal accounts (not external providers).

  width: $login_box_width * 0.5;

  input {
    width: 100%;
    height: 28px;
  }

  input[type=submit] {
    width: 100%;
    padding: 3px 6px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    @include gradient(#1e9c5b, darken(#1e9c5b, 15%));
  }

  span {
    margin-bottom: 5px;
    display: block;
  }
}


#login_box {
  // Login box with login form and external login providers

  background: #dceff4;
  width: $login_box_width;
  display: none;

  * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  h1 {
    text-align: center;
    font-size: 20px;
  }

  .errors {
    color: #c00;
    text-align: center;
  }

  ul#external_providers, div#separator, form {
    float: left;
  }

  ul#external_providers, form {
    padding: 10px;
  }

  ul#external_providers {
    width: $login_box_width * 0.4;

    li {
      margin: 15px 0;

      button {
        width: 100%;
        padding: 3px 6px;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 13px;

        img {
          width: 22px;
          height: 22px;
          float: left;
          display: block;
        }
      }

      button.google { background: $google_red }
      button.google:hover { background: lighten($google_red, 20%%) }
      button.facebook { background: $facebook_blue }
      button.facebook:hover { background: lighten($facebook_blue, 20%%) }
      button.twitter { background: $twitter_blue }
      button.twitter:hover { background: lighten($twitter_blue, 20%%) }
    }
  }

  div#separator {
    width: $login_box_width * 0.10;
    $separator_height: 130px;
    height: $separator_height;
    text-align: center;
    line-height: $separator_height;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;

    position: relative;

    .vertical_line {
      position: absolute;
      left: 50%;
      height: $separator_height * 0.35;
      border-left: 1px solid #333;
      width: 1px;
    }
    .vertical_line.top { top: 0 }
    .vertical_line.bottom { bottom: 0 }
  }

}

#user_verification {
  div.check_email {
    height: 400px;

    img, .message {
      position: absolute;
    }

    .message {
      width: 320px;
      left: 450px;
      top: 260px;
    }

    h1, p {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }
}
