#main-content.project {
    $tab-border-color: silver;

    width: 100%;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;

    > div {
        width: 950px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .main-column {
        width: 620px;
        margin-right: 10px;
    }

    .main-column.right {
        margin-left: 10px;
        margin-right: 0px;
    }

    .left-bar,
    .right-bar {
        width: 300px;
    }

    .tabs {
        margin: 10px 0px 40px !important;
        width: 100% !important;
        border-bottom: solid 1px $tab-border-color;
        font-size: 0.9em;

        > ul {
            width: 950px;
            margin: 0 auto;
            list-style: none;

            .tab {
                 @include border-radius(5px 5px 0px 0px);
                 display: inline-block;
                 margin: 0 5px -1px;
                 padding: 3px 0;
                 border: solid 1px transparent;

                 > a {
                    padding: 3px 30px;
                    text-decoration: underline;
                 }

            }
            > .tab.selected {
                border: solid 1px $tab-border-color;
                border-bottom: solid 1px white;

                > a {
                    color: black;
                    text-decoration: none;
                }
            }
         }
    }

    .tab-content {
        overflow: visible;
    }

    .view-info-contributor {
        display: inline-block;
        width: 225px;
        margin: 5px;
        clear: both;
        vertical-align: top;

        .avatar {
            width: 64px;
            margin: 5px;
            float: left;
            vertical-align: top;
        }

        .name {
            display: inline-block;
            width: 150px;
            margin-top: 15px;
        }
    }

}
