{% load i18n %}

{% autoescape off %}
<ul class="geo-objects-listing" style="display: block; clear: both;">
  <li class="communities" data-object-type="Community" data-geometry-type="polygon">
    <div class="img-holder"><img src="{{ STATIC_URL }}/{{ img.communities }}" /></div>
    <span>{% trans "Communities" %}</span>
  </li>
  <li class="needs" data-object-type="Need">
    <div class="img-holder"><img src="{{ STATIC_URL }}/{{ img.needs }}" /></div>
    <span>{% trans "Needs" %}</span>
    <div class="collapser"><i class="icon-chevron-right"></i></div>
  </li>
  <li class="need sublist" data-object-type="Need">
    <ul>
      <li class="add shape" data-geometry-type="polygon">{% trans "Add shape" %}</li>
      <li class="add line" data-geometry-type="polyline">{% trans "Add line" %}</li>
      <li class="add point" data-geometry-type="marker">{% trans "Add point" %}</li>
    </ul>
  </li>
  <li class="organizations" data-object-type="OrganizationBranch">
    <div class="img-holder"><img src="{{ STATIC_URL }}/{{ img.organizations }}" /></div>
    <span>{% trans "Organizations" %}</span>
    <div class="collapser"><i class="icon-chevron-right"></i></div>
  </li>
  <li class="organizationbranch sublist" data-object-type="OrganizationBranch">
    <ul>
      <li class="add shape" data-geometry-type="polygon">{% trans "Add shape" %}</li>
      <li class="add line" data-geometry-type="polyline">{% trans "Add line" %}</li>
      <li class="add point" data-geometry-type="marker">{% trans "Add point" %}</li>
    </ul>
  </li>
  <li class="resources" data-object-type="Resource">
  <div class="img-holder"><img src="{{ STATIC_URL }}/{{ img.resources }}" /></div>
    <span>{% trans "Resources" %}</span>
    <div class="collapser"><i class="icon-chevron-right"></i></div>
  </li>
  <li class="resource sublist" data-object-type="Resource">
    <ul>
      <li class="add shape" data-geometry-type="polygon">{% trans "Add shape" %}</li>
      <li class="add line" data-geometry-type="polyline">{% trans "Add line" %}</li>
      <li class="add point" data-geometry-type="marker">{% trans "Add point" %}</li>
    </ul>
  </li>
</ul>
{% endautoescape %}
