{% load i18n %}
{% if collection.paginator.num_pages > 1 %}

<!-- evil widget is evil !!! -->

{% with num=collection.number total=collection.paginator.num_pages %}
<div class="komoo-pagination" title='pag {{ num }} de {{ total }}'>
{% endwith %}

  <!-- <span class="step-links">
      {% if collection.has_previous %}
        <span>
          <a href="?page={{ collection.previous_page_number }}">{% trans 'previous' %}</a>
        </span>
      {% endif %}

      <span class="current">
          {% blocktrans with num=collection.number total=collection.paginator.num_pages %}Page {{ num }} of {{ total }}.{% endblocktrans %}
      </span>

      {% if collection.has_next %}
        <span>
          <a href="?page={{ collection.next_page_number }}">{% trans 'next' %}</a>
        </span>
      {% endif %}
  </span> -->
  {% if collection.previous_page_number > 1 and collection.paginator.num_pages > 3 %}
    <span>
      <a href="#" page="1">
        &lt;&lt; {% trans 'first' %}
      </a>
    </span>
  {% endif %}

  {% if collection.has_previous %}
    <span>
      <a href="#" page="{{ collection.previous_page_number }}">
        &lt; {% trans 'previous' %}
      </a>
    </span>
  {% endif %}

  {% if collection.previous_page_number > 1 and collection.paginator.num_pages > 3 %}
  <span>
     ...
  </span>
  {% endif %}

  {% if not collection.has_next and collection.paginator.num_pages > 2 %}
    <span>
      <a href='#' page='{{ collection.previous_page_number|add:"-1" }}'>
        {{ collection.previous_page_number|add:"-1" }}
      </a>
    </span>
  {% endif %}

  {% if collection.has_previous %}
  <span>
    <a href="#" page="{{ collection.previous_page_number }}">
      {{ collection.previous_page_number }}
    </a>
  </span>
  {% endif %}

  <span class="current-page">
    {{ collection.number }}
  </span>

  {% if collection.has_next %}
  <span>
    <a href="#" page="{{ collection.next_page_number }}">{{ collection.next_page_number }}</a>
  </span>
  {% endif %}

  {% if not collection.has_previous and collection.paginator.num_pages > 2 %}
    <span>
      <a href='#' page='{{ collection.next_page_number|add:"1" }}'>
        {{ collection.next_page_number|add:"1" }}
      </a>
    </span>
  {% endif %}

  {% if collection.next_page_number < collection.paginator.num_pages and collection.paginator.num_pages > 3 %}
  <span>
     ...
  </span>
  {% endif %}

  {% if collection.has_next %}
    <span>
      <a href="#" page="{{ collection.next_page_number }}">
        {% trans 'next' %} &gt;
      </a>
    </span>
  {% endif %}

  {% if collection.next_page_number < collection.paginator.num_pages and collection.paginator.num_pages > 3 %}
  <span>
    <a href="#" page="{{ collection.paginator.num_pages }}">
      {% trans 'last' %} &gt;&gt;
    </a>
  </span>
  {% endif %}

</div>
<script type="text/javascript" charset="utf-8">
  $('.komoo-pagination a').click(function(evt){
      evt.preventDefault();
      urlVars = getUrlVars();
      $el = $(evt.target);
      urlVars['page'] = $el.attr('page');
      setUrlVars(urlVars)
      return false;
  });
</script>
{% endif %}
