{% load i18n %}

{% with shown=users|slice:":2" aggregated=users|slice:"2:" %}
  {% for user in shown %}
    {% if user.id %}
      <a href='{% url user_profile user.id %}'>{{ user.name }}</a>{% if not forloop.last %},{% endif %}
    {% else %}
      {{ user.name }}{% if not forloop.last %},{% endif %}
    {% endif %}
  {% endfor %}

  {% if aggregated %}
    {% trans "and" %}
    <a class="more user" title="
      {% for user in aggregated %}
        {% if user.id %}
          <a href='{% url user_profile user.id %}'>{{ user.name }}</a>{% if not forloop.last %},{% endif %}
        {% else %}
          {{ user.name }}{% if not forloop.last %},{% endif %}
        {% endif %}
      {% endfor %}
    ">
    {% blocktrans count num=aggregated|length %}
      {{ num }} more user
    {% plural %}
      {{ num }} more users
    {% endblocktrans %}
    </a>
  {% endif %}
{% endwith %}

{% block page_scripts %}
  <script type="text/javascript">
    $(".more.user").komooTooltip();
  </script>
{% endblock %}
