{% load i18n %}
<div class="view-list-visualization">
  <div class="view-list-visualization-header" title="Menu de opções de filtros e ordenadores para esta listagem.">
    {% trans 'Visualization and Filtering options' %}<!--i class="icon-chevron-down"></i-->
  </div>
  <div class="view-list-visualization-options" style="">
      {% if sorters %}
      <div class="view-list-sorters">
        <div class="view-list-filter-title">{% trans 'Sort by' %}:</div>
        {% for field in sorters %}
        <div class="view-list-sorter-btn" sorter-name="{{ field.1 }}">
          {{ field.0 }}
        </div>
          {% if 'date' in field.1 %}
          <div class="date-sorter-order">
            <div order='asc' title="ordem ascendente (mais antigos primeiro)"><i class="icon-chevron-up icon-blue"></i></div>
            <div order='desc' title="ordem descendente (mais recentes primeiro)"><i class="icon-chevron-down icon-blue" ></i></div>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}

      {% if filters %}
      <div class="view-list-filters">
        <div class="view-list-filter-wrapper">
        <div class="view-list-filter-title">{% trans 'Filter by' %}:</div>
        {% for filter in filters %}
        <div class="view-list-filter-btn" filter-name="{{ filter.0 }}">
          <div class="view-list-filter-name">{{ filter.1 }}</div>
        </div>
        {% endfor %}
        </div>

        <div class="view-list-filter-input">
          {% for filter in filters %}
          <div class="view-list-filter-widget-wrapper" widget-for="{{ filter.0 }}" style="display: none;">
          <div class="view-list-filter-widget-label">
            {{ filter.1 }}
          </div>
          <div class="view-list-filter-widget" widget-for="{{ filter.0 }}">
            {{ filter.2|safe }}
          </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

    {% if sorters or filters %} 
      <div class="doFilter-wrapper">
          
          <div class="btn" id="doFilter">
              {% trans 'Apply' %}
          </div>
      </div>

      <div class="block">
          <header class="projects-tag-header">
              <img src="/static/img/menu/project.png">
              <span class="projects-tag-title">Project</span>
          </header>
          <section>
              <ul id="project-related-list"> 
              </ul>
              <div class="centralizer apart">
                  <a href="#" id="add-to-project" class="button login-required">Add to a project</a>

              </div>
         </section>
      </div>


<!-- Modal form for adding this project to a project -->
      <div class="modal hide" id="add-project-modal" style="display:none;">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <div class="add-project-modal-header">
                  {% trans 'Add these results to a project' %}
              </div>
          </div>
          <div class="modal-body">
        <p>
        </p><div class="project-selector">
             
        
        <input type="hidden" name="project" value="" id="id_project">
        <input type="text" id="id_project_autocomplete" value="">
        <script type="text/javascript"><!--//
          
        $("#id_project_autocomplete").autocomplete({
            source: "/project/search_by_name",
            focus: function(event, ui) {
                $("#id_project_autocomplete").val(ui.item.label);
                return false;
            },
            select: function(event, ui) {
                $("#id_project_autocomplete").val(ui.item.label);
                $("#id_project").val(ui.item.value);
                return false;
            },
            change: function(event, ui) {
                
                if(!ui.item || !$("#id_project_autocomplete").val()){
                    $("#id_project").val('');
                    $("#id_project_autocomplete").val('');
                }
            
            }
         });

        
        //-->
      </script>
        

            <input type="hidden" id="project_related_object_id" value="44">
            <input type="hidden" id="project_related_contenttype" value="17">
        </div>
        
        <div class="add-project-msg">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" id="add-project-cancel">
            Cancelar
        </a>
        <a href="#" class="button" id="add-project-save">
            Salvar mudanças
        </a>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $('#add-to-project').click(function(evt){
        if (isAuthenticated){
          $('#add-project-modal').modal('show');
        }
        return false;
    });
    $( "#id_project_autocomplete" ).bind( "autocompleteselect", function(event, ui) {
        $('.add-project-msg').html(
            '<p>' +
                'Este objeto será adicionado ao projeto <strong>' +
                ui.item.label + '</strong>' +
            '</p>'
        );
    });
    $('#add-project-save').click(function(){
        //save proj related object
        '{% for org in organizations.object_list %}
          'alert(" Esasdfasdf")'
          {%endfor%}' 
        $.post(
            '/project/add_related/',
            {
                object_id: $('#project_related_object_id').val(),
                content_type: $('#project_related_contenttype').val(),
                project_id: $('#id_project').val(),
            },
            function(data){
                if (data.success) {
                    if (! $('#project-related-list li[project-id=' + data.project.id + ']').length){
                        $('#project-related-list').append('' +
                            '<li project-id="' + data.project.id + '">' +
                                '<a href="' + data.project.link + '">' +
                                        data.project.name +
                                '</a>' +
                            '</li>'
                        );
                    }
                } else {
                    alert('Falha ao relacionar este objeto ao projeto selecionado');
                }
            },
            'json'
        );
        $('#id_project_autocomplete').val('');
        $('#id_project').val('');
        $('.add-project-msg').html('');
        $('#add-project-modal').modal('hide');
    });
    $('#add-project-cancel').click(function(evt){
        evt.preventDefault();
        $('#id_project_autocomplete').val('');
        $('#id_project').val('');
        $('.add-project-msg').html('');
        $('#add-project-modal').modal('hide');
        return false;
    });

    </script>
  </div>

  {% endif %}
</div>


