{% extends 'global.html' %}
{% load i18n %}

{% block content %}
    <div class="err-msg not-found-error">
      <div class="content">
        <h1>{% trans 'The page you are looking for does not exist.' %}</h1>
        <div class="block">
          <h4>{% trans 'Try to search the page here' %}</h4>
          <p></p>
          <p>
            <form class="ajax-search">
              <input disabled="disabled" />
            </form>
          </p>
        </div>
        <div class="block">
          <h4>{% trans 'Ask for help' %}</h4>
          <p></p>
          <p>
            <a href="mailto:ajuda@mootiro.org">ajuda@mootiro.org</a>
          </p>
        </div>
        <div class="block">
          <h4>{% trans 'Take a look at some important links' %}</h4>
          <p></p>
          <p>
            <ul class="two-cols">
              <li><a href="{% url list_communities %}"><i class="icon-community no-hover"></i> {% trans 'Communities' %}</a></li>
              <li><a href="{% url resource_list %}"><i class="icon-resource no-hover"></i> {% trans 'Resources' %}</a></li>
              <li><a href="{% url need_list %}"><i class="icon-need no-hover"></i> {% trans 'Needs' %}</a></li>
              <li><a href="{% url investment_list %}"><i class="icon-investment no-hover"></i> {% trans 'Investments' %}</a></li>
              <li><a href="{% url organization_list %}"><i class="icon-organization no-hover"></i> {% trans 'Organizations' %}</a></li>
              <li><a href="{% url hotsite %}"><i class="icon-help no-hover"></i> {% trans 'Help' %}</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
{% endblock %}

{% block css %}
    <style type="text/css">
        .err-msg{
            width: 100%;
        }
        .err-msg h1{
            white-space: nowrap;
            color: red;
            font-size: 20px;
            margin: 0px auto 30px auto;
        }
    </style>
{% endblock %}
