<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}MootiroKomoo!{% endblock %}</title>
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles.css" />
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.min.js"></script>
    {{ form.media.js }}
    {% block css %}{% endblock %}
  </head>
  <body>
    <!-- Mootiro_bar goes here -->
    <div id="root">
      <div id="logo">LOGOO<br/>&nbsp;TIPO</div>
      <div id="top">
        <ul id="menu">
          <li>Mapa</li>
          <li>Comunidades</li>
          <li>Necessidades</li>
          <li>Organizações</li>
          <li>Recursos</li>
          <li>Financiadores</li>
        </ul>
        <br/>
        <div id="search">
          <input type="text" id="search-bar"/>
          <input type="submit" id="search-button" class="button" value="Search"/>
        </div>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block page_scripts %}{% endblock %}
  </body>
</html>
