{% load komoo_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}MootiroKomoo!{% endblock %}</title>
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css" />
    <script type="text/javascript" src="{% url javascript_catalog %}"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.conf.urls.js"></script>
    <!-- Our utilities lib -->
    <script type="text/javascript">var isAuthenticated = {{ user.is_authenticated|lower }};</script>
    <script type="text/javascript" src="/static/js/komoo_utils.js"></script>

    {{ form.media.js }}
    {% block css %}{% endblock %}
  </head>
  <body class="{% if community %}community{% endif %}">
    <!-- Mootiro_bar goes here -->
    <div id="root">
      <div id="top">
        <div id="logo">
          <a href="{% url root %}"><img src='{{STATIC_URL}}img/logo.png' alt='Mootiro Maps'/></a>
        </div>
        <div id="navigation">

          <form id="search" action=".">
            <input type="text" id="search-bar"/>
            <input type="submit" id="search-button" class="button" value="Search"/>
          </form>
          {% block menu %}
            {% with obj=community selected_area="" %}
              {% menu obj selected_area %}
            {% endwith %}
          {% endblock %}

        </div>

      {% with c=community %} {% community_tabs c %} {% endwith %}

      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block page_scripts %}{% endblock %}
  </body>
</html>
