{% extends "global.html" %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load project_tags %}
{% load i18n %}

{% block title %}{% trans 'Needs' %}{% endblock %}

{% block menu %} {% menu "need" %} {% endblock %}

{% block content %}
<div id="main-content">
  <div class="highlight">
    <div class="button-new">
      <a class="button login-required" href="{% url new_need %}" title="{% trans 'Add new needs or community demands, for example, streets to be fixed, waste disposal, broken street lights.' %}">{% trans 'Create new need' %}</a>
    </div>
    <div class="view-list">
      <div class="view-list-top">

        <div class="view-list-count">
          {% blocktrans count counter=needs_count %}{{ counter }} need{% plural %}{{ counter }} needs{% endblocktrans %}
        </div>

        <div class="view-list-pagination">
          {% pagination needs %}
        </div>

        {% visualization_opts 'need' "sorters=['name','creation_date']" "filters=['tags','community', 'need_categories', 'target_audiences']"%}

      </div>

      {% for need in needs.object_list %}
      <div class="view-list-item {% cycle 'odd' '' %}">
        <h4>
          <span class="apart big">
            <a href="{{ need.view_url }}"> {{ need.name }} </a>
            {% if need.community.all.count %}
            {% trans 'at' %}
            {% for comm in need.community.all %}
              <a href="{% url view_community comm.id %}">{{ comm.name }}</a>
              {% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
            {% endfor %}
            {% endif %}
          </span>
          <a class="small preview-on-map list-map-preview" href="#" data-geojson="{% geojson need %}" title="{% trans 'View on map' %}">
            <i class="icon-see-on-map"></i>
          </a>
          <ul class="horizontal">
            {% for c in need.categories.all %}
            <li><img src="{{ STATIC_URL }}{{ c.image }}" title="{%trans c.name %}" /></li>
            {% endfor %}
          </ul>
          <div class="clear-both"></div>
          {% comments_summary need %}
        </h4>
        <p>
          <span class="meta-info">{% trans 'Target audiences' %}</span> {{ need.target_audiences.all|join:", " }}
        </p>
        <p>{{ need.description|render_markup|safe }}</p>

        <div class="view-list-footer">
          {% if need.tags.count %}
          <div class="view-list-item-tags">
            {% taglist need %}
          </div>
          {% endif %}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  {% pagination needs %}
</div>
{% komoo_map_tooltip %}
{% endblock %}

{% block page_scripts %}
  {% visualization_opts_js %}
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      [
        "need:what_is",
        "need:why",
        "need:discuss",
        "need:proposal",
      ],
      'need_list'
    );
  </script>
{% endblock %}
