{% extends 'global.html' %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load project_tags %}
{% load i18n %}

{% block title %}{% trans 'Resources' %}{% endblock %}

{% block menu %} {% menu "resource" %} {% endblock %}

{% block content %}
  <div id="main-content">

  <div class="highlight">

    <div class="button-new">
      <a class="button login-required" href="{% url new_resource %}" title="{% trans 'Add new resource, for example, a library, a public park or a playground.' %}">{% trans "Create new resource" %}</a>
    </div>

    <div class="view-list-top">
      <div class="view-list-count">
            {% blocktrans count counter=resources_count %}{{ counter }} resource{% plural %}{{ counter }} resources{% endblocktrans %}
      </div>
      <div class="view-list-pagination">
        {% pagination resources %}
      </div>

      {% visualization_opts 'resource' "filters=['tags','community']" "sorters=['name', 'creation_date']" %}
    </div>


  {% for resource in resources.object_list %}

    <div class="view-list-item {% cycle 'odd' '' %}">

      <h4>
        <span class="apart">
          <a href="{{ resource.view_url }}">{{ resource.name }}</a>
          {% if resource.community.count %}
            &nbsp;{% trans 'at' %}&nbsp;
            {% for comm in resource.community.all %}
              <a href="/{{ comm.slug }}/about/">{{ comm.name }}</a>
              {% if not forloop.last %}
                &nbsp;|&nbsp;
              {% endif %}
            {% endfor %}
          {% endif %}
        </span>
        <a class="small preview-on-map list-map-preview" href="#" data-geojson="{% geojson resource %}" title="{% trans 'View on map' %}">
            <i class="icon-see-on-map"></i>
        </a>
        <div class="view-list-reactions">
          {% comments_summary resource %}
        </div>


      </h4>

      <p class="clear-both">
        <strong>{% trans 'Content type' %}</strong> {% firstof resource.kind '---' %}
      </p>
      <p>
        {{ resource.description|description_markdown_preview|safe }}
      </p>

      {% if resource.files_set.count %}
        {% for f in resource.files_set|slice:"10" %}
          <span><img src="{{ f.file.url }}" style="width:80px; height:60px;"></span>
        {% endfor %}
      {% endif %}

      <div class="view-list-footer">
        {% if resource.tags.count %}
        <div class="view-list-item-tags">
          {% taglist resource %}
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>

  {% pagination resources %}
</div>

{% komoo_map_tooltip %}
{% endblock %}

{% block page_scripts %}
  {% visualization_opts_js %}
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["resource:what_is", "resource:difference_organization"],
      'resource_list'
    );
  </script>
{% endblock %}

