{% load i18n %}
{% load komoo_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->


    <title>{% block title %}Mootiro Maps{% endblock %}</title>

    <!-- Facebook sharing tags -->
    <meta property="og:site_name" content="MootiroMaps" />
    <meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}" />
    <meta property="og:description" content="MootiroMaps é uma ferramenta open source que promove a colaboração entre atores engajados no desenvolvimento de um território ou uma comunidade."/>
    <meta property="og:type" content="website" />
    
    {% block facebook_meta %}
      <meta property="og:title" content="MootiroMaps" />
      <meta property="og:image" content="{{SITE_URL}}{{STATIC_URL}}img/logo-fb.png"/>
      <meta property="og:url" content="{{SITE_URL}}"/>
    {% endblock %}

    <link rel="shortcut icon" HREF="{{STATIC_URL}}img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/flexslider/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/joyride/joyride-2.0.3.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/fashion.css" />
    <script type="text/javascript" src="{% url javascript_catalog %}"></script>
    <script type="text/javascript">
      var isAuthenticated = {{ user.is_authenticated|lower }};
      var lang = '{{ LANGUAGE_CODE }}';
      var komooNS = komooNS || {};
      {% if not debug %}
      komooNS.require_baseUrl = '{{STATIC_URL}}js.build';
      {% endif %}
    </script>
  </head>
  <body class="{% if community %}community{% endif %}">

    <script type="text/javascript" src="{{STATIC_URL}}js/config.js"></script>
    <script type="text/javascript" data-main="app" src="{{STATIC_URL}}lib/require.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/heartcode-canvasloader-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.conf.urls.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/joyride/jquery.joyride-2.0.3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/flexslider/jquery.flexslider-min.js"></script>
    <!-- Our utilities lib -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/shortcut.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/komoo_utils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/komoo_search.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/moderation/moderation.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ajaxforms.js"></script>

    {{ form.media.css }}
    {{ form.media.js }}

    {% block css %}{% endblock %}
    
    <!-- Facebook stuff -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ FACEBOOK_APP_ID }}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="root">

      <div id="top">
        <div id="logo">
          <a href="{% url root %}"><img src='{{STATIC_URL}}img/logo.png' alt='Mootiro Maps'/></a>
        </div>

        <nav id="menu">
          {% block menu %}
            {% menu "" %}
          {% endblock %}
        </nav>

        <nav id="side_menu">
          <ul>
            <li><a href="{% url about %}">{% trans "About" %}</a></li>
            <li><a id="help_button">{% trans "Help" %}</a></li>
            {% if not user.is_anonymous %}
            <li id="user_menu" class="dropdown_menu">
              <a>{{ user.name|first_name }} &#x25be;</a>
              <ul>
                <li><a href="{{ user.view_url }}" >{% trans 'Profile' %}</a></li>
                <!-- <li><a href="{% url profile_update %}" >{% trans 'Configurations' %}</a></li> -->
                <li><a href="{% url user_logout %}" >{% trans 'Logout' %}</a></li>
              </ul>
            </li>
            {% else %}
            <li id="login_button"><a href="#" class="login-required" >{% trans 'Login'%}</a></li>
            {% endif %}
          </ul>
        </nav>
        
        <div id="search">
          <form action=".">
            <input id="search-bar" type="search" placeholder="{% trans 'Place, user or object...' %}" autocomplete="off"/>
          </form>
          <div id="search-canvasloader-container" class="inline-block"></div>
          <div id="search-results-box"></div>
        </div>
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

      <div id="footer">
        {% block footer %}
          {% include "main/footer.html" %}
        {% endblock %}
      </div>

      {% if not user.is_authenticated %}
        {% include "authentication/login_box.html" %}
      {% endif %}

      {% include "main/error_box.html" %}

    </div>
    {% block page_scripts %}{% endblock %}

    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31165229-1']);
      _gaq.push(['_setDomainName', 'mootiro.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="{{STATIC_URL}}js/help_center/help_center.js"></script>
    
    <script type="text/javascript">
      var help = new HelpCenter("#help_button", ['organization:what_is', 'organization:page_tour']);
    </script>

  </body>
</html>
