.upper_bar {
  background-color: #dceff4;
  color: #009cb4;
  width: 100%;
  height: 2em;
  display: block; }
  .upper_bar ul {
    margin: 0 20px; }
  .upper_bar li a {
    float: right;
    padding: 3px 20px;
    cursor: pointer;
    text-decoration: none; }
    .upper_bar li a:hover {
      color: #333333;
      background: #d0eaf0;
      border-radius: 0 0 4px 4px; }

#main-content > #login_box {
  display: block; }

form#form_login {
  width: 280px; }
  form#form_login input {
    width: 100%;
    height: 28px; }
  form#form_login input[type=submit] {
    width: 100%;
    padding: 3px 6px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    /* fallback/image non-cover color */
    background-color: #1e9c5b;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#1e9c5b, #125c36);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e9c5b), to(#125c36));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#1e9c5b, #125c36);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#1e9c5b, #125c36); }
  form#form_login span {
    margin-bottom: 5px;
    display: block; }

#login_box {
  background: #dceff4;
  width: 560px;
  display: none; }
  #login_box * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #login_box h1 {
    text-align: center;
    font-size: 20px; }
  #login_box .errors {
    color: #c00;
    text-align: center; }
  #login_box ul#external_providers, #login_box div#separator, #login_box form {
    float: left; }
  #login_box ul#external_providers, #login_box form {
    padding: 10px; }
  #login_box ul#external_providers {
    width: 224px; }
    #login_box ul#external_providers li {
      margin: 15px 0; }
      #login_box ul#external_providers li button {
        width: 100%;
        padding: 3px 6px;
        border: 0;
        border-radius: 5px;
        color: #fff;
        font-size: 13px; }
        #login_box ul#external_providers li button img {
          width: 22px;
          height: 22px;
          float: left;
          display: block; }
      #login_box ul#external_providers li button.google {
        background: #d84a38; }
      #login_box ul#external_providers li button.google:hover {
        background: #e9988d; }
      #login_box ul#external_providers li button.facebook {
        background: #3c5a98; }
      #login_box ul#external_providers li button.facebook:hover {
        background: #728ec8; }
      #login_box ul#external_providers li button.twitter {
        background: #46c8f5; }
      #login_box ul#external_providers li button.twitter:hover {
        background: #a7e5fa; }
  #login_box div#separator {
    width: 56px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    position: relative; }
    #login_box div#separator .vertical_line {
      position: absolute;
      left: 50%;
      height: 45.5px;
      border-left: 1px solid #333;
      width: 1px; }
    #login_box div#separator .vertical_line.top {
      top: 0; }
    #login_box div#separator .vertical_line.bottom {
      bottom: 0; }

#user_verification div.check_email {
  height: 400px; }
  #user_verification div.check_email img, #user_verification div.check_email .message {
    position: absolute; }
  #user_verification div.check_email .message {
    width: 320px;
    left: 450px;
    top: 260px; }
  #user_verification div.check_email h1, #user_verification div.check_email p {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px; }
