html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    /* http://www.ms-studio.com/articles.html */
    font-family: Ubuntu, Helvetica, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 100%;
}
body, p { font-size: 14px }
img { border: 0px }
h1, h2, h3, h4, h5, h6 { margin-bottom: 1em 0 }

/* Link pattern */
a { text-decoration: none }
a:link    { color: #4092A9 }
a:visited { color: #4092A9 }
a:hover   {
    color: #333;
    text-decoration: none;
}
a:active { background-color: #eee }
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
table { border-collapse: collapse }

/* Reusable styles */
.disabled {
    opacity: 0.3;
}
.button {
    display: inline-block;
    background-color: #3EBAC2;
    color: #fff;
    border: 1px solid #4092A9;
    border-radius        : 4px;
    -moz-border-radius   : 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
}
.button span { color: white; }
.button:active { background: #2E6167 !important; }
a.button { color: #fff;}
.small { font-size: 80%; }
ul.horizontal li {
    float: left;
    margin: 0 2px;
}
.clear-both { clear: both }
.hidden { display: none }
.clickable { cursor: pointer }
.centralizer {
    width: 100%;
    text-align: center;
}
.centralizer * { display: inline-block }
.right { float:right }
span.big { font-size: 120% }
span.apart { margin-right: 3em }
div.apart { margin-top: 1em }
.meta-info {
    font-weight: bold;
    color: #000;
    margin-right: 1em;
}
.mark-down ul, .mark-down ol {
    margin: 0;
    padding: 0;
}
.mark-down ul { list-style: disc inside none }
.mark-down li ul, .mark-down li ol { margin-left: 1em }
.mark-down ul ul { list-style-type: circle }
.mark-down ul ul ul { list-style-type: square }
.mark-down ol { list-style: decimal inside none }

/* geo_object_listing templatetag */
ul.geo-objects-listing { margin-bottom: 10px }
ul.geo-objects-listing li {
    position: relative;
    padding: 4px 0;
}
ul.geo-objects-listing li ul { margin-left: 30px }
ul.geo-objects-listing li div.collapser {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0;
    text-align: center;
    background-color: #fafafa;
}
ul.geo-objects-listing li div.collapser:hover { background: #dceff4 }
ul.geo-objects-listing li div.collapser i { margin-top: 10px }

/* Mootiro Bar */
.mootiro_bar a { color: #3EBAC2 }

/* Structural elements */
#root {
    width: 100%;
    min-height: 95%;
    display: inline-block;
    clear: both;
}
#logo {
    display: inline-block;
    font-family: monospace;
    font-size: 30px;
    padding: 0 10px;
    position: relative;
    top: -25px;
    left: 20px;
    min-width: 110px;
}
#tabs {
    position: relative;
    width: 100%;
    background: #fff;
    display: block;
}
#content {
    display: block;
}
#dinamic-form,
#main-content {
    margin-top: 20px;
    padding: 0px 60px 15px;
}
#dinamic-form {
    width: 700px;
}
.highlight {
    margin-top: 30px;
    clear: both;
    background: #eff8f9;
    max-width:900px;
}
#tabs .tab {
    z-index: 9999999;
    position: absolute;
    display: inline;
    background: #dceff4;
    padding: 4px 15px;
    border-radius        : 0 0 6px 6px;
    -moz-border-radius   : 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
}
#top, #tabs .tab {
    -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
}
#tabs .tab.placeholder { background: none }
#tabs .tab:first-child { margin-left: 10px }
#top {
    z-index: 9999;
    position: relative;
    padding: 20px 0 0;
    background: #dceff4;
}
#top #logo, #top #navigation {
    display: inline-block;
}
#top #menu {
    display: inline-block;
    margin-bottom: 10px;
}
#top #menu li {
    margin: 0;
    float: left;
}
#top #menu li a {
    padding: 4px 20px;
    display: block;
    color: #000;
}
#top #menu li a,
.map-tab a, .map-button ,
.organization-buttons .org-btn{
    border: 1px solid #c7c7c7;

    background-color: #ededed;
    /* Generated from: http://gradients.glrzad.com/ */
    background-image: linear-gradient(bottom, #CECECE 0%, #EDEDED 100%) !important;
    background-image: -o-linear-gradient(bottom, #CECECE 0%, #EDEDED 100%) !important;
    background-image: -moz-linear-gradient(bottom, #CECECE 0%, #EDEDED 100%) !important;
    background-image: -webkit-linear-gradient(bottom, #CECECE 0%, #EDEDED 100%) !important;
    background-image: -ms-linear-gradient(bottom, #CECECE 0%, #EDEDED 100%) !important;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CECECE), color-stop(1, #EDEDED)) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CECECE, endColorstr=#EDEDED)";
}
.button, .map-panel .content .map-button,
#top #menu li a:hover, #top #menu li.selected a,
/*.map-menuitem:hover,*/ .map-menuitem.selected,
.map-tab a:hover, .map-tab.selected a,
.map-button:hover, .map-button.selected,
.organization-buttons .org-btn:hover, .organization-buttons .org-btn.selected  {
    color: #fff;
    background-color: #3EBAC2;
    /* Generated from: http://gradients.glrzad.com/ */
    background-image: linear-gradient(bottom, #4092A9 0%, #3EBAC2 100%) !important;
    background-image: -o-linear-gradient(bottom, #4092A9 0%, #3EBAC2 100%) !important;
    background-image: -moz-linear-gradient(bottom, #4092A9 0%, #3EBAC2 100%) !important;
    background-image: -webkit-linear-gradient(bottom, #4092A9 0%, #3EBAC2 100%) !important;
    background-image: -ms-linear-gradient(bottom, #4092A9 0%, #3EBAC2 100%) !important;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4092A9), color-stop(1, #3EBAC2)) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4092A9, endColorstr=#3EBAC2)";
}
#komoo-map-add-button,
#top #menu li:first-child a,
.map-tab:first-child a {
    border-radius        : 6px 0 0 6px;
    -moz-border-radius   : 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}
#komoo-map-cut-out-button,
#top #menu li:last-child a,
.map-tab:last-child a {
    border-radius        : 0 6px 6px 0;
    -moz-border-radius   : 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
}
#top #menu li a:active,
.map-tab a:active { background: #2E6167 !important; }
#komoo-map-delete-button {
    margin: 0 5px;
}
.map-button {
    cursor: pointer;
    float: left;
    padding: 5px;
    margin: 10px 5px;
}
.map-panel .content .map-button,
.map-button:hover, .map-button.selected {
    border: 1px solid #4092a9 !important;
}

/* Map panels */
#map-panel {
    background: #fafafa;
    padding: 0;
}
#map-panel div.img-holder {
    width: 35px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
#map-panel ul.geo-objects-listing { margin: 10px 0 0 }
#map-panel #filter-cirle,
#map-panel ul.geo-objects-listing li {
    padding: 8px;
    border-bottom: 1px solid #e9e9e9;
}
#map-panel ul.geo-objects-listing li:hover { background: #dceff4 }
#map-panel ul.geo-objects-listing li.sublist { padding: 0 }
#filter-form ul.geo-objects-listing li.sublist { display: none }
#map-panel ul.geo-objects-listing li.sublist:hover { background: transparent }
#map-panel ul.geo-objects-listing li.sublist ul li:last-child { border-bottom: none }
#map-panel .panel { margin-top: 10px }
#filter-submit {
    padding-left: 2em;
    padding-right: 2em;
}
#filter-circle .button { margin-left: 0em }
#filter-circle .button .icon-plus { vertical-align: middle }
#filter-circle span { margin-left: 2em }
#filter-circle input {
    width: 3em;
    vertical-align: baseline;
    box-shadow: 1px 1px 1px #999999 inset;
}
#filter-circle .floating {
    display: none;
    padding: 15px;
    background: #ffc1ae;
    border-radius        : 7px;
    -moz-border-radius   : 7px;
    -webkit-border-radius: 7px;
}
#filter-circle .ui-slider {
    width: 130px;
    height: 10px;
    border-radius        : 7px;
    -moz-border-radius   : 7px;
    -webkit-border-radius: 7px;
}
#filter-circle .ui-slider-handle {
    width: 6px;
    height: 14px;
    top: -3px;
    margin-left: -3px;
}
#filter-slider { float: left }
#filter-slider-container .icon-ok {
    float: right;
    margin-left: 0.4em;
}
#filter-slider-container {
    position: absolute;
    right: 5px;
    z-index: 1;
}
#filter-helper {
    position: fixed;
    left: 220px;
    top: 250px;
    z-index: 10;
}
#filter-results-container { display: none }
#filter-results { background: #f2f2f2 }

.categories-icons img {
    margin: 10px 2px 0;
}
.map-tabs { padding: 10px; }
.map-tab {
    cursor: pointer;
    text-align: center;
    float: left;
}
.map-tab a {
    color: black;
    display: block;
    padding: 5px 0px;
}
.map-tab a:hover,
.map-tab.selected a {
    color: white;
}
.map-tab-container {
    clear: both;
    background: #dceff4;
}
.map-infowindow-content {
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.map-panel, .map-button, .map-infowindow-content {
    border-radius        : 6px;
    -moz-border-radius   : 6px;
    -webkit-border-radius: 6px;
}
.map-panel {
    background: #dceff4;
}
body.community .map-panel {
    margin-top: 35px !important;
}
body.community #map-panel-tabs {
    padding-top: 35px !important;
}
#main-content {
    margin: 20px 0 0;
}
body.community #main-content {
    margin: 40px 0 0;
}
.map-panel .map-panel-buttons,
.map-panel .content {
    margin: 0 5px;
}
.map-panel .content .map-button {
    margin: 0 0px;
}
.map-panel .map-panel-title {
    margin: 10px;
}
.map-panel .content .map-button.active {
    background: #2E6167 !important;
}
.map-menuitem,
.map-menuitem.frozen:hover {
    cursor: default;
    direction: ltr;
    position: relative;
    padding: 0;
    color: #000;
    white-space: nowrap;
    border-bottom: 1px solid #e9e9e9;
    background: #fafafa;
    clear: both;
}
.map-menuitem .title,
.map-submenu .map-menuitem {
    padding: 12px;
}
.map-menuitem img {
    padding: 10px 10px 0 15px;
}
.map-submenu .map-menuitem {
    border-top: 1px solid #e9e9e9;
    border-bottom: none;
    padding-left: 30px;
}
.map-menuitem:hover {
    background: #dceff4
}
.map-menuitem.disabled, .map-menuitem.disabled:hover {
    color: #aaa;
}
#top #menu, #top #search { margin-left: 40px; }
#top #search { margin-bottom: 0px; }

#search-bar {
    width: 585px; /* FIXME: this is dependent of the language */
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px #999999 inset;
}
#search-button { margin-left: 4px }
.komoo-map-googlemap img { /* Revert bootstrap changes */
    max-width: none !important;
}
.komoo-map-googlemap label { /* Revert bootstrap changes */
    width: auto !important;
    display: inline !important;
}

/* Page layout */
.main-column {
    width: 700px;
    display: block;
    margin-right: 30px;
    float: left;
}
.right-bar {
    width: 200px;
    float: left;
    color: #3ebac2;
}
.right-bar h2 {
    color: #3ebac2;
    font-size: 18px;
}
.right-bar h3 {
    color: #3ebac2;
    font-size: 16px;
}
.block {
    padding: 5px;
    background: #a6e5ee;
    margin-top: 10px;
    border-radius        : 6px;
    -moz-border-radius   : 6px;
    -webkit-border-radius: 6px;
    /*display: inline-block;*/
    word-wrap: break-word;
}
.right-bar > .block ul li {
    margin-bottom: 5px;
}
.right-bar > .block > .block {
    display: block;
    background-color: #dceff4;
    margin: 5px 0;
}

/* Forms */
form .control-group { clear: both }
form .form-actions {
    background: none;
    border: none;
}
form .formRow { clear: both }
form .formRow > div {
    float: left;
    clear: none;
    margin-right: 5px;
}
form .datepicker { width: 7em }

#need_form { width: 100% }
#need_form input[type=text], #need_form textarea { width: 100% }
#need_form #div_id_categories ul { display: inline-block }
#need_form #div_id_categories li {
    float: left;
    margin: 0 2px;
}
#need_form #div_id_community input { width: 150px }

#investment_form #id_currency { width: 7em }
#investment_form #div_id_investor_type .radio {
    float: left;
    margin-right: 1em;
    padding-top: 0;
}
#investment_form #div_id_investor_type .radio input { margin-top: 0 }

/* Ajax Search */
.ajax-search { float: right }
.ajax-search input {
    width: 200px;
    background: #fff url("../img/glass.png") no-repeat right bottom;
}

/* Object Listing */
/*div.list > div { padding: 5px 20px }*/
/*div.list > div:first-child { padding-top: 20px }*/
/*div.list > div:last-child { padding-bottom: 20px }*/

/* Objects Viewing */
.map-preview {
    width: 200px;
    height: 200px;
    display: block;
    background: #bbb;
}

.map-tooltip {
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 0 0 0 15px;
    background: url("/static/img/infowindow-arrow.png") no-repeat 0 50%;
}
.map-tooltip #map-container-preview {
    background: white;
    padding: 10px;
    border-radius: 5px;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.map-tooltip .close-bttn {
    padding: 5px 5px 3px;
    background: white;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* =========== COMMENT section ======= */
#divFormComment{
    margin-top: 10px;
}
.comment-container{
    margin:20px 0 15px 15px;
    background-color: rgb(235, 249, 255);
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border-color: rgb(62, 186, 194);
    border-style: solid;
    border-width: 1px;
}
.comment-container a{
    color: rgb(62, 186, 194);
    margin: 0 15px;
}
.comment-header{
    margin-bottom: 5px;
}
.comment-footer{
    margin-top: 15px;
}
.comment{
    margin: 0 15px;
}
a.btnShowForm{
    font-weight: bold;
    /*font-size: 1.2em;*/
    color: rgb(62, 186, 194);
}
.comment-form{
    display: none;
}
.inner-comment{
   margin-right: -1px;
   padding-bottom: 0;
   margin-bottom: -1px;
}
.odd{
    background-color: rgb(220, 239, 244);
}
.comments-list .inner-list{
    display: none;
}
.comment-title{
    font-size: 1.2em;
    color: #4f4f4f;
}
.comment-vote{
    margin-left: 10px;
}
.comment-summary {
    display: block;
}
/* =========== end of COMMENT section ======= */


/* =============  VOTES section ============ */

.vote{
    display: inline-block;
    margin: 5px 0 0px 0;
}
.vote a{
    margin: 0 5px;
}
.vote-num{
    color: #777777;
    font-size: 0.9em;
    font-weight:bold;
    vertical-align: top;
    padding-bottom: 2px;
    margin-right: 2px;
}
.vote-up a{
    display: inline-block;
    background: #dddddd url("/static/img/up.png") no-repeat center;
    padding: 3px;
    border-radius: 4px;
    width: 10px;
    height: 10px;
    /*margin: 0 4px;*/
    border: solid 1px #bbbbbb;
}
.vote-up a:hover{
    background-color: #cecece;
    box-shadow: 1px 1px 1px #666666 inset;
    background-image: url("/static/img/up-hover.png");
}
.vote-up.active a{
    background: #dddddd url("/static/img/up-active.png") no-repeat center;
}
.vote-down a{
    display: inline-block;
    background: #dddddd url("/static/img/down.png") no-repeat center;
    padding: 3px;
    border-radius: 4px;
    width: 10px;
    height: 10px;
    /*margin: 0 4px;*/
    border: solid 1px #bbbbbb;
}
.vote-down a:hover{
    background-color: #cecece;
    box-shadow: 1px 1px 1px #666666 inset;
    background-image: url("/static/img/down-hover.png");
}
.vote-down.active a{
    background: #dddddd url("/static/img/down-active.png") no-repeat center;
}

/* =========== end of VOTE section ======= */

/* ======= Pagination (it may clash/overlap with bootstrap) =========*/
.pagination{
  position:relative;
  left: 35%;
}
.pagination .step-links span{
  display: inline-block;
  margin: 0 auto;
  float:left;
}
.pagination .step-links .current{
  float:left;
  padding:0 14px;
  line-height:34px;
  text-decoration:none;
  border:1px solid #ddd;
  border-left-width:0;
}
/* ============= Resources ============== */
/* ### form ### */
#form_resource {
  width: 100%;
}
#form_resource input[type=text], #form_resource textarea{
  width: 100%;
}
#form_resource #div_id_tags .ui-autocomplete-input{
  background: none repeat scroll 0% 0% rgba(215, 215, 215, 0.2);
  box-shadow: 1px 1px 1px rgb(190, 189, 204) ;
}
/* resource show */
.resource-type{
  margin-left: 40px;
}
/* ====== file uploader ======== */
#fileupload{
  font-size: 0.8em;
}
/********************* CHANGES DEFAULT FORM APPEARANCE ****/
form div.tagsinput{
  border: none;
}
form div.tagsinput input{
  border: 1px solid rgb(204, 204, 204);
  background: none repeat scroll 0% 0% rgba(215, 215, 215, 0.2);
  box-shadow: 1px 1px 1px rgb(190, 189, 204) ;
}
input[type=text], textarea{
  background: none repeat scroll 0% 0% rgba(215, 215, 215, 0.2);
  box-shadow: 1px 1px 1px rgb(190, 189, 204) ;
}
.inline-block{
  display: inline-block;
}
/* ========= Entity show ====== */
.view-header{
  margin-bottom: 20px;
}
.view-follow-btns span{
  color: #444444;
  margin-left: 7px;
}
.view-follow-btns img{
  width: 12px;
  height: 12px;
  margin: 0 0 -1px -1px;
}
.view-footer div:first-child{
  margin-top: 100px;
}
.view-edit-btn{
  display: inline-block;
  float: right;
}
.view-extras{
  clear: both;
  padding-top: 40px;
}
.view-tag-list {
  margin: 5px 0 15px 0;
  font-weight: bold;
}
.view-tag-list-tags{
    display: inline-block;
}
.tag {
  color: #666666;
  margin: 2px 5px;
  padding: 2px 5px;
  font-weight: normal;
  background-color: rgb(225, 239, 245);
  border-radius: 3px;
  border: solid 1px #cccccc;
}
.view-list-item-tags .view-tag-list-tags{
    width: 370px;
}
.view-tag-list .meta-info{
    vertical-align: top;
}
div.view-list-item {
  padding: 20px 10px 10px 20px;
  background-color: #dceff4;
  clear: both;
  width: 870px;
}
div.view-list-item .apart a:first-child{
  font-size: 120%;
  font-weight: bolder;
}
div.view-list-item.odd {
  background-color: #cae9f0;
  clear: both;
  width: 870px;
}
.view-list-top{
    background-color: #ffffff;
    min-height: 2em;
    max-width: 900px;
}
.view-list-count{
    /* display: inline-block;
    margin-left: 50px; */
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}
/* View list Sort|Filter */
.view-list-sorters{
    padding: 10px 10px 0px 20px;
    background-color: #dceff4;
    clear: both;
    /*width: 870px;*/
    /*border-bottom: solid 1px #4092A9;*/
}
.view-list-filter-title{
    display: inline-block;
    font-weight: bold;
    width: 100px;
}
.view-list-filters{
    padding: 10px 10px 0px 20px;
    background-color: #dceff4;
    clear: both;
    /*width: 870px;*/
    /*border-bottom: solid 1px #4092A9;*/
}
.view-list-sorter-btn{
    display: inline-block;
    margin-left: 20px;
    color: rgb(64, 146, 169);
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #cae9f0 ;
}
.view-list-sorter-btn.selected, .view-list-sorter-btn:hover{
    background-color: #ff8a00 ;
    color: #ffffff;
}
.view-list-footer{
    min-height: 1em;
}
.view-list-footer .created-by{
    display: inline-block;
    float: right;
    color: #777777;
}
.view-list-filter-btn{
    display: inline-block;
    margin-left: 20px;
    color: rgb(64, 146, 169);
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #cae9f0 ;
}
.view-list-filter-btn.selected, .view-list-filter-btn:hover{
    background-color: #ff8a00 ;
    color: #ffffff;
}
.view-list-filter-widget-label{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
}
.view-list-filter-widget{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.view-list-filter-wrapper{
    margin-bottom: 20px;
}
.view-list-filter-widget .tagsinput{
    margin-left: -8px;
    width: 600px;
    height: auto;
    display: inline-block;
    background-color: #dceff4;
    border: none;
}
.view-list-filter-widget .tagsinput input{
    border: 1px solid #CCCCCC;
    margin-left: 4px;
    background: #ffffff;
}
.view-list-filter-widget .ui-autocomplete-input{
    background-color: #ffffff;
}
.view-list-item-tags{
    display: inline-block;
    width: 500px;
}
.view-list-visualization{
    background-color: #cae9f0;
    padding: 10px 20px 0 20px;

}
.view-list-visualization-header{
    background-color: #dceff4;
    padding: 10px;
    color: #555555;
    font-weight: bold;
}
.view-list-visualization-header i{
    margin-left: 20px;
}
.view-list-pagination{
    min-height: 2em;
}
.view-list-visualization-options{
    padding-bottom: 10px;
    background-color: #dceff4;
}
.doFilter-wrapper{
    min-height: 2em;
    background-color: #dceff4;
    padding: 0 20px;
}
#doFilter{
    float: right;
    min-width: 50px;
    font-weight: bold;
}
.date-sorter-order{
    display: inline-block;
    height: 1em;
    vertical-align: top;
    margin-top: -3px;
}
.date-sorter-order div{
    height: 0.5em;
    margin-bottom: 3px;
}
.icon-blue{
    background-image:url(../img/glyphicons-halflings-blue.png);
}
.icon-active{
    background-image:url(../img/glyphicons-halflings-orange.png);
}
/* ====== Organization ======== */
.org-info-panel {
    margin-top: 30px;
    margin-bottom: 20px;
}
.branch-name{
    font-weight: bold;
    margin-left: 5px;
}
.organization-header{
    max-width: 500px;
}
.organization-logo{
    /* placeholder for logo TODO: remove this and replace by img */
    width: 80px;
    height: 60px;
    margin-right: 20px;
}
.organization-right-bar{
    color: #555555;
}
.organization-right-bar h4{
    color: #000000;
}
.branch-link-btn{
    float: right;
    margin-right: 10px;
}
.branch-communities {
    padding-top: 5px;
}
.branch-communities span{
    font-weight: bold;
    margin-right: 10px;
}
.branch-communities div{
    display: inline-block;
    color: rgb(64, 146, 169);
    padding: 0 5px;
}
.branch-edit-btn{
    float: right;
}
.form-branch-edit .markItUpEditor{
    height: 120px;
    width: 650px;
    background-color: #ffffff;
    margin-left: 15px;
}
.form-branch-edit .markItUpHeader{
    margin-left: 15px;
}
.form-branch-edit-btn{
    margin-left: 15px;
}
.form-branch-edit input{
    margin-left: 15px;
    background-color: #ffffff;
}
textarea.markItUpEditor{
    height: 250px;
}
#form_organization #div_id_contact .markItUpEditor{
    height: 80px;
}
.form-branch-edit .results_on_deck{
    margin-left: 15px;
}
.org-widget-categories .controls{
    height: 300px;
}
.org-widget-categories .checkbox{
    display: inline-block;
    width: 200px;
    padding-right: 10px;
}
.organization-buttons{
    margin-top: 20px;
    font-weight: bold;
    font-size: 0.9em;
}
.org-btn{
    padding: 10px;
    border-radius: 7px;
    width: 195px;
    margin-top: 10px;
    min-height: 36px;
}
.org-btn div{
    max-width: 160px;
    vertical-align:  bottom;
}
.org-btn img{
    padding-right: 10px;
    vertical-align: top;
    padding-top: 6px;
    max-width: 20px;
    max-height: 20px;
}
.org-info-div{
    background-color: rgb(166, 229, 238);
    padding: 10px;
    display: inline-block;
    width:97%;
    margin: 10px 0 10px 0;
    border-radius: 7px;
}
.org-info-div.odd{
    background-color: rgb(220, 239, 244);
}
.org-list-header{
    vertical-align: top;
}
.org-list-name{
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 20px;
}
.org-list-img{
    padding-right: 10px;
    width: 80px;
    height: 60px;
}
.org-list-img-placeholder{
    padding-right: 10px;
    width: 80px;
    height: 38px;
    padding-top: 10px;
}
.org-list-extra-info{
    width: 300px;
    vertical-align: top;
    margin-right: 20px;
}
.org-extra-info-name{
    font-weight: bold;
}
.org-list-extra-info-entry{
    padding-bottom: 5px;
}
.search-header{
    background-color: #dceff4; ;
    font-weight: bold;
    padding: 10px;
}
.search-header img{
    max-height: 22px;
    max-width: 22px;
    margin-right: 20px;
}
.search-result-entries li{
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.search-title{
    margin-top: 20px;
    width: 100%;
    font-weight: bolder;
    font-size: 1.1em;
}
.search-type-header{
    display: inline-block;
    width: 80%;
}
.search-results-count{
    float: right;
    margin-right:10px;
    font-weight: normal;
}
.search-no-results{
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
div.investments-list .view-list .view-list-item {
    width: 670px;
}
div.investments-list .tab {
    border-radius        : 5px 5px 0 0;
    -moz-border-radius   : 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    padding: 4px 8px;
    margin: 0;
    background: #eaf6f9;
    font-weight: bold;
}
div.investments-list .tab.selected { background: #dceff4 }
div.investments-list .tab.selected a { color: #000 }

/* ====== JQuery UI ======== */
.ui-dialog-titlebar {
    background: none; !important;
    border: none !important;
    margin-top: 5px;
}
.ui-dialog-titlebar-close {
    margin-top: -17px !important;
}
.ui-widget-content {
    border: none;
}
.ui-widget-overlay { z-index: 99999 !important; }
.ui-dialog {
    z-index: 100000 !important;
    border-radius        : 10px;
    -moz-border-radius   : 10px;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
}

/* ====== Login box ======== */
#login-box {
    width: 665px !important;
    display: none;
    margin: -20px 23px 10px;
}
#login-box li.option {
    width: 320px;
    display: inline-block;
    padding: 10px 5px;
    text-align: center;
}
#login-box li.option a {
    color: black;
    padding: 10px 10px 20px;
    display: block;
    border-radius        : 5px;
    -moz-border-radius   : 5px;
    -webkit-border-radius: 5px;
}
#login-box li.option a:focus {
    outline: none;
}
#login-box li.option a:hover {
    background-color: #ffdb85;
}
#login-box li.option div {
    padding: 10px;
}
.social-login-btns{
    padding-left: 5px;
}
/* ====== Error box ======== */
.error-dialog,
.error-dialog .ui-widget-content,
.error-dialog .ui-dialog-titlebar {
    /* TODO */
}
.komoo-pagination{
    display: inline-block;
    margin: 5px 0;
    /* float: left; */
}
.komoo-pagination span{
    padding: 3px;
}
.komoo-pagination span.current-page{
    font-weight: bold;
}
.button-new { float: right; }
.alert-message{
    padding:8px 35px 8px 14px;
    margin-bottom:18px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    /*background-color:#fcf8e3;*/
    border:1px solid #fbeed5;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background-color:#f2dede;
    border-color:#eed3d7;
}
.alert-message ol{
    list-style: none;
    margin: 0px;
}
