
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
<script type="text/javascript" src="/static/js/ajax_select.js"></script>
{{ form.media }}

<div class='alert alert-info required-notice' data-alert='info'>
    <div class='msg'>
        Os campos com asterisco (<strong>*</strong>) são obrigatórios!
    </div>
</div>
{% crispy form form.helper %}

<script type="text/javascript">
  $(function(){
    $('#need_form').ajaxform();

    $('#need_form').komooFormHintBoxes({
      'title': {
        top: '-8px',
        hint: '{% trans 'Coloque um título que resuma a necessidade. Ex: "Asfaltar a rua X"' %}'
      },
      'description': {
        top: '45%',
        hint: '{% trans "Coloque detalhes da necessidade. Explique o problema, suas causas, quem é prejudicado pelo problema, etc." %}'
      },
      'categories': {
        hint: '{% trans 'Informe onde sua necessidade se encaixa, qual é o tipo dela. Você pode escolher mais de um tipo. Ex.: "Asfaltar a rua X" -> Mobilidade' %}',
        top: '-35px'
      },
      'target_audiences': {
        hint: '{% trans "As pessoas que essa necessidade afeta." %}'
      },
      'tags': {
        hint: '{% trans 'Coloque palavras que ajudem a ilustrar a necessidade, tal como "asfalto", "rua", "transporte".' %}',
        top: '-18px'
      },
      'files': {
        hint: '{% trans "Coloque fotos, quando possível, da necessidade, como por exemplo, fotos de um buraco, ou lixo, ou falta de asfalto..." %}',
        top: '-32px'
      }
    });
  })
</script>
