
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
<script type="text/javascript" src="/static/js/ajax_select.js"></script>
{{ form.media }}

<div class='alert alert-info required-notice' data-alert='info'>
    <div class='msg'>
          {% trans '<strong>*</strong> required fields!' %}
    </div>
</div>
{% crispy form form.helper %}

<script type="text/javascript">
  $(function(){
    $('#need_form').ajaxform();

    $('#need_form').komooFormHintBoxes({
      'title': {
        top: '-8px',
        hint: '{% trans 'Insert an explanatory title for your need, for example "Fix street lights on Magnolia Avenue". ' %}'
      },
      'description': {
        top: '45%',
        hint: '{% trans "Gives details about this need. What is the problem about, why does it exist, who is affected by this problem and what has been tried to solve the situation so far?" %}'
      },
      'categories': {
        hint: '{% trans 'Select the categories that most fit your need. For instance, the construction of a cycling lane is related to mobility and environment issues.' %}',
        top: '-35px'
      },
      'target_audiences': {
        hint: '{% trans "Who is being affected by this problem?" %}'
      },
      'tags': {
        hint: '{% trans 'Please, insert tags that describe the need, for instance, "street light", "waste", "public transport", "cycling lane".' %}',
        top: '-18px'
      },
      'files': {
        hint: '{% trans "Please, upload some photos about this problem. Photos can help people to think about solutions." %}',
        top: '-32px'
      }
    });
  })
</script>
