{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{# % load komoo_tags % #}
{# % load komoo_map_tags % #}
{# % load comment_tags % #}
{# % load humanize % #}


{% block content %}

<!-- FIXME: Uncomment. Waiting for it3s site to be ready for the donation link.
<a class="no-decoration" href="#">
  <div id="donate">
    <h2>{% trans "Donate!" %}</h2>
  </div>
</a>
-->
<!-- Java Script for Tabs about-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
     <script type="text/javascript" src="{{STATIC_URL}}js/tabs_about.js"></script>

<div id="main-content" class="about frontpage">
  <div>
    <h1 class="initial-heading">
      {% blocktrans %}About MootiroMaps{% endblocktrans %}
    </h1>
  </div>

<div id="container_tabs">

  <div class="tabs">
          <ul>
            <!--
            <li class="tab"><a href="#project-campaign">Campanha</a></li>
            //-->
            <li><a href="#info1">{% trans "Understand a territory by its map" %}</a></li>
            <li><a href="#info2">{% trans "Rich information about each object on the map" %}</a></li>
            <li><a href="#info3">{% trans "Create your own project map" %}</a></li>
            <li><a href="#info4">{% trans "Analyse resources and demands of your community and monitor local development" %}</a></li>
            <li><a href="#info5">{% trans "Create and edit your maps collaboratively" %}</a></li>
            <li><a href="#info6">{% trans "Take part in the user community" %}</a></li>
          </ul>
  </div>

  <div id="info"> </div>

  <div id="content-tabs">

    <div id="info1">
      <h2>{% trans "Understand a territory by its map" %}</h2>
      <p>{% blocktrans %}MootiroMaps helps to make an online map of your community that shows where resources, demands and organizations are located.{% endblocktrans %}
      </p>

      <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/1-1.png"/>
          <h3>{% trans "Beautiful and informative maps" %}</h3>
          <p>{% blocktrans %}Colours and icons make your map easy to understand and navigate{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/1-2.png"/>
          <h3>{% trans "Instant information" %}</h3>
          <p>{% blocktrans %}Passing your mouse over the mapped objects you might access brief information about each content{% endblocktrans %}</p>
        </div>

        <div class="topicDown">
          <img src="{{STATIC_URL}}img/about/1-3.png"/>
          <h3>{% trans "Search the map" %}</h3>
          <p>{% blocktrans %}You can define a radius and search for all the objects contained in this area{% endblocktrans %}</p>
        </div>
      </div>
    </div>

    <div id="info2">
      <h2>{%trans "Rich information about each object on the map" %}</h2>
      <p>{% blocktrans %}Each object on the map has its own page with contact information, detailed description, tags and a lot more.{% endblocktrans %}
      </p>

      <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/2-1.png"/>
          <h3>{% trans "Tell a story" %}</h3>
          <p>{% blocktrans %}Add photos, logos and link to other content on the map{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/2-2.png"/>
          <h3>{% trans "Help others to find your data" %}</h3>
          <p>{% blocktrans %}Define tags for your data and make it easy for others to search your content{% endblocktrans %}</p>

        </div>

        <div class="topicDown">
          <img src="{{STATIC_URL}}img/about/2-3.png"/>
          <h3>{% trans "Show relations" %}</h3>
          <p>{% blocktrans %}Relate contents to each other and promote transparency! Show, for instance, that a foundation is working in more than one community or which organizations received resources from the same donor.{% endblocktrans %}</p>
        </div>
      </div>
    </div>

    <div id="info3">
      <h3>
        {% trans "MootiroMaps supports your mapping projects - you might reuse data mapped by other users, import data from spreadsheets and engage others to map collaboratively." %}
      </h3>

      <div class="items">

	<img src="{{STATIC_URL}}img/about/3-1.png"/>

        <div class="topic">
          <h3>{% trans "Your space on MootiroMaps" %}</h3>
          <p>{% blocktrans %}Your mapping project has its own page on MootiroMaps. You might present your initiative, explain workflow and planned actions and show how other users can collaborate.{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Add collaborators" %}</h3>
          <p>{% blocktrans %}Add users to you project map that can edit your map and add new content.{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Get to know similar maps" %}</h3>
          <p>{% blocktrans %}Based on the tags related contents will be shown on the page of your mapping project.{%endblocktrans %}</p>
        </div>

	<img src="{{STATIC_URL}}img/about/3-2.png"/>

        <div class="topic">
          <h3>{% trans "Give visibility to your partners" %}</h3>
          <p>{% blocktrans %}Upload logos of the partners of your project{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Reuse data from the map" %}</h3>
          <p>{% blocktrans %}Add contents that have been created by other users to your mapping project{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Import data to your map" %}</h3>
          <p>{% blocktrans %}Integration with Google Spreadsheets and Google Fusion Table allows you to import data into your project. You can clean data that you scraped from the internet or received through freedom of information requests, simulate the import and finally upload to your project.{% endblocktrans %}</p>
        </div>
      </div>
    </div>

    <div id="info4">
      <h3>{% trans "By analyzing the territory and location of services you will get import insights for community planning and and better understand priorities and demands for local development." %}</h3>

      <div class="items">

	<img src="{{STATIC_URL}}img/about/4-1.png"/>

        <div class="topic">
          <h3>{% trans "Map local needs and discuss with the community" %}</h3>
          <p>{% blocktrans %}With MootiroMaps you can map the demands of a community and invite its residents and local organizations to discuss and find solutions. {% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Monitor progress of community projects" %}</h3>
          <p>{% blocktrans %}Document ongoing projects uploading reports and photos{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Analyze the mapped data" %}</h3>
          <p>{% blocktrans %}By mapping public services and local organizations you will easily understand which parts of the community are well served and where new social services should be created.{% endblocktrans %}</p>
        </div>
      </div>
    </div>

    <div id="info5">
      <h3>{% trans "Everyone can participate and edit MootiroMaps - adding and correcting information and putting new objects on the map. This way, the map becomes more complete and informative for all." %}</h3>

      <div class="items">

        <div class="topicFacaColaborativamente">
          <img src="{{STATIC_URL}}img/about/5-1.png"/>
          <h3>{% trans "Edit map" %}</h3>
          <p>{% blocktrans %}You may insert new content to the map, for instance points, lines or areas.{% endblocktrans %}</p>
        </div>

        <div class="topicFacaColaborativamente">
          <img src="{{STATIC_URL}}img/about/5-3.png"/>
          <h3>{% trans "Receive information about editions by other users" %}</h3>
          <p>{% blocktrans %}In the list of last updates you can see which contents have been recently created or edited.{% endblocktrans %}</p>
        </div>

	<div class="topicFacaColaborativamente">
          <img src="{{STATIC_URL}}img/about/5-2.png"/>
          <h3>{% trans "Receive notifications" %}</h3>
          <p>{% blocktrans %}You can subscribe to contents on MootiroMaps. When someone edits the object you receive updates by email.{% endblocktrans %}</p>
        </div>

        <div class="topicFacaColaborativamente">
          <img src="{{STATIC_URL}}img/about/5-4.png"/>
          <h3>{% trans "Spread on social networks" %}</h3>
          <p>{% blocktrans %}Make use of social networks to give visibility to the demands of the community and invite other to collaborate with your mapping project.{% endblocktrans %}</p>
        </div>
      </div>
    </div>

    <div id="info6">

     	<h3>{% trans "Share your experiences with other users and take part in our workshops." %}</h3>

	<div class="items">

        <img src="{{STATIC_URL}}img/about/6-1.png"/>

        <div class="topic">
          <h3>{% trans "Mailing list" %}</h3>
          <p>{% blocktrans %}Subscribe to our mailing list to discuss and learn with other users.{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "Facebook group" %}</h3>
          <p>{% blocktrans %}Join the Facebook group to receive and share news about issues such as mapping, open data and collaborative technologies.{% endblocktrans %}</p>
        </div>

        <div class="topic">
          <h3>{% trans "It is free" %}</h3>
          <p>{% blocktrans %}MootiroMaps has been developed by IT3S with support of the C&A Institute. It is free to use. Simply create your account.{% endblocktrans %}</p>
        </div>

	  <div class="section">
  		<h2 class="center"><a class="login-required big button" href="#">{% trans "Create an account." %}</a></h2>
  	  </div>
      </div>
    </div>

  </div>
</div>



</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
