<script type="text/javascript">
    $(function(){
        {% for video in videos %}
            add_video({
                id: '{{ video.id }}',
                service: '{{ video.service }}',
                status: '',
                title: '{{ video.title|escapejs }}',
                description: '{{ video.description|escapejs }}',
                video_id: '{{ video.video_id }}',
                thumbnail_url: '{{ video.thumbnail_url }}',
                video_url: '{{ video.url }}'
            });
        {% endfor %}
    });
</script>

