#divFormComment{
    margin-top: 20px;
}
.comment-container{
    margin:20px 0 15px 15px;
    background-color: rgb(220, 239, 244);
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border-color: rgb(62, 186, 194);
    border-style: solid;
    border-width: 1px;
}
.comment-container a{
    color: rgb(62, 186, 194);
    margin: 0 15px;
}
.comment-header{
    margin-bottom: 15px;
}
.comment-footer{
    margin-top: 15px;
}
.comment{
    margin: 0 15px;
}
a.btnShowForm{
    font-weight: bolder;
    font-size: 1.2em;
    color: rgb(62, 186, 194);
}
.comment-form{
    display: none;
}
.inner-comment{
   margin-right: -1px;
   padding-bottom: 0;
   margin-bottom: -1px;
}
.odd{
    background-color: rgb(235, 249, 255);
}
.comments-list .inner-list{
    display: none;
}
