
{% extends "global.html" %}
{% load crispy_forms_tags %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}{% trans 'Investment' %}{% endblock %}

{% block menu %} {% menu "investment" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <div class='form-legend'>
      {% if investment.id %}
        {% trans 'Edit investment' %}</div>
      {% else %}
        {% trans 'New investment' %}</div>
      {% endif %}

    <div class='alert alert-info required-notice' data-alert='info'>
        <div class='msg'>
            Os campos com asterisco (<strong>*</strong>) são obrigatórios!
        </div>
    </div>
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    var $form = $("#investment_form");

    $form.ajaxform();
    $form.komooFormHintBoxes({
      'title': {
        hint: '{% trans "Coloque um nome ou título para este investimentos" %}',
        left: '720px',
        top: '-40%'
      },
      'description': {
        hint: '{% trans "Coloque detalhes do  investimento, como será usado e etc" %}',
        left: '720px',
        top: '30%'
      },
      'investor_type': {
        hint: '{% trans "Escolha tipo de investidor se trata. Uma organização cadastrada no Maps ou uma Pessoa" %}',
        left: '720px',
        top: '-35px'
      },
      'anonymous_investor': {
        hint: '{% trans "Determine se o investidor é anônimo ou não." %}',
        left: '720px',
        top: '-22px'
      },
      'investor_organization': {
        hint: '{% trans "Nome da Organização que esta fazendo o investimento" %}',
        left: '720px',
        top: '-22px'
      },
      'investor_person': {
        hint: '{% trans "Nome da Pessoa que esta fazendo o investimento" %}',
        left: '720px',
        top: '-22px'
      },
      'over_period': {
        hint: '{% trans "Determine se o investimento será por um período ou data única." %}',
        left: '720px',
        top: '-22px'
      },
      'date': {
        hint: '{% trans "Data do investimento." %}',
        left: '202px',
        top: '-20px'
      },
      'end_date': {
        hint: '{% trans "Data de término do investimento." %}',
        left: '202px',
        top: '-20px'
      },
      'value': {
        hint: '{% trans "Valor do investimento." %}',
        left: '202px',
        top: '-10px'
      },
      'currency': {
        hint: '{% trans "Tipo de moeda a ser usada no investimento (Dolar, Real, etc)." %}',
        left: '135px',
        top: '-20px'
      },
      'files': {
        hint: '{% trans "Você pode carregar fotos do recurso." %}',
        top: '10%',
        left: '720px'
      },
      'tags': {
        hint: '{% trans "Coloque palavras que ajudem a ilustrar a necessidade, tal como \"asfalto\", \"rua\", \"transporte\"." %}',
        top: '-18px',
        left: '720px'
      }

    });

    // Investor field configuration
    $("input[name=investor_type]", $form).on("change", function (event) {
        var t = $(this).val();
        if (t == "ORG") {
            $("#div_id_investor_person", $form).hide();
            $("#div_id_investor_organization", $form).show();
        } else if (t == "PER") {
            $("#div_id_investor_organization", $form).hide();
            $("#div_id_investor_person", $form).show();
        }
    });
    $(function (event) {
        $("input[name=investor_type]:checked", $form).change();
    });

</script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["investment:name", "investment:description"]
    );
  </script>
{% endblock %}

