{% extends 'global.html' %}

{% load crispy_forms_tags %}
{% load komoo_map_tags %}
{% load upload_tags %}
{% load video_tags %}
{% load i18n %}
{% load komoo_tags %}

{% block menu %} {% menu "community" %} {% endblock %}

{% block content %}
  {% komoo_map geojson 'type=editor' 'width=100%' 'height=100%' 'zoom=13' 'panel=' 'lazy=True' %}
  <div id="main-content">
    <div class="main-column">
        <div class='form-legend'>{% trans 'Edit community' %}</div>

        <div class='alert alert-info required-notice' data-alert='info'>
            <div class='msg'>
                {% trans '<strong>*</strong> required fields!' %}
            </div>
        </div>
        {% crispy form form.helper %}
    </div>

    <div class="right-bar">
      {% komoo_map geojson 'type=preview' 'edit_button=True' %}
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
    {% load_files community %}
    {% load_videos community %}
    <script type="text/javascript">
      $(function(){
        $('#community_form').ajaxform();

        $('#community_form').komooFormHintBoxes({
            'name': {
                hint: '{% trans "Please insert a name for the community" %}'
            },
            'population': {
                hint: '{% trans "Approximately, how many people live in the community?" %}',
                top: '-8px'
            },
            'description': {
                hint: '{% trans "Please, describe the community. What do you kno about its history, the people living there, local economy, social services, education, access to public transportation, etc.?" %}',
                top: '40%'
            },
            'contacts': {
              hint: '{% trans "Insert the contact information (postal address, contact persons, phone number, email address)." %}',
              top: '25%',
              left: '720px'
            },
            'tags': {
                hint: '{% trans 'Please, choose tags for the community, for instance "native community", "Santa Barbara", "slum".' %}',
                top: '-28px'
            },
            'files': {
                hint: '{% trans "Please, upload photos of the community or link to photos on Wiki Commons or Flickr. Make sure that the photos are licensed under creative commons." %}'
            }
        });
      });
    </script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      [
        "community:description",
        "community:geometry_edition",
        "community:search_data",
        "community:related_info"
      ]
    );
  </script>
{% endblock %}
