{% extends "global.html" %}

{% load i18n %}
{% load komoo_tags %}
{% load moderation_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load upload_tags %}
{% load project_tags %}

{% block title %}{{ community.name }}{% endblock %}

{% block facebook_meta %}
  <meta property="og:title" content="{{community.name}} - MootiroMaps" />
  <meta property="og:url" content="{{SITE_URL}}{{community.view_url}}"/>
  <meta property="og:image" content="{{SITE_URL}}{{STATIC_URL}}img/logo-fb.png"/>
{% endblock %}

{% block menu %} {% menu "community" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <h2 class="title">{{ community.name }}</h2>
    <div class="view-edit-btn">
      {% history community %}
      <a href="{% url view_discussion community.perm_id %}" class="btn login-required" title="{% trans 'Go to discussion page' %}"><i class="icon-comment"></i></a>
      <a href="{% url edit_community community.id %}" class="btn login-required" title="{% trans 'Edit this content' %}"><i class="icon-pencil"></i></a>
    </div>

    <div class="clear-both"></div>

    <div class="mark-down">{{ community.description|render_markup|safe }}</div>
    <p>
      <!-- <span class="meta-info">Type</span>NOT IMPLEMENTED<br/> -->
      <span class="meta-info">{% trans "Population" %}</span> {% firstof community.population '-' %}
    </p>
    <div class="view-footer">
        {% image_gallery community %}
    </div>

  </div>

  <div class="right-bar">
    <div id="map-preview">
      <div id="map-preview-canvas"></div>
    </div>
    <a href="{% url community_on_map community.id %}">{% trans 'View on map' %}</a>

    {% taglist community %}

    <div class="block nearby-communities">
      <h3>{% trans "Nearby communities" %}</h3>
      <ul>
        {% for c in community.closest_communities %}
        <li><a href="{% url view_community c.id %}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% projects_for_object community %}
  </div>

  <div class="view-extras">
    {% track_buttons community %}
    {% report_content community %}
    {% delete_button community %}
    {% social_buttons %}
    {% comments community %}
  </div>

</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    require(['map.jquery'], function () {
      $("#map-preview-canvas").komooMap({
        type: 'preview',
        geojson: {{ geojson|safe }},
        width: '200px',
        height: '200px'
      });
    });
  </script>
  {% comments_staticfiles %}
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["community:what_is"],
      'community_show'
    );
  </script>
{% endblock %}
