<ul class="layers geo-objects-listing">
  <% layers.forEach(function (layer) {  %>
    <li class="layer">
      <div class="item on" data-layer="<%= layer.getId() %>" data-visible="<%= layer.isVisible() %>">
        <div class="img-holder"><img class="layer-icon" src="<%= layer.getIconUrl() %>" /></div>
        <span class="name"><%= layer.name %></span><span class="length"><% if (layer.countFeatures()) { %> <%= layer.countFeatures() %> <% } %></span>
      </div>
      <div class="collapser" style="<% if (!layer.countFeatures()) { %>display: none;<%  } %>"><i class="icon-chevron-right"></i></div>
    </li>
    <li class="sublist" data-layer="<%= layer.getId() %>">
      <ul>
        <% layer.getFeatures().forEach(function (feature) { %>
        <li class="feature" data-id="<%= feature.getProperty('id') %>" data-type="<%= feature.getProperty('type') %>"><%= feature.getProperty('name') %></li>
        <%  }); %>
      </ul>
    </li>
  <% }); %>
</ul>
