<ul class="layers geo-objects-listing">
  <% layers.forEach(function (layer) {  %>
  <li class="layer" data-layer="<%= layer.id %>" data-visible="<%= layer.visible %>">
    <div class="item">
      <div class="img-holder"><img class="layer-icon" src="<%= layer.getIconUrl() %>" /></div>
      <span><%= layer.name %></span>
    </div>
    <div class="collapser"><i class="icon-chevron-right"></i></div>
  </li>
  <li class="sublist">
    <ul>
      <% layer.getFeatures().forEach(function (feature) { %>
      <li><%= feature.getProperty('name') %></li>
      <%  }); %>
    </ul>
  </li>
  <% }); %>
</ul>
