{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load komoo_tags %}

{% block menu %} {% menu "organization" %} {% endblock %}

{% block content %}
    <div id="main-content">
        <div class="main-column">

            <div class='form-legend'>{% trans 'New organization' %}</div>

            <div class='alert alert-info required-notice' data-alert='info'>
                <div class='msg'>
                    Os campos com asterisco (<strong>*</strong>) são obrigatórios!
                </div>
            </div>

            {% crispy form_organization %}
        </div>
  </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
{% endblock %}

{% block page_scripts %}
    {{ form_organization.media }}
    <script type="text/javascript">
        $(function(){
            $('#form_organization').ajaxform();

            $('#form_organization').komooFormHintBoxes({
                'name': {
                  hint: '{% trans "Coloque o nome da organização." %}'
                },
                'description': {
                  top: '45%',
                  hint: '{% trans "Coloque detalhes da organização e como ela atua na comunidade." %}'
                },
                'community':{
                  hint: '{% trans "Coloque as comunidades que a organização atua ou atende." %}',
                  top: '-8px'
                },
                'link': {
                    hint: '{% trans "Coloque o endereço do site da organização. Se ela não tiver, ou você não achar, tudo bem, não é obrigatório." %}',
                    top: '-15px'
                },
                'contact': {
                  hint: '{% trans "Coloque aqui os contatos da organização, telefones, endereço, pessoas que podemos conversar..." %}',
                  top: '25%'
                },
                'target_audiences': {
                  hint: '{% trans "Coloque o tipo de pessoas que essa organização busca atingir na comunidade." %}',
                  top: '-12px'
                },
                'categories':{
                  hint: '{% trans "Escolha em que área a organização atua, pode-se escolher mais de uma." %}',
                  top: '45%'
                },
                'tags': {
                  hint: '{% trans "Coloque palavras que ajudem a ilustrar a organização, tal como \"escola\", \"educação\", \"meio-ambiente\"" %}',
                  top: '-12px'
                },
                'files': {
                  hint: '{% trans "Você pode carregar fotos da sua organização" %}',
                  top: '40%'
                },
                'logo': {
                  hint: '{% trans "neste campo voce pode subir um logo da sua organização ou optar por usar uma imagem correspondente a uma das categorias que você marcou acima. Lembre-se primeiro de escolher as categorias para que as imagens apareçam aqui." %}',
                  top: '-40px'
                }
            });
        });
    </script>
{% endblock %}
