{% load i18n %}
{% block api_js %}
{% endblock %}
{% include "main/supporters.html" %}
{% block html %}
  <!-- HTML map container -->
  <div id="map-container-{{ type }}" class="{% if panel %}with-panel{% endif %}" style="height: 100%;">
    {% if panel %} {% include panel %} {% endif %}
    <div id="map-canvas-{{ type }}" style="{% if width %}width: {{ width }};{% endif %} {% if height %}height: {{ height }};{% endif %}" class="komoo-map-googlemap">
      {% if type == 'disabled' %} MAP DISABLED {% endif %}
    </div>
    <div style="clear: both;"></div>
  </div>
    {% if edit_button %}<div><a style="width:91%; margin-top:5px;" href="#" class="button" id="map-edit-button">{% trans "Open the map editor" %}</a></div>{% endif %}
  {% if editable %}<div id="dinamic-form"></div>{% endif %}
{% endblock %}

{% block map_js %}
  <!-- Map creation script -->
  {% if type != 'disabled' %}
  <script type="text/javascript">
    var geojson_{{ type }} = {{ geojson|safe }};
    var featureTypes = {{ feature_types_json|safe }};

    initialize_map_{{ type }} = function () {
      $('#dinamic-form').hide();

      /** Creating the map object **/
      var $map = $('#map-canvas-{{type}}').komooMap({
        type: '{{ type }}',
        // should set 'force: true' because we are not setting a geometry info
        force: ('{{ type }}' == 'tooltip'),
        featureTypes: featureTypes,
        geojson: geojson_{{ type }},
        mapType: '{{ maptype }}',
        height: '{{ height|default:'200px' }}',
        width: '{{ width|default:'200px' }}',
        ajax: '{{ ajax }}'.toLowerCase() === 'true',
        projectId: {{ project|default:'undefined' }}
      });
      var map = $map.data('map');
      {{ type }} = map;

      {% if editable %}
        komoo.event.addListener(map, 'drawing_finished', function (feature, gotoNextStep) {
          if (!feature.isNew()) return;
          var featureType, url, geojson;
          var context = $('#dinamic-form');
          $.ajaxSetup({ cache: true });

          if (gotoNextStep && feature) {
            featureType = feature.getFeatureType();
            geojson = feature.getGeometryCollectionGeoJson();
            url = featureType.formUrl;
            $.ajax({
              url: url,
              cache: true,
              context: context,
              dataType: 'html',
              type: 'GET',
              success: function (data, textStatus, jqXHR) {
                $(this).html(data);
                $('#id_geometry').val(JSON.stringify(geojson));
                if (KomooNS.projectId) {
                  $('#id_project_id').val(KomooNS.projectId);
                }
                $(this).show();
                $(window).resize()
                $('#map-container-{{ type }}, #map-panel').slideUp(600);
              },
              error: function (jqXHR, textStatus, errorThrown) {
                alert('ERRO!!!11!');
              }
            });
          }
        });
      {% endif %}

      {% if edit_button %}
        /* Add the link to edit the geometry. Must have the editor. */
        $('#map-edit-button').click(function () {
            $('#main-content').hide();
            $('#map-container-editor, #map-panel').show();
            if (!window.editor) {
              window.editor = initialize_map_editor();
              window.editor.loadGeoJSON(geojson_{{ type }}, true);

              komoo.event.addListener(editor, 'drawing_finished', function (feature, gotoNextStep) {
                if (gotoNextStep) {
                  $('#id_geometry').val(JSON.stringify(feature.getGeometryCollectionGeoJson()));
                  if (map) {
                    map.clear();
                    map.loadGeoJson(editor.getGeoJson());
                  }
                } else {
                }
                $('#map-container-editor, #map-panel').slideUp(600);
                $('#main-content').show();
                if (window.{{ type }}) {{ type }}.refresh();

              });
            }

            window.editor.refresh();
            window.editor.editFeature();
        });
      {% endif %}

      if (!map) return;

      {% if editable %}
        editor = {{ type }};
      {% endif %}

      $("#map-panel").show();

      return map;
    };
      {% if type == 'view' %}
      $(function () {
        $('.see-on-map').click(function () {
          var closeBox;
          $('#map-container-{{ type }}').show();
          $('#main-content').hide();
          if (!window.{{ type }}) {
            var map = initialize_map_{{ type }}();
            map.addComponent('map/controls::CloseBox').done(function (closeBox) {
              var feature = map.features.getAt(0);
              closeBox.setTitle(feature.getProperty('name'));
              komoo.event.addListener(map, 'close_click', function () {
                $('#map-container-{{ type }}, #map-panel').slideUp(600);
                $('#main-content').show();
              });
            });
          }
          var feature = map.features.getAt(0);
          if (feature && feature.getBounds())
            map.fitBounds(feature.getBounds());
          map.refresh();
          return false;
        });
      });
      {% endif %}

{% if not lazy %}
    require(['app'], function() {
      require(['map.jquery'], initialize_map_{{ type }});
    });
{% endif %}

  </script>
  {% endif %}
{% endblock %}
