
{% extends "global.html" %}
{% load crispy_forms_tags %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}Investment{% endblock %}

{% block menu %} {% menu community "investment" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <div class='form-legend'>{% trans 'Form Investment' %}</div>

    <div class='alert alert-info required-notice' data-alert='info'>
        <a class='required-notice-close close' data-dismiss='alert'>×</a>
        <div class='msg'>
            Os campos com asterisco (<strong>*</strong>) são obrigatórios!
        </div>
    </div>
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    var $form = $("#investment_form");

    $form.ajaxform();
    $form.komooFormHintBoxes({}); // This call is breaking the JS

    // Investor field configuration
    $("input[name=investor_type]", $form).on("change", function (event) {
        var t = $(this).val();
        if (t == "ORG") {
            $("#div_id_investor_person", $form).hide();
            $("#div_id_investor_organization", $form).show();
        } else if (t == "PER") {
            $("#div_id_investor_organization", $form).hide();
            $("#div_id_investor_person", $form).show();
        }
    });
    $(function (event) {
        $("input[name=investor_type]:checked", $form).change();
    });

</script>
{% endblock %}
