
{% extends "global.html" %}
{% load crispy_forms_tags %}
{% load komoo_tags %}

{% block title %}Investment{% endblock %}

{% block menu %} {% menu community "investment" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    var $form = $("#investment_form");

    $form.ajaxform();

    // Investor field configuration
    $("input[name=investor_type]", $form).on("change", function (event) {
        var t = $(this).val();
        if (t == "ORG") {
            $("#div_id_investor_person", $form).hide();
            $("#div_id_investor_organization", $form).show();
        } else if (t == "PER") {
            $("#div_id_investor_organization", $form).hide();
            $("#div_id_investor_person", $form).show();
        }
    });
    $(function (event) {
        $("input[name=investor_type]:checked", $form).change();
    });
</script>
{% endblock %}
