{% extends 'global.html' %}

{% load i18n %}

{% block content %}

  <div id="forgot-password">

    {% if email_sent %}
      <h1>
        {% trans "E-mail sent. Please, check your inbox. It may take a few minutes to arrive." %}
      </h1>
    {% else %}

      {% if error %}
      <p class="error">{{ error }}</p>
      {% endif %}
    <h1>{% trans "Forgot your password?" %}</h1>

    <p>
      {% trans "Enter your e-mail address below. We will send you an e-mail with a recovery link" %}
    </p>

    <p>
      <form action="{% url forgot_password %}" method="post">
        {% csrf_token %}
        <input id="id_email" type="text" name="email" />
        <input type="submit" class="button" value="{% trans 'send email' %}"/>
      </form>
    </p>
    {% endif %}
  </div>
{% endblock %}
