{% load i18n %}
<form id="form_login" action="{% url user_login %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}"/>
  <label for="email">Email</label>
  <input id="email" type="email" name="email"/>
  <label for="password">Password</label>
  <input id="password" type="password" name="password"/>
  <span class="small">
    <a href="{% url user_new %}">{% trans "Do not have an account yet?" %}</a>
  </span>
  <span class="small">
    <a href="{% url forgot_password %}">{% trans "Forgot your password?" %}</a>
  </span>
  <input type="submit" value="{% trans 'Log in' %}"/>
</form>
