{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    {% include "authentication/login_box.html" %}
    {% include "authentication/new_box.html" %}
{% endblock %}

{% block css %}
<style>
  #content #login_box { display: block; float: left; margin: 15px; }
  .main-column { width: 550px; margin: 0; float: right; }
</style>
{% endblock %}
{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["user:name", "user:password"]
    );
  </script>
{% endblock %}
