{% load crispy_forms_tags %}
{% load i18n %}

  <section id="new_box">
    <header>
      <h1 class='form-legend'>{% trans 'New User' %}</h1>
      <div class='alert alert-info required-notice' data-alert='info'>
          <div class='msg'>
            {% trans '<strong>*</strong> required fields!' %}
          </div>
      </div>
    </header>
      {% crispy form form.helper %}
  </section>
    <script type="text/javascript">
      $(function(){
        $('#form_user').ajaxform();
      });
    </script>
