{% load crispy_forms_tags %}
{% load i18n %}

  <div id="main-content">
    <div class="main-column">
      <div class='form-legend'>{% trans 'New User' %}</div>
      <div class='alert alert-info required-notice' data-alert='info'>
          <div class='msg'>
            {% trans '<strong>*</strong> required fields!' %}
          </div>
      </div>
      {% crispy form form.helper %}
    </div>
  </div>
    <script type="text/javascript">
      $(function(){
        $('#form_user').ajaxform();
      });
    </script>
