{% extends 'global.html' %}

{% load i18n %}

{% block content %}
  <div id="recover-password">
    {% if error %}
      <p class='error'>{{ error }}</p>
    {% endif %}

    <h1>{% trans "Enter you e-mail and new password below" %}</h1>

    <form method="post">
      {% csrf_token %}
      <p>
        <label for="email">E-mail</label>
        <input id="id_email" type="text" name="email" />
      </p>
      <p>
        <label for="password">Password</label>
        <input id="id_password" type="password" name="password" autocomplete=false />
      </p>
      <p>
        <label for="password_confirmation">{% trans 'Password confirmation' %}</label>
        <input id="id_password_confirmation" type="password" name="password_confirmation" autocomplete=false />
      </p>
      <input id="id_key" type="hidden" name="key"  value="{{ key }}"/>
      <p>
        <input type="submit" value="submit" class="button" />
      </p>
    </form>

  </div>
{% endblock %}
