{% extends 'global.html' %}

{% load i18n %}

{% block content %}

<div id="main-content">
  <section id="user_verification">
    {% if message == 'check_email' %}
      <div class="check_email">
        <div class="left">
          <img src="{{STATIC_URL}}img/spock-email.png" />
        </div>
        <div class="right">
          <h1>{% trans "Your account has been created!" %}</h1>
          <p>{% trans "In order to log in, please confirm your email address. Please check your inbox!" %}</p>
        </div>
      </div>
    {% else %}
      <div class="verified">
        <div class="left">
          <h1>
            {% if message == 'activated' %}
              {% trans "Your email address has been succesfully verified!" %}
            {% endif %}
            {% if message == 'already_verified' %}
              {% trans "Your email address had already been verified!" %}
            {% endif %}
          </h1>
            <p>{% trans "Now, you might log in, please" %}</p>
        </div>
        <div class="right">
          {% include "authentication/komoo_login_form.html" %}
        </div>
      </div>
    {% endif %}

  </section>
</div>

{% endblock %}
