{% load vote_tags %}
{% load markitup_tags %}
{% load moderation_tags %}
{% load i18n %}
<div class="comment-container {{ comment_class }}" commentID="{{ comment.id }}">
    <div class="comment-header">
        <a href="{% if comment.author %}/permalink/u{{ comment.author.id }}{% else %}#{% endif %}">{% firstof comment.author.get_full_name comment.author.username 'anonymous' %}</a>  {{ comment.pub_date|date:'d/m/Y, H:i'}}
        {% if comment.sub_comments > 0 %}
            {% blocktrans count num=comment.sub_comments %}{{ num }} answer{% plural %}{{ num }} answers{% endblocktrans %}
        {% endif %}
        {% report_content comment 'link' %}
        <div class="comment-vote">
            {% vote comment %}
        </div>
    </div>

    <div class="comment mark-down" >
        {{ comment.comment|render_markup|safe }}
    </div>
    <div class="comment-footer">
        <a class="btnShowForm" href="#">{% trans 'Reply' %}</a>
        {#% if comment.sub_comments > 0 %#}
        <a class="link_subcomments" href="" comment-id="{{ comment.id }}">
          {% blocktrans count num=comment.sub_comments %}{{ num }} answer{% plural %}{{ num }} answers{% endblocktrans %}
        </a>
        {#% endif %#}
        <div class='comment-form'>
            <form method='post' class='stacked-form' action='/comments/add/' >
                <fieldset>
                    {% csrf_token %}
                    <!--label>Comment:</label--><textarea rows='5' cols='80' id="id_comment_{{ comment.id }}" name='comment' class='span8 comment_markdown'></textarea>
                    <input type="hidden" name="content_type_id" value="{{ comment.content_type_id }}" id="id_content_type_id" />
                    <input type="hidden" name="object_id" value="{{ comment.object_id }}" id="id_object_id" />
                    <input type='hidden' name='parent_id' value="{{comment.id}}" id="id_parent_id" />
                    <div class='clearfix'>
                        <input type='submit' class='btnFormCommentSubmit button' value='save'/>
                    </div>
                </fieldset>
            </form>
            <script type="text/javascript">
                (function($) {
                    $(document).ready(function() {
                        $("#id_comment_{{ comment.id }}").markItUp(mySettings);
                        $('a[title="Preview"]').trigger('mouseup'); });
                })(jQuery)
            </script>
        </div>
    </div>
    {% if comment.sub_comments > 0 %}
        {% autoescape off %}
            {{ comment.sub_comments_list }}
        {% endautoescape %}
    {% endif %}
</div>
