{% extends "global.html" %}

{% block title %}Comment{% endblock %}

{% block content %}

<h2>Comments: </h2>

<div id='divFormComment'>
    <a href="#" class="btnShowForm">Novo Comentário</a>
    <div class='comment-form'>
        <form method="post" id="formComment" class="stacked-form" action="{% url comments_add %}" >
            <fieldset>
                {% csrf_token %}
                {{ form_comment }}
                <div class="clearfix">
                    <input type="submit" class="btnFormCommentSubmit button" value="save"/>
                </div>
            </fieldset>
        </form>
    </div>

</div>

{% autoescape off %}
    {{ comments_list }}
    <a class="btnShowMore" href='#'>ver mais ...</a>
{% endautoescape %}

{% endblock %}

{% block page_scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}komoo_utils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/comments.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/comments.css" />
{% endblock %}
