{% extends "global.html" %}

{% block title %}Comment{% endblock %}

{% block content %}

<div id='divFormComment'>
	<form method="post" id="formComment" action="{% url comments_add %}" >
		<!-- <fieldset> -->
			{% csrf_token %}
			{{ form_comment }}
			<input type="submit" id="btnFormCommentSubmit" class="button" value="save"/>
		<!-- </fieldset> -->
	</form>
</div>

<h2>Comments: </h2>
<div id="comments-list">
	{% for comment in comments %}
		<div class="comment-container" commentID="{{ comment.id }}">
			<div class="comment-header">
				<a href="#">{% firstoff comment.author 'annonynous'} </a>
			</div>
			<div class="comment" >
				{{ comment.comment}}  - [{{ comment.pub_date}}]
			</div>
			{% if comment.sub_comments > 0 %}
			<div>
				<a href="#" class="linkSubComments">[{{ comment.sub_comments }} sub-comments]</a>
			</div>
			{% endif %}
			<div class="comment-add">
				<a class="btnSubCommentAdd" href="#">Responder</a>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block page_scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}komoo_utils.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/comments.js"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/comments.css" />
{% endblock %}