{% load markitup_tags %}
{% load i18n %}
{% load komoo_tags %}


<div class="metadata">
  {% if row.errors %}
  <div class="errors">
    <h3>{% trans "Errors" %}</h3>
    <ul>
      {% for msg in row.errors %}
      <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
                          
  {% if row.warnings %}
  <div class="warnings">
    <h3>{% trans "Warnings" %}</h3>
    <ul>
      {% for msg in row.warnings %}
      <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
  
<div class="main-column">
  <h2>{{ row.object_dict.name }}</h2>
  <div class="apart"><span class="meta-info">{% trans "Creator" %}:</span> {{ row.object_dict.creator.name }}</div>
  {% if row.object_dict.geometry %}
    <i class="icon-map no-hover"></i><span class="meta-info">{% trans "Geometry" %}:</span>
    {{ row.object_dict.geometry_preview }}
  {% endif %}

  <div class="mark-down">{{ row.object_dict.description|render_markup|safe }}</div>
  {% if row.object_dict.population %}
    <div class="apart"><span class="meta-info">{% trans "Population" %}:</span> {{ row.object_dict.population }}</div>
  {% endif %}
</div>

<div class="right-bar right-bar-modif">  
  <div class="view-tag-list">
    {% if row.object_dict.tags %}
    <span class="inline-block meta-info">{% trans 'Tags' %}</span>
    <div class="view-tag-list-tags">
      {% for tag in row.object_dict.tags %}
      <span class="inline-block tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
