{% extends 'global.html' %}

{% load i18n %}
{% load komoo_tags %}
{% load komoo_filters %}
{% load komoo_map_tags %}
{% load update_tags %}
{% load markitup_tags %}
{% load comment_tags %}

{% block facebook_meta %}
  <meta property="og:title" content="{{user_profile.name}} - MootiroMaps" />
  <meta property="og:url" content="{{SITE_URL}}{{user_profile.view_url}}"/>
  <meta property="og:image" content="{{SITE_URL}}{{ user_profile.files_set.0.file.url }}"/>
{% endblock %}

{% block content %}

<div class="profile-container" id="main-content">

    <!-- profile left pane -->
    <div class="profile-left-pane">

        <!-- profile header (name and edit button) -->
        <div class="profile-lp-header">
            <span class="profile-lp-header-username">{{ user_profile.name }}</span>
            {% if user.id == user_profile.id %}
            <a href="{% url profile_update %}" class="btn profile-lp-header-edit-btn" title="Editar Perfil">
                <i class="icon-pencil"></i>
            </a>
            {% endif %}
        </div>

        <!-- User photo -->
        <div class="profile-lp-photo">
            <img src="{{ user_profile.avatar }}" alt="user photo" />
        </div>

        <!-- user about_me info -->
        {% if user_profile.about_me %}
        <div class="profile-lp-contact">
            <div class="profile-lp-contact-header">{% trans 'About Me' %}</div>
                {{ user_profile.about_me|render_markup|safe }}
        </div>
        {% endif %}

        {% if geojson %}
        <div class="profile-lp-map-preview">
          <div id="map-canvas-main-preview" class="map-canvas">
            <div class="placeholder">
                {% trans 'Loading...' %}
            </div>
          </div>
        </div>
        {% endif %}

        <!-- map info section -->
        <div class="profile-lp-map-actions">

        </div>


    </div> <!-- End of profile left pane -->

    <div id="last-updates-panel" class="profile-central-pane">
      {% updates_list updates_page "compact" %}
    </div>

    {% if user_profile.projects_contributed.count %}
    <div class="profile-lp-projects">
      <div class="profile-lp-projects-header">
        {% trans 'Projects' %}
      </div>
      <ul>
        {% for proj in user_profile.projects_contributed %}
        <li>
          <div class="profile-lp-projects-logo"><img src="{{ proj.logo_url }}" title="{{ proj.name }}" /></div>
          <div class="profile-lp-projects-name"><a href="{{ proj.view_url }}">{{ proj.name}}</a></div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="profile-footer">
        {% comments user_profile %}
    </div>
</div>
{% endblock %}

{% block css %}

{% endblock %}

{% block page_scripts %}

    {% komoo_map_tooltip %}
    {% comments_staticfiles %}

    {% if geojson %}
    <script type="text/javascript">
        require(['map.jquery'], function () {
            $("#map-canvas-main-preview").komooMap({
                type: 'preview',
                mapType: google.maps.MapTypeId.ROADMAP,
                zoom: 16,
                geojson: {{ geojson|safe }},
                width: '317px',
                height: '200px'
            });
        });
    {% endif %}
    </script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      [
        "user:data",
        "user:policy",
        "user:delete"
      ]
    );
  </script>
{% endblock %}
