{% extends 'global.html' %}

{% load komoo_tags %}

{% block content %}
  <section class="content" id="main-content" style="height:550px; width:100%;">
    <!-- this a dummy div only to occupy space -->
    <br/> &nbsp;
  </section>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  if ( typeof KomooNS == 'undefined' || !KomooNS) {
    KomooNS = {};
  }
  if ( typeof KomooNS.authentication == 'undefined' || !KomooNS.authentication) {
    KomooNS.authentication = {};
  }
  KomooNS.authentication.error = {{error|to_json|safe}};

</script>
{% endblock %}

