{% extends "global.html" %}

{% load i18n %}
{% load komoo_map_tags %}
{% load moderation_tags %}
{% load comment_tags %}
{% load proposal_tags %}
{% load komoo_tags %}
{% load markitup_tags %}
{% load project_tags %}

{% block title %}{{ investment.title }} on {{ investment.grantee }}{% endblock %}

{% block facebook_meta %}
  <meta property="og:title" content="{{ investment.title }} on {{ investment.grantee }} - MootiroMaps" />
  <meta property="og:url" content="{{SITE_URL}}{{investment.view_url}}"/>
  <meta property="og:image" content="{{SITE_URL}}{{STATIC_URL}}img/logo-fb.png"/>
{% endblock %}

{% block menu %} {% menu "investment" %} {% endblock %}

{% block content %}
  <div id="main-content">
    <div class="investment main-column">
      <h2 class="title">{{ investment.title }}</h2>

      <div class="view-edit-btn right">
        {% history investment %}
        <a href="{% url view_discussion investment.perm_id %}" class="btn login-required" title="Ver página de discussão"><i class="icon-comment"></i></a>
        <a class="btn login-required" href="{{ investment.edit_url }}" title="Editar conteúdo"><i class="icon-pencil"></i></a>
      </div>

      <div class="clear-both"></div>

      <div class="apart">
        <span class="meta-info">{% trans "Grantee" %}</span>
          <a href="{{ investment.grantee.view_url }}">{{ investment.grantee }}</a><br/>
        <span class="meta-info">{% trans "Investor" %}</span>
          {% if investment.investor.view_url %}
          <a href="{{ investment.investor.view_url }}">{{ investment.investor }}</a>
          {% else %}
          {{ investment.investor }}
          {% endif %}
          <br/>
        {% if investment.end_date %}
        <span class="meta-info">{% trans "Period" %}</span> {{ investment.date }} - {{ investment.end_date }}<br/>
        {% else %}
        <span class="meta-info">{% trans "Date" %}</span> {{ investment.date }}<br/>
        {% endif %}
        {% if investment.value %}
        <span class="meta-info">{% trans "Value" %}</span> {{ investment.currency }} {{ investment.value }}
        {% endif %}
      </div>

      <div class="mark-down apart">
        {{ investment.description|render_markup|safe }}
      </div>
    </div>

  <div class="right-bar">

    {% projects_for_object investment %}
    {% taglist investment %}

    {% with similar_investments=investment.tags.similar_objects %}
      {% if similar_investments %}
      <div class="block">
        <h3>{% trans "Similar investments" %}</h3>
        <ul>
          {% for i in similar_investments %}
          <li>
              <a href="{{ i.view_url }}"> {{ i.title }} </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endwith %}
  </div>

  <div class="view-extras">
    {% track_buttons investment %}
    {% report_content investment %}
    {% delete_button investment %}
    {% comments investment %}
  </div>

</div>
{% endblock %}

{% block page_scripts %}
    {% comments_staticfiles %}
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["investment:what_is", "investment:transparency"]
    );
  </script>
{% endblock %}
