{% if redirect %}
  <script>window.location = '{{redirect}}';</script>
{% else %}
  {% load crispy_forms_tags %}
  {{ form.media }}


  <div class='alert alert-info required-notice' data-alert='info'>
      <a class='required-notice-close close' data-dismiss='alert'>×</a>
      <div class='msg'>
          Os campos com asterisco (<strong>*</strong>) são obrigatórios!
      </div>
  </div>
  {% crispy form form.helper %}

  <script type="text/javascript">
    require(['jquery', 'utils', 'ajaxforms'], function ($) {
      $(function(){
        $('#community_form').ajaxform();

        $('#community_form').komooFormHintBoxes({
            'name': {
                hint: 'Coloque o nome da comunidade.'
            },
            'population': {
                hint: 'Coloque aqui o número de moradores da comunidade.',
                top: '-8px'
            },
            'description': {
                hint: 'Fale um pouco sobre a comunidade, sobre como ela começou, aonde ela fica, se ela é um bairro, uma favela, uma vila.',
                top: '40%'
            },
            'tags': {
                hint: 'Coloque palavras que classifiquem a comunidade, ou que localizem a comunidade, tal como a "Zona Sul", "Guarapiranga", "favela".',
                top: '-28px'
            },
            'files': {
                hint: 'Você pode carregar fotos da comunidade.'
            }
        });
      });
    });
  </script>
{% endif %}
