{% load i18n %}

<ul>
  <li class="map {% if selected_area == 'map' %}active{% endif %}">
    <a href="{% url map %}"><div class="ico"></div><span>{% trans "Map" %}</span></a>
  </li>
  <li class="objects dropdown_menu {% if selected_area == 'community' or selected_area == 'organization' or selected_area == 'need' or selected_area == 'resource' or selected_area == 'investment' or selected_area == 'object' %}active{% endif %}">
    <a href="{% url object_highlights %}"><div class="ico"></div><span>{% trans "Objects" %}</span></a>
    <ul>
      <li class="{% if selected_area == 'community' %}active{% endif %} community">
        <a href="{% url list_communities %}"><div class="ico"></div>{% trans "Communities" %}</a>
      </li>
      <li class="{% if selected_area == 'organization' %}active{% endif %} organization">
        <a href="{% url organization_list %}"><div class="ico"></div>{% trans "Organizations" %}</a>
      </li>
      <li class="{% if selected_area == 'need' %}active{% endif %} need">
        <a href="{% url need_list %}"><div class="ico"></div>{% trans "Needs" %}</a>
      </li>
      <li class="{% if selected_area == 'resource' %}active{% endif %} resource">
        <a href="{% url resource_list %}"><div class="ico"></div>{% trans "Resources" %}</a>
      </li>
      <li class="{% if selected_area == 'investment' %}active{% endif %} investment">
        <a href="{% url investment_list %}"><div class="ico"></div>{% trans "Investments" %}</a>
      </li>
    </ul>
  </li>
  <li class="projects {% if selected_area == 'project' %}active{% endif %}">
    <a href="{% url project_highlights %}"><div class="ico"></div><span>{% trans "Project Maps" %}</span></a>
  </li>
</ul>
