{% load i18n %}
<section id="login_box">
  <header>
    <h1>{% trans "Log in" %}</h1>
  </header>

  {% if login_error %}
  <p class="errors">
    {% trans "An error ocurred." %}
    {% if login_error == 'wrong_credentials' %}
      {% trans "Wrong password or username" %}
    {% endif %}
    {% if login_error == 'user_not_active' %}
      {% trans "You have not verified your email yet." %}
    {% endif %}
  </p>
  {% endif %}

  <div>
    <ul id="external_providers">
      <li class="google">
        <a href="{% url login_google %}{% if next %}?next={{ next }}{% endif %}">
          <button class="google">
            <img src="{{STATIC_URL}}img/login-google.png" />
            {% trans "Log in with Google" %}
          </button>
        </a>
      </li>
      <li class="facebook">
        <a href="{% url login_facebook %}{% if next %}?next={{ next }}{% endif %}">
          <button class="facebook">
            <img src="{{STATIC_URL}}img/login-facebook.png" />
            {% trans "Log in with Facebook" %}
          </button>
        </a>
      </li>
    </ul>

    <div id="separator">
      <div class="vertical_line top"></div>
      <span>{% trans "or" %}</span>
      <div class="vertical_line bottom"></div>
    </div>

    {% include "authentication/komoo_login_form.html" %}
  </div>

  <div class="clear-both"></div>
</section>
