{% load i18n %}
{% load komoo_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->


    <title>{% block title %}Child Friendly Places{% endblock %}</title>

    <!-- Facebook sharing tags -->
    <meta property="og:site_name" content="Child Friendly Places" />
    <meta property="fb:app_id" content="{{ KomooNS.facebookAppId }}" />
    <meta property="og:description" content="{% trans 'Creating Better Environments with Children, Youth and Families' %}"/>
    <meta property="og:type" content="website" />

    {% block facebook_meta %}
      <meta property="og:title" content="Child Friendly Places" />
      <meta property="og:image" content="{{SITE_URL}}{{THEME_STATIC_URL}}img/logo-fb.png"/>
      <meta property="og:url" content="{{SITE_URL}}"/>
    {% endblock %}

    <link rel="shortcut icon" HREF="{{THEME_STATIC_URL}}favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/flexslider/flexslider.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/joyride/joyride-2.0.3.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/styles.css" />
    <link rel="stylesheet" type="text/css" href="{{THEME_STATIC_URL}}css/fashion.css" />
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Droid+Serif:400,7000&#038;subset=latin,latin-ext' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' />
    <script type="text/javascript" src="{% url javascript_catalog %}"></script>
    <script type="text/javascript">
      var KomooNS = {{ KomooNS|to_json|safe }};
      KomooNS.data = {% if KomooNS_data %} {{ KomooNS_data|to_json|safe }};
                     {% else %} {}; {% endif %}

      var isAuthenticated = {{ user.is_authenticated|lower }};
    </script>
  </head>
  <body class="{% if community %}community{% endif %}">

    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/backbone-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/heartcode-canvasloader-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/django-js-utils/dutils.conf.urls.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/joyride/jquery.joyride-2.0.3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/flexslider/jquery.flexslider-min.js"></script>
    <!-- Our utilities lib -->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/shortcut.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/komoo_utils.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/komoo_search.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/moderation/moderation.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ajaxforms.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}js/config.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/require.js"></script>

    <script type="text/javascript">
      define('jquery', [], function() { return jQuery; });
      define('underscore', [], function() { return _; });
      define('backbone', [], function() { return Backbone; });
    </script>


    <!--
    <script type="text/javascript" src="{{STATIC_URL}}lib/reForm.js"></script>
    -->

    {{ form.media.css }}
    {{ form.media.js }}

    {% block css %}{% endblock %}

    <!-- Facebook stuff -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{ KomooNS.facebookAppId }}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>


    <div id="root">

      <div id="top" class="site-topbar">
        {% block topbar %}
          {% include "main/topbar.html" %}
        {% endblock %}
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>

      <div id="footer">
        {% block footer %}
          {% include "main/footer.html" %}
        {% endblock %}
      </div>

      {% if not user.is_authenticated %}
        {% include "authentication/login_box.html" %}
      {% endif %}

      {% include "main/error_box.html" %}

    </div>
    {% block page_scripts %}{% endblock %}

    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31165229-1']);
      _gaq.push(['_setDomainName', 'mootiro.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script type="text/javascript" src="{{STATIC_URL}}js/help_center/help_center.js"></script>


    {% block help_center %}
      <script type="text/javascript">
        $('#help_button').parent().remove();
      </script>
    {% endblock %}

  </body>
</html>
