{% extends 'global.html' %}
{% load komoo_map_tags %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}{% trans 'Projects' %}{% endblock %}

{% block menu %} {% menu "project" %} {% endblock %}

{% block content %}

  <div id="main-content" class='highlights'>
    <h1>{% trans "Projects" %}</h1>
    <a class="right login-required big-button new project-btn" href="{% url project_new %}" title="Criar novo Projeto de Mapeamento"><i class="icon-plus icon-white"></i><span class="ico"></span>{% trans "Create a project" %}</a>

    {% if user.projects_contributed.count %}
      <div class="my-projects-section">
        <div class="section-header">
          <hr/>
          <span>{% trans "My projects" %}</span>
        </div>
        
        <div class="flexslider">
          <ul class="slides">
            {% for proj in user.projects_contributed %}
            <li>
              <a href="{{ proj.view_url }}">
                <div class="logo">
                  <img src="{{ proj.logo_url }}" title="{{ proj.name }}" />
                </div>
                <p>{{ proj.name}}</p>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
    
    {% for s in sections %}
      <div class="section">
        <div class="section-header">
          <hr/>
          <span>{% if s.icon_src %}<img src="{{ s.icon_src }}">{% endif %}{{ s.name }}</span>
        </div>
        <ul>
          {% for h in s.highlights %}
          <li>
            <a href="{{h.object.view_url}}">
              <div class="logo"><img src="/media/{{h.object.logo}}" /></div>
              <div class="map-preview-container">
                <div class="map-preview" geojson='{{h.object.geojson|safe}}'></div>
              </div>
              <h3>{{h.object.name}}</h3>
              <p>{% firstof h.object.short_description '' %}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <br/>
    <div class="centralizer apart"><a class="big-button project-btn" href="{% url project_list %}">{% trans "See all projects" %}</a></div>
    
  </div>

{% endblock %}
  
{% block page_scripts %}
<script type="text/javascript">
  $(function(){
    require(['map/maps', 'map.jquery'], function (maps) {
      var gmopt = {};
      $.extend(
        gmopt,
        maps.Preview.prototype.googleMapDefaultOptions,
        {'scrollwheel': false, 'draggable': false, 'disableDoubleClickZoom': true, 'scaleControl': false}
      );
      $('.map-preview').each(function (i, elem) {
        var geojson = $.parseJSON($(elem).attr('geojson'));
        $(elem).komooMap({
          type: 'preview',
          geojson: geojson,
          googleMapOptions: gmopt,
          width: '266px',
          height: '195px'
        });
      });
    });
    $('.flexslider').flexslider({
      animation: "slide",
      animationLoop: false,
      itemWidth: 150
    }).flexslider("pause");
  });

</script>
{% endblock %}
