{% extends 'global.html' %}
{% load komoo_map_tags %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}{% trans 'Projects' %}{% endblock %}

{% block menu %} {% menu "project" %} {% endblock %}

{% block content %}

  <div id="main-content" class='highlights'>
    <h1>{% trans "Projects" %}</h1>
    <a class="right login-required big-button new .project-btn" href="{% url project_new %}" title="Criar novo Projeto de Mapeamento"><i class="icon-plus icon-white"></i><span class="ico"></span>{% trans "Create a project" %}</a>
    
    {% for s in sections %}
      <div class="section">
        <div class="section-header">
          <hr/>
          <span>{% if s.icon_src %}<img src="{{ s.icon_src }}">{% endif %}{{ s.name }}</span>
        </div>
        <ul>
          {% for h in s.highlights %}
          <li>
            <div class="map-preview-container">
              <div class="map-preview" geojson='{{h.object.geojson|safe}}'></div>
            </div>
            <a href="{{h.object.view_url}}">
              <div class="logo"><img src="/media/{{h.object.logo}}" /></div>
              <h3>{{h.object.name}}</h3>
              <p>{% firstof h.object.short_description '' %}</p>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

    <div class="centralizer apart"><a class="big-button .project-btn" href="{% url project_list %}">{% trans "See all projects" %}</a></div>
    
  </div>

{% endblock %}
  
{% block page_scripts %}
<script type="text/javascript">
  $(function(){
    require(['map.jquery'], function () {
      $('.map-preview').each(function (i, elem) {
        var geojson = $.parseJSON($(elem).attr('geojson'));
        $(elem).komooMap({
          type: 'preview',
          geojson: geojson,
          width: '260px',
          height: '195px'
        });
      });
    });
  });
</script>
{% endblock %}
