{% extends 'global.html' %}

{% load komoo_tags %}
{% load moderation_tags %}
{% load komoo_map_tags %}
{% load i18n %}
{% load comment_tags %}
{% load markitup_tags %}
{% load organization_tags %}
{% load investment_tags %}
{% load upload_tags %}
{% load project_tags %}

{% block title %} {{ organization.name }} {% endblock %}

{% block facebook_meta %}
  <meta property="og:title" content="{{organization.name}} - MootiroMaps" />
  <meta property="og:url" content="{{SITE_URL}}{{organization.view_url}}"/>
  {% if organization.logo %}
    <meta property="og:image" content="{{SITE_URL}}{{organization.logo_url}}"/>
  {% else %}
    {% if organization.logo_category %}
      <meta property="og:image" content="{{SITE_URL}}{{organization.logo_url}}"/>
    {% else %}
      <meta property="og:image" content="{{SITE_URL}}{{STATIC_URL}}img/logo-fb.png"/>
    {% endif %}
  {% endif %}
{% endblock %}

{% block menu %} {% menu "organization" %} {% endblock %}

{% block content %}
{% komoo_map geojson 'type=editor' 'width=100%' 'height=100%' 'zoom=13' 'panel=' 'lazy=True' %}
<div id="main-content" class="inline-block">
    <div class="main-column">

        <div class="view-header" >
            {% if organization.logo or organization.logo_category %}
            <img src="{{ organization.logo_url }}" class="inline-block organization-logo">
            {% endif %}
            <div class="inline-block organization-header">
                <h2>{{ organization.name }}</h2>
            </div>
            <div class="view-edit-btn">
                {% history organization %}
                <a href="{% url view_discussion organization.perm_id %}" class="btn login-required"><i class="icon-comment"></i></a>
                <a href="{{ organization.edit_url }}" class="btn login-required">
                    <i class="icon-pencil"></i>
                </a>
            </div>

        </div>

        <div class="view-body">
            <div class="mark-down">{{ organization.description|render_markup|safe }}</div>
            <div class="related-button"><a class="button" href="{{ organization.related_items_url }}">{% trans 'See all objects on map' %}</a></div>
            <div class="organization-buttons row">
                <div class="org-btn span3 selected" panel="branches-list">
                    <i class="icon-map"></i>
                    <div class="inline-block">
                      {% blocktrans count num=organization.organizationbranch_set.count %}{{ num }} point on map{% plural %}{{ num }} points on map{% endblocktrans %}
                    </div>
                </div>
                <div class="org-btn span3" panel="supported-organizations-list">
                    <i class="icon-organization"></i>
                    <div class="inline-block">
                      {% blocktrans count num=organization.supported_organizations|length %}Supported {{ num }} organization{% plural %}Supported {{ num }} organizations{% endblocktrans %}
                    </div>
                </div>
                <div class="org-btn span3" panel="communities-list">
                    <i class="icon-community"></i>
                    <div class="inline-block">
                      {% blocktrans count num=organization.community.count %}On {{ num }} community{% plural %}On {{ num }} communities{% endblocktrans %}
                    </div>
                </div>
                <div class="org-btn span3" panel="supported-proposals-list">
                    <i class="icon-need"></i>
                    <div class="inline-block">
                      {% blocktrans count num=organization.supported_proposals|length %}Supported {{ num }} proposal{% plural %}Supported {{ num }} proposals{% endblocktrans %}
                    </div>
                </div>
                <div class="org-btn span3" panel="supported-resources-list">
                    <i class="icon-resource"></i>
                    <div class="inline-block">
                      {% blocktrans count num=organization.supported_resources|length %}Supported {{ num }} resource{% plural %}Supported {{ num }} resources{% endblocktrans %}
                    </div>
                </div>
                <div class="org-btn span3 multiline" panel="investments-list">
                    <i class="icon-investment"></i>
                    <div class="inline-block">
                      {% blocktrans count num=organization.realized_investments.count %}Realized {{ num }} investment
                      {% plural %}Realized {{ num }} investments{% endblocktrans %}
                    <br>
                    {% blocktrans count num=organization.investments.count %}Received {{ num }} investment
                    {% plural %}Received {{ num }} investments{% endblocktrans %}
                    </div>
                </div>
            </div>

            <div class="org-info-panel branches-list" >
                {% if organization.organizationbranch_set.count %}

                <!-- <div class="branches-see-all">
                    <div class="see-on-map-icon"></div>{% trans 'see all' %}
                </div> -->
                {% with page_size=5 %}
                {% for branch in organization.organizationbranch_set.all %}
                <div class="branch-link org-info-div" page="{{ forloop.counter0|page_num:page_size }}" data-branch-id="{{ branch.id }}" style="display:none;">
                    <a href="#">
                        <div class="branch-name">
                            <span class="entry">{{ branch.name }}</span>
                            <span class="branch-map-icon"></span>

                            <span class="branch-link-btn">
                                <i class="icon-chevron-right"></i>
                            </span>
                        </div>
                    </a>
                    <div class="branch-info" style="display: none;">
                        <div>
                            <a href="#" class="branch-edit-btn btn login-required">
                                <i class="icon-pencil"></i>
                            </a>
                        </div>
                        <div class="entry">
                            {{ branch.info|render_markup|safe }}
                        </div>
                        {% include 'organization/branch_communities_list.html' %}

                    </div>
                    <div class="branch-form hidden">
                        {% branch_edit_form branch.id %}
                    </div>
                </div>
                {% endfor %}

                {% if organization.organizationbranch_set.count > page_size %}
                <a href="#" class="branch-pagination" page="1">
                    &lt;&lt;{%trans 'first' %}
                </a>
                {% for i in organization.organizationbranch_set.count|total_pages:page_size|get_range %}
                    <a href="#" class="branch-pagination {% if i == 0 %}current-page{% endif %}" page="{{ i|add:1 }}">{{ i|add:1 }}</a>

                {% endfor %}
                <a href="#" class="branch-pagination" page="{{ organization.organizationbranch_set.count|total_pages:page_size }}">
                    {% trans 'last' %}&gt;&gt;
                </a>
                {% endif %}
                {% endwith %}
                {% endif %}

            </div>

            <div class="org-info-panel supported-organizations-list hidden">
                {% for org in organization.supported_organizations %}
                    <div class="org-info-div {% cycle 'odd' '' %}">
                        <a href="{{ org.view_url }}">{{ org.name }}</a>
                    </div>
                {% empty %}
                    {% trans 'No organizations supported.' %}
                {% endfor %}
            </div>

            <div class="org-info-panel communities-list hidden">
                {% for com in organization.community.all %}
                    <div class="org-info-div {% cycle 'odd' '' %}">
                        <a href="{{ com.view_url }}">{{ com.name }}</a>
                    </div>
                {% empty %}
                    {% trans 'No communities bound to this organization' %}
                {% endfor %}
            </div>

            <div class="org-info-panel supported-proposals-list hidden">
                {% for prop in organization.supported_proposals %}
                    <div class="org-info-div {% cycle 'odd' '' %}">
                        <a href="{{ prop.view_url }}">{{ prop.title }}</a>
                    </div>
                {% empty %}
                    {% trans 'No proposals supported.' %}
                {% endfor %}
            </div>

            <div class="org-info-panel supported-resources-list hidden">
                {% for res in organization.supported_resources %}
                    <div class="org-info-div {% cycle 'odd' '' %}">
                        <a href="{{ res.view_url }}">{{ res.name }}</a>
                    </div>
                {% empty %}
                    {% trans 'No resources supported.' %}
                {% endfor %}
            </div>

            <div class="org-info-panel investments-list hidden">
                <div class="apart">
                    <a class="button login-required" href="{{ organization.new_investment_url }}">
                        {% trans "New Investment" %}
                    </a>
                </div>

                {% investments_list organization.investments.all organization.realized_investments.all  %}
            </div>
        </div>

        <div class="view-footer">
            <!-- Photos here -->
            {% image_gallery organization %}
        </div>

    </div>

    <div class="right-bar right-bar-modif">
        <div id="map-preview">{% komoo_map geojson 'type=preview' %}</div>
        <a href="{{ organization.related_items_url }}" class="see-on-map">{% trans 'see on map' %}</a>

        <div class="centralizer apart">
          <a class="button login-required" href="{{ organization.new_investment_url }}">{% trans "New Investment" %}</a>
        </div>

        <div class="block">
          <h4>{% trans 'Contact' %}</h4>
            {% if organization.contact %}
                {{ organization.contact|render_markup|safe }}
            {% else %}
                {% trans 'No contact info provided' %}
            {% endif %}

          <h4>{% trans 'Operation Field' %}</h4>
            <ul>
            {% for c in organization.categories.all %}
                <li>
                    {{ c.get_translated_name }}
                </li>
            {% empty %}
                {% trans 'No categories provided' %}
            {% endfor %}
            </ul>

          <h4>{% trans 'Audience' %}</h4>
            <ul>
            {% for t in organization.target_audiences.all %}
                <li>{{ t.name }}</li>
            {% empty %}
                {% trans 'No target audience provided' %}
            {% endfor %}
            </ul>

          {% if organization.link %}
          <h4>{% trans "Website" %}</h4>
            <a href="{{ organization.link|with_http }}">{{ organization.link }}</a>
          {% endif %}

        </div>

        {% projects_for_object organization %}
        {% taglist organization %}

    </div>

    <div class="view-extras">

        {% track_buttons organization %}
        {% report_content organization %}
        {% delete_button organization %}
        {% social_buttons %}
        {% comments organization %}
    </div>

</div>


{% endblock %}

{% block page_scripts %}
    {% comments_staticfiles %}
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
    <script type="text/javascript">
        $('.branch-link a').click(function(evt){
            evt.preventDefault();

            // toggle branch button
            var branch_btn = $(this).find('.branch-link-btn');
            var branch_btn_icon = branch_btn.find('i');
            if (branch_btn_icon.is('.icon-chevron-down')){
                branch_btn_icon.removeClass('icon-chevron-down');
                branch_btn_icon.addClass('icon-chevron-right');
                $(this).parent().find('.branch-info').slideUp();
                $(this).parent().find('.branch-form').slideUp();
                $(this).parent().removeClass('branch-active');
            } else {
                branch_btn_icon.removeClass('icon-chevron-right');
                branch_btn_icon.addClass('icon-chevron-down');
                $(this).parent().find('.branch-info').slideDown();
                $(this).parent().addClass('branch-active');
            }
        });

        $('.branch-link').bind('mouseover', function(evt){
            var branch_id = $(this).attr('data-branch-id');
            if (window.preview) preview.centerFeature('OrganizationBranch', branch_id);
        });

        $('.branch-edit-btn').click(function(evt){
            if (isAuthenticated){
                var branch = $(this).parent().parent().parent()
                var form = branch.find('.branch-form');
                var info = branch.find('.branch-info');
                var branch_name = branch.find('.branch-name')

                branch_name.fadeOut(400);
                info.fadeOut(400, function(){
                    form.fadeIn(400);
                });
            }
        });

        $('.form-branch-edit').submit(function(evt){
            evt.preventDefault();
            var that = this;
            $.post($(this).attr('action'), $(this).serialize(),
                function(data){
                    if (data.success){
                        var branch = $('.branch-link[data-branch-id='+data.id+']');
                        var form = branch.find('.branch-form');
                        var info = branch.find('.branch-info');
                        var branch_name = branch.find('.branch-name');
                        info.find('.entry').html(data.info);
                        branch_name.find('.entry').html(data.name);
                        if (info.find('.branch-communities').length){
                            info.find('.branch-communities').remove();
                        }
                        info.append(data.communities);
                        form.fadeOut(400, function(){
                            info.fadeIn(400);
                            branch_name.fadeIn(400);
                        });

                    } else {
                        errorMessage('Error ao tentar salvar dados!');
                    }

                }, 'json'
            );
        });

        $('.org-btn').click(function(evt){
            $('.org-btn.selected').removeClass('selected');
            $('.org-info-panel').hide();
            var $this = $(this);
            $this.addClass('selected');
            $('.' + $this.attr('panel')).fadeIn();
        });

        $('.branch-link[page=1]').show();

        $('.branch-pagination').click(function(){
            var page_num = $(this).attr('page');
            $('.branch-link').hide();
            $('.branch-pagination').removeClass('current-page');

            $('.branch-link[page=' + page_num + ']').fadeIn();
            $(this).addClass('current-page');
        });
    </script>

    <script type="text/javascript">
        $('.view-footer img').each(function(idx, obj){
            if(obj.offsetHeight > obj.offsetWidth){
                $(obj).css('height', '160px').css('width', 'auto')
                            .css('padding-left', Math.abs(obj.offsetWidth - 200) /2 )
                            .css('padding-right', Math.abs(obj.offsetWidth - 200) /2 );
            } else {
                $(obj).css('height', 'auto').css('width', '200px')
                        .css('padding-bottom', Math.abs(obj.offsetHeight - 200) /2)
                        .css('padding-top', Math.abs(obj.offsetHeight - 200) /2);
            }
        });
    </script>
{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
{% endblock %}
