#help_center {

    background: #dceff4;

    .modal-header { border-bottom: none }

    #questions {
        height: 270px;
        overflow: auto;
    }

    #tour_button, #help_center_about, #help_center_usecases {
        border-radius: 10px;
        font-family: inherit;
        color: #fff;
    }

    #tour_button {
        height: 2.5em;
        font-weight: bold;
        width: 100%;
        margin: 1em 0;
        background: #28b8ce;
        border: none;
        font-size: 20px;
    }

    #help_center_about, #help_center_usecases {
        width: 47.5%;
        padding: 0.8em 0;
        display: inline-block;
        background: #505050;
        text-align: center;
        line-height: 100%;
        text-decoration: none;
    }
    #help_center_about:hover, #help_center_usecases:hover { background: #777 }
    #help_center_about { float: left }
    #help_center_usecases { float: right }
}

#joyride {
    display: none;
}
