$bg: #1e81c8;
$fg: #fff;
$active_bg: #006eb7;
$active_fg: #fff;

#top {

    width: 100%;
    height: 60px;
    background: $bg;
    position: relative;
    z-index: 11;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    #logo, #menu, #search { float: left }
    #side_menu { float: right }

    > * {
        height: 100%;
        display: block;
   }

    #logo {
        margin: 0 35px;

        > a > img {
            margin-top: 10px;
        }

        .logo-text {
            display: inline-block;
            width: 60px;
            margin: 0 0 0 10px;
            vertical-align: middle;
            color: white;
            font-size: 45%;
            font-family: Calibri, 'Open Sans', Helvetica, Arial, sans-serif;
            line-height: 108%;
        }
    }

    #menu, #side_menu {
        cursor: pointer;
        color: $fg;

        > ul {
            height: 100%;

            > li {
                margin: 0;
                height: 100%;
                text-align: center;

                > a { padding-top: 17px }
            }

            .about:hover{
                background: #8e5ba6;
            }
            .resource-kit:hover {
                background: #08b89d;
            }

            .case-studies:hover {
                background: #ff6666;
            }

            .collaborate:hover {
                background: #88c86f;
            }

            a {
                text-decoration: inherit;
                color: inherit;
                height: 100%;
                display: block;
            }

            > li:hover { background: $active_bg; }

            // Menu itens configuration
            li .ico { background: no-repeat center center }
            li:hover ul { font-weight: normal }
            li.active {
                color: $active_fg;
                background: $active_bg;
            }
            li.active ul { color: $fg; }

        }
        .about .ico { background-image: url('../img/menu/about.png') }
        .case-studies .ico { background-image: url('../img/menu/cases.png') }
        .collaborate .ico { background-image: url('../img/menu/collab.png') }
        .resource-kit .ico { background-image: url('../img/menu/kit.png') }

        .ico {
            display: inline-block;
            vertical-align: -33%;
            margin-right: 0.2em;
            width: 25px;
            height: 25px;
        }

    }
    #menu > ul > li { width: 125px }
    #side_menu > ul > li { padding: 0 10px; }

    #side_menu {
        li#login_button {
            background: #cce5ce;
            color: #009640;
        }
        li#login_button:hover {
            background: #8EC89A;
            color: #000;
        }
        li#user_menu {
            width: 150px;
        }
        li.language_selector {
            width: 80px;
        }
        li.dropdown_menu {
            ul {
                li { padding: 0.3em }
                li:hover { background: $bg; }

                box-shadow: 0px -5px 0px 0px $active_bg, 1px 1px 3px 1px rgba(50, 50, 50, 0.5);
            }
        }
    }

    nav > ul > li { display: inline-block }

    #search {
        width: 22%;
        margin-left: 3%;
        padding-top: 16px;

        position: relative;

        form {
            width: 85%;
            padding: 0;
            margin: 0;
            display: inline-block;

            input[type="search"] {
                width: 100%;
                height: 28px;
                border-radius: 0;
                background: #fff url('../img/menu/newmenu/glass.png') no-repeat 98% center;
                padding-right: 6%;
                box-shadow: inset 0px 1px 3px 0px rgba(150, 150, 150, 0.5);
                border: 1px solid #aaa;
            }
        }

        div#search-canvasloader-container {
            float: right;
            margin-top: 3px;
            margin-right: 5%;
            width: 22px;
            height: 22px;
        }
        div#search-results-box {
            position: absolute;
            top: 40px;
            left: 50%;
        }
    }

}

.dropdown_menu {
    position: relative;

    > ul {
        display: none;
        position: absolute;
        background-color: inherit;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: 100;
        text-align: left;

        > li { width: 100% }
    }
}
.dropdown_menu:hover > ul { display: block }
