{% with map.latitude|stringformat:"f" as lat %}
{% with map.longitude|stringformat:"f" as long %}

{% block html %}
    <!-- HTML map container -->
    <div id="map-canvas-{{ map.pk }}"{% if width %} style="width: {{ width }}; height: {{ height }};"{% endif %} class="komoo-map-googlemap">
         {% block noscript %}
         <noscript>
            <img alt="Map of {{ map.address }}" src="http://maps.google.com/maps/api/staticmap?center={{ lat }},{{ long }}&zoom={{ zoom }}&markers={{ lat }},{{ long }}&size={{ width }}x{{ height }}&sensor=false">
         </noscript>
         {% endblock noscript %}
    </div>
    <div id="dinamic-form"></div>
{% endblock %}

{% block map_js %}
    <!-- Map creation script -->
    <script type="text/javascript">
        var map;
        function initialize_map_{{ map.pk }}() {
            var latlng = new google.maps.LatLng({{ lat }}, {{ long }});
            var mapElem = document.getElementById("map-canvas-{{ map.pk }}");

            {% block map_options_js %}
            var mapOptions = {
                editable: true,
                googleMapOptions: {
                    zoom: {{ zoom }},
                    center: latlng
                }
            };
            {% endblock %}

            map = new komoo.Map(mapElem, mapOptions);

            {% block extra_js %}
            var geojson = JSON.parse('{{ geojson|safe }}');
            map.loadGeoJSON(geojson, true);
            if ('{{input_id}}') {
                map.event.bind('changed', function () {
                    var geojson = JSON.stringify(map.getGeoJSON());
                    $('#{{input_id}}').val(geojson);
                });
            }
            map.event.bind('finish_click', function (e, overlayType) {
                console.log(overlayType);
                $('#map-canvas-{{ map.pk }}').slideUp();
                var geojson = map.getGeoJSON(true);
                if (geojson.features.length > 0) {
                    var url = overlayType.formURL;
                    var context = $('#dinamic-form');
                    $.ajax({
                        url: url,
                        context: context,
                        dataType: 'html',
                        type: 'GET',
                        success: function (data, textStatus, jqXHR) {
                            $(this).html(data);
                            $('#id_geometry').val(JSON.stringify(geojson['features'][0]['geometry']));
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERRO!!!11!');
                        }
                    });
                    $('#map-form').submit(function () {
                        var serialized = $(this).serialize();
                        $.ajax({
                            url: url,
                            context: context,
                            data: serialized,
                            dataType: 'html',
                            type: 'POST',
                            success: function (data, textStatus, jqXHR) {
                                $(this).html(data);
                           },
                           error: function (jqXHR, textStatus, errorThrown) {
                               alert('ERRO!!!11!');
                            }
                        });
                        return false;
                    });
                } else {
                    alert('Algo não deu certo!');
                }
            });
            {% endblock %}
        }

        {% block map_loading_js %}
        // initialize the map after page loading
        google.maps.event.addDomListener(window, 'load', initialize_map_{{ map.pk }});
        {% endblock %}
    </script>
{% endblock %}

{% endwith %}
{% endwith %}
