{% block html %}
    <!-- HTML map container -->
    <div id="map-container" style="overflow:hidden;">
      <div id="map-canvas"{% if width %} style="width: {{ width }}; height: {{ height }};"{% endif %} class="komoo-map-googlemap">
    </div>
    </div>
    <div id="dinamic-form"></div>
{% endblock %}

{% block map_js %}
    <!-- Map creation script -->
    <script type="text/javascript">
        var map;
        function initialize_map() {
            var mapElem = document.getElementById("map-canvas");

            {% block map_options_js %}
            var mapOptions = {
                editable: true,
                autoSaveLocation: true,
                googleMapOptions: {
                    zoom: {{ zoom }},
                }
            };
            {% endblock %}

            map = new komoo.Map(mapElem, mapOptions);

            {% block extra_js %}
            var geojson = JSON.parse('{{ geojson|safe }}');
            map.loadGeoJSON(geojson, true);
            if ('{{input_id}}') {
                map.event.bind('changed', function () {
                    var geojson = JSON.stringify(map.getGeoJSON());
                    $('#{{input_id}}').val(geojson);
                });
            }
            // Load the form when user click 'finish' button
            map.event.bind('finish_click', function (e, overlayType) {
                console.log(overlayType);
                var geojson = map.getGeoJSON({newOnly: true, geometryCollection: true});
                console.log(geojson);
                if (geojson.geometries.length > 0) {
                    if (window.community_slug) {
                        var url = overlayType.formUrl.replace('community_slug', community_slug);
                    } else {
                        var url = overlayType.formUrl.replace('/community_slug', '');
                    }
                    console.dir(overlayType);
                    var context = $('#dinamic-form');

                    function onSubmit () {
                        var serialized = $(this).serialize();
                        $.ajax({
                             url: url,
                             context: context,
                             data: serialized,
                             dataType: 'html',
                             type: 'POST',
                             success: function (data, textStatus, jqXHR) {
                                 $(this).html(data);
                                 $('form', $(this)).submit(onSubmit);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert('ERRO!!!11!');
                            }
                        });
                        return false;
                    }

                    $.ajax({
                        url: url,
                        context: context,
                        dataType: 'html',
                        type: 'GET',
                        success: function (data, textStatus, jqXHR) {
                            $(this).html(data);
                            $('form', $(this)).submit(onSubmit);
                            $('#id_geometry').val(JSON.stringify(geojson));
                            $('#map-container').slideUp(600);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert('ERRO!!!11!');
                        }
                    });

                    $('#map-form').submit(onSubmit);
                } else {
                    alert('Algo não deu certo!');
                }
            });

            // Connect the search input box
            $('#search').submit(function () {
                var query = $('#search-bar').val();
                map.goTo(query);
                return false;
            });
            {% endblock %}
        }

        {% block map_loading_js %}
        // initialize the map after page loading
        google.maps.event.addDomListener(window, 'load', initialize_map);
        {% endblock %}
    </script>
{% endblock %}
