{% load komoo_map_tags %}

<div id="map-preview" class="map-tooltip">{% komoo_map '{"features": [{}, {}]}' 'width=400px' 'height=400px'%}<div class="close-bttn"><i class="icon-remove"></i></div></div>
<script type="text/javascript" charset="utf-8">
  $(function () {
      var $mapTooltip = $(".map-tooltip").hide();
       $(".map-tooltip .close-bttn").click(function () {
       $mapTooltip.hide();
      });
      $(".preview-on-map[data-geojson]").click(function (e) {
        var $this = $(this);
        var geojson = $this.attr("data-geojson");
        var top = e.pageY - $mapTooltip.outerHeight(true) / 2;
        var left = e.pageX + 20;
        console.log(top);
        preview.clear();
        preview.googleMap.setMapTypeId(google.maps.MapTypeId.HYBRID);
        $mapTooltip.css({"left": left, "top": top}).show();
        google.maps.event.trigger(preview.googleMap, "resize");
        preview.loadGeoJSON(JSON.parse(geojson.replace(/\'/g, '"')), true);
      });
  });
</script>

