{% block api_js %}
    <!-- Google Maps API javascript -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/infobox_packed.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/komoo_map.js"></script>
{% endblock %}

{% block html %}
    <!-- HTML map container -->
    <div id="map-canvas"
         {% if width %}
            style="width: {{ width }}; height: {{ height }};"
         {% endif %}
         class="komoo-map-googlemap">
    </div>
{% endblock %}

{% block map_js %}
    <!-- Map creation script -->
    <script type="text/javascript">
        function initialize_map() {
            var mapElem = document.getElementById("map-canvas");

            {% block map_options_js %}
            var mapOptions = {
                editable: false,
                enableInfoWindow: false,
                googleMapOptions: {
                    zoom: {{ zoom }},
                    disableDefaultUI: true,
                    scaleControl: false
                }
            };
            {% endblock %}

            var map = new komoo.Map(mapElem, mapOptions);

            {% block extra_js %}
            var geojson = JSON.parse('{{ geojson|safe }}');
            map.loadGeoJSON(geojson, true);
            {% endblock %}
        }

        {% block map_loading_js %}
        // initialize the map after page loading
        google.maps.event.addDomListener(window, 'load', initialize_map);
        {% endblock %}
    </script>
{% endblock %}
