{% extends "komoo_map/generic_panel.html" %}

{% block panel_content %}
  <div class="panel-info-wrapper"></div>
  <ul class="panel features-wrapper geo-objects-listing"></ul>

  <script type="text/template" id="feature-template">
    <span class="middle"><%= properties.name %></span>
  </script>

  <script type="text/template" id="features-template">
    <li>
      <div class="item">
        <i class="<%= iconClass %> middle"></i>
        <span class="middle"><%= title %></span>
      </div>
      <div class="collapser"><i class="icon-chevron-down"></i></div>
    </li>
    <li>
      <ul class="feature-list sublist">
      </ul>
    </li>
  </script>
{% endblock %}

{% block panel_scripts %}
  <script type="text/javascript">
    require(['related_items_panel']);
  </script>
{% endblock %}
