{% if redirect %}
  <script>window.location = '{{redirect}}';</script>
{% else %}
  {% load crispy_forms_tags %}
  {{ form.media }}


  <div class='alert alert-info required-notice' data-alert='info'>
      <div class='msg'>
          Os campos com asterisco (<strong>*</strong>) são obrigatórios!
      </div>
  </div>
  {% crispy form form.helper %}

  <script type="text/javascript">
    $(function(){
        $('#community_form').ajaxform();

        $('#community_form').komooFormHintBoxes({
            'name': {
                hint: '{% trans "Coloque o nome da comunidade." %}'
            },
            'population': {
                hint: '{% trans "Coloque aqui o número de moradores da comunidade." %}',
                top: '-8px'
            },
            'description': {
                hint: '{% trans "Fale um pouco sobre a comunidade, sobre como ela começou, aonde ela fica, se ela é um bairro, uma favela, uma vila." %}',
                top: '40%'
            },
            'tags': {
                hint: '{% trans 'Coloque palavras que classifiquem a comunidade, ou que localizem a comunidade, tal como a "Zona Sul", "Guarapiranga", "favela".' %}',
                top: '-28px'
            },
            'files': {
                hint: '{% trans "Você pode carregar fotos da comunidade." %}'
            }
        });
    });
  </script>
{% endif %}
