{% extends 'global.html' %}

{% load crispy_forms_tags %}
{% load komoo_map_tags %}
{% load upload_tags %}
{% load i18n %}
{% load komoo_tags %}

{% block menu %} {% menu "community" %} {% endblock %}

{% block content %}
  {% komoo_map geojson 'type=editor' 'width=100%' 'height=100%' 'zoom=13' 'panel=' 'lazy=True' %}
  <div id="main-content">
    <div class="main-column">
        <div class='form-legend'>{% trans 'Edit community' %}</div>

        <div class='alert alert-info required-notice' data-alert='info'>
            <div class='msg'>
                Os campos com asterisco (<strong>*</strong>) são obrigatórios!
            </div>
        </div>
        {% crispy form form.helper %}
    </div>

    <div class="right-bar">
      {% komoo_map geojson 'type=preview' 'edit_button=True' %}
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
    {% load_files community %}
    <script type="text/javascript">
      $(function(){
        $('#community_form').ajaxform();

        $('#community_form').komooFormHintBoxes({
            'name': {
                hint: 'Coloque o nome da comunidade.'
            },
            'population': {
                hint: 'Coloque aqui o número de moradores da comunidade.',
                top: '-8px'
            },
            'description': {
                hint: 'Fale um pouco sobre a comunidade, sobre como ela começou, aonde ela fica, se ela é um bairro, uma favela, uma vila.',
                top: '40%'
            },
            'tags': {
                hint: 'Coloque palavras que classifiquem a comunidade, ou que localizem a comunidade, tal como a "Zona Sul", "Guarapiranga", "favela".',
                top: '-28px'
            },
            'files': {
                hint: 'Você pode carregar fotos da comunidade.'
            }
        });
      });
    </script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      [
        "community:description",
        "community:geometry_edition",
        "community:search_data",
        "community:related_info"
      ]
    );
  </script>
{% endblock %}
