{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load upload_tags %}

{% block content %}
    <div id="main-content">
        <div class="main-column">
            {% crispy form_organization form_organization.helper %}
        </div>
        <div class="right-bar">
        </div>
  </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
{% endblock %}


{% block page_scripts %}
    {{ form_organization.media }}
    {% load_files organization %}
    {% image_picker 'logo' %}
    <script type="text/javascript">
        $(function(){
            $('#form_organization').ajaxform();
        })
    </script>

{% endblock %}
