{% extends 'global.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div id="main-content">
        <div class="main-column">
            {% crispy form_org form_org.helper %}
        </div>
  </div>
{% endblock %}

{% block css %}
    {{ form_org.media }}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
    <script type="text/javascript" src="/static/lib/shortcut.js"></script>
    <script type="text/javascript">
    $(function(){

        shortcut.add('enter', function() {
            var val = $('#id_community_text').val();
            console.log(val);

            var add = false;

            $.post(dutils.urls.resolve('autocomplete_get_or_add'), {name: val}, function(data){
                    if(data.added){
                        console.log('add!!');

                        var entry = '' +
                            '<div id="id_community_on_deck_NUM">' +
                                '<span id="kill_NUMid_community" class="ui-icon ui-icon-trash">X</span>' +
                                '<div>' + val + '</div>' +
                            '</div>'
                        $('#id_community_on_deck').prepend(entry);
                        $('#id_community_text').val('');

                        $('#kill_NUMid_community').bind('click', function(){
                            $('#id_community_on_deck_NUM').remove();
                            // TODO REMOVE ID from hidden list
                        });

                        // TODO add ID to hidden list
                    }
                }, 'json');

        }, {target:'id_community_text'});
    });

    </script>
{% endblock %}

