{% extends 'global.html' %}

{% load komoo_tags %}
{% load comment_tags %}
{% load i18n %}
{% load markitup_tags %}

{% block title %}{% trans 'Organizations' %}{% endblock %}

{% block menu %} {% menu community "organization" %} {% endblock %}

{% block content %}
  <div id="main-content">

    <div>
      {% if community %}
      <a class="button" href="{% url organization_new community.slug %}?frommap=false">{% trans "New Organization" %}</a>
      {% else %}
      <a class="button" href="{% url organization_new %}?frommap=false">{% trans "New Organization" %}</a>
      {% endif %}
      <div class="ajax-search"><input type="text"/></div>
    </div>

    {% for org in organizations.object_list %}
      <div class="view-list-item {% cycle 'odd' '' %}">

        <h4>
          <span class="apart">
            {% if community %}
            <a href="/{{ community.slug }}/organization/{{ org.slug }}">{{ org.name }}</a>
            {% else %}
            <a href="/organization/{{ org.slug }}">{{ org.name }}</a>
            {% endif %}
            {% trans 'at' %}
            {% with size=4 %}
              {% for comm in org.community.all|slice:":4" %}
                <a href="/{{ comm.slug }}/about/">{{ comm.name }}</a>
                {% if not forloop.counter >= size and not forloop.last %} | {% endif %}
              {% endfor %}
              {% if org.community.count > size %} ... {% endif %}
            {% endwith %}
          </span>
          <a class="small" href="#">{% trans 'see on the map' %}</a>
          <div class="clear-both">
            {% comments_summary org %}
          </div>
        </h4>

        <p class="mark-down">
          {{ org.description|slice:"250"|render_markup }}
          {% if org.description|length|get_digit:"-1" > 250 %} ... {% endif %}
        </p>

      </div>
    {% endfor %}

    {% pagination organizations %}

  </div>

{% endblock %}
