{% extends 'global.html' %}

{% load komoo_tags %}
{% load comment_tags %}
{% load i18n %}
{% load markitup_tags %}
{% load vote_tags %}

{% block title %}{% trans 'Organizations' %}{% endblock %}

{% block menu %} {% menu community "organization" %} {% endblock %}

{% block content %}
  <div id="main-content">

    <div class="highlight">

      <div class="button-new">
        {% if community %}
        <a class="button login-required" href="{% url organization_new community.slug %}?frommap=false">{% trans "New Organization" %}</a>
        {% else %}
        <a class="button login-required" href="{% url organization_new %}?frommap=false">{% trans "New Organization" %}</a>
        {% endif %}
      </div>

    <div class="view-list-top">
      <div class="view-list-count">
        {% blocktrans count counter=organizations_count %}{{ counter }} Organization{% plural %}{{ counter }} Organizations{% endblocktrans %}
      </div>
      {% pagination organizations %}

      {% sorters "['name', 'creation_date']" %}

    </div>
    {% for org in organizations.object_list %}
      <div class="view-list-item {% cycle 'odd' '' %}">
        <div>
          <div class="inline-block org-list-logo">
            {% if org.logo %}
              <img src="{{ org.logo.file.url }}" class="org-list-img"/>

            {% else %}
              <img src="{{ STATIC_URL }}img/logo.png" class="org-list-img-placeholder" />
            {% endif %}
          </div>
          <div class="inline-block org-list-header">
            <div>
              {% if community %}
                <a href="/{{ community.slug }}/organization/{{ org.slug }}" class="org-name">
                  {{ org.name }}
                </a>
              {% else %}
                <a href="/organization/{{ org.slug }}" class="org-list-name">
                  {{ org.name }}
                </a>
              {% endif %}
               <a class="small" href="#">{% trans 'see on the map' %}</a>
            </div>
            <div>
              {% vote org %}
            </div>
            <div>
              <div class="inline-block org-list-extra-info">
                <div class="org-list-extra-info-entry">
                  <span class="org-extra-info-name">
                    {% trans 'Operation Field' %}:
                  </span>
                  {% for cat in org.categories.all %}
                    {{ cat.name }}
                    {% if not forloop.last %} | {% endif %}
                  {% endfor %}
                </div>
                <div class="org-list-extra-info-entry">
                  <span class="org-extra-info-name">
                    {% trans 'Public' %}:
                  </span>
                  {% for aud in org.target_audiences.all %}
                    {{ aud.name }}
                    {% if not forloop.last %} | {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="inline-block org-list-extra-info">
                <div class="org-list-extra-info-entry">
                  <span class="org-extra-info-name">
                    {% trans 'Attended Communities' %}:
                  </span>
                  {% for com in org.community.all %}
                    <a href="/{{ com.slug }}/about/">{{ com.name }}</a>
                    {% if not forloop.last %} | {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>

        <p class="mark-down">
          {{ org.description|slice:"250"|render_markup }}
          {% if org.description|length|get_digit:"-1" > 250 %} ... {% endif %}
        </p>

        <div class="view-list-footer">
          <div class="created-by">
            {% trans 'created by' %}
            <strong>
              {% firstof org.creator.get_full_name org.creator.username '--' %}
            </strong>
            {% trans 'at' %}
            <strong>{% firstof org.creation_date '--' %}</strong>
          </div>
        </div>

      </div>
    {% endfor %}
    </div>
    {% pagination organizations %}
  </div>

{% endblock %}

{% block page_scripts %}
  {% vote_staticfiles %}
  {% sorters_js %}
{% endblock %}
