{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load komoo_map_tags %}

{% block content %}
    <div id="main-content">
        <div class="main-column">
            {{ form_verify }}

            {#% crispy form_org form_org.helper %#}

            {#{ form_branch }#}
        </div>

  </div>
{% endblock %}

{% block css %}
    {{ form_org.media }}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>

    </script>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        $('#form_organization').hide();
    </script>
{% endblock %}
