{% extends 'global.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div id="main-content">
        <div class="main-column">
            <div id="div-progress">
                <div class="progress">
                    <div class="bar" style="width: 20%;"></div>
                </div>
                <div class="alert alert-info" data-alert="info">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>step x of y</strong> (w% completo)
                </div>
            </div>
            <div id="div-form-organization">
                {% crispy form_org %}
            </div>
            <div id="div-form-branch">
                {% crispy form_branch %}
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>

{% endblock %}

{% block page_scripts %}
    {{ form_org.media }}
    <script type="text/javascript">


    </script>

{% endblock %}

