{% extends 'global.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div id="main-content">
        <div class="main-column">
            <div id="div-progress">
                <div class="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <div class="alert alert-info" data-alert="info">
                    <a class="close" data-dismiss="alert">×</a>
                    <strong>step x of y</strong> (w% completo)
                </div>
            </div>
            <div id="div-name-verify" class="step_1" style="display: none;">
                <input type="text" name="org_name" id="org_name" />
            </div>
            <div id="div-form-organization" class="step_2" style="display: none;">
                {% crispy form_org %}
            </div>
            <div id="div-form-branch" class="step_3" style="display: none;">
                {% crispy form_branch %}
            </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>

{% endblock %}

{% block page_scripts %}
    {{ form_org.media }}
    <script type="text/javascript">
        var step = 1;

        var step_1 = function(){
            $('.step_1').show();
            $('.progress .bar').css('width', '0%');
        }
        var step_2 = function(){
            $('.step_1').hide();
            $('.step_2').show();
            $('.progress .bar').css('width', '33%');
        }
        var step_3 = function(){
            $('.step_2').hide();
            $('.step_3').show();
            $('.progress .bar').css('width', '67%');
        }
        var step_4 = function(){
            $('.step_3').hide();
            $('.progress .bar').css('width', '100%');
        }

        $(function(){
            step_1();
        })

    </script>

{% endblock %}

