{% extends 'global.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div id="main-content">
        <div class="main-column">

            <div class="org-div-form-header">
                <h1>Nova Organização</h1>
            </div>

            <div id="org-div-progress">
                <div class="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <div class="alert alert-info" data-alert="info">
                    <a class="close" data-dismiss="alert">×</a>
                    <div class="msg"></div><div class="vertical-splitter"></div><div class="percent"></div>
                </div>
            </div>

            <div class="org-div-forms">

                <div id="org-div-name-verify" class="step_1 clearfix control-group " style="display: none;">
                    <label class="requiredField" for="id_name">
                        Nome<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input id="id_org_name" class="textinput textInput" type="text" maxlength="320" name="org_name">
                    </div>
                </div>

                <div id="org-div-form-organization" class="step_2" style="display: none;">
                    {% crispy form_org %}
                </div>

                <div id="org-div-form-branch" class="step_3" style="display: none;">
                    <div class="step_3 clearfix control-group ">
                        <label>Filial de</label>
                        <div class="controls">
                            <input id="id_filial_org_name" class="textinput textInput" type="text" maxlength="320" disabled='true' >
                        </div>
                    </div>
                    {% crispy form_branch %}
                </div>
            </div>

            <div class="org-div-buttons">
                <div class="step_1">
                    <div class="step_1_row_1">
                        <span id="name_verify" class="button">Verificar</span>
                        <span class="btn">Cancelar</span>
                    </div>
                    <div class="step_1_row_2" style="display: none;">
                        <span id="btn_add_filial" class="button">Adicionar Filial</span>
                        <span class="btn">Cancelar</span>
                    </div>
                    <div class="step_1_row_3" style="display: none;">
                        <span id="btn_add_org" class="button">Cadastrar Organização</span>
                        <span class="btn">Cancelar</span>
                    </div>

                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
    <style type="text/css">
        .org-div-form-header{
            margin: 20px 0;
        }
        .org-div-form-header h1{
            font-size: 20px;
            font-weight: bold;
        }
        #org-div-progress{
            margin-bottom: 40px;
        }
        #org-div-progress .alert .percent{
            font-weight: bold;
            display: inline-block;
            width: 120px;
            min-height: 1em;
            vertical-align: top;
        }
        #org-div-progress .alert .msg{
            display: inline-block;
            width: 510px;
            min-height: 1em;
        }
        #org-div-progress .alert .vertical-splitter{
            min-height: 1.5em;
            margin-right: 5px;
            height: 100%;
            border-left: solid 1px #3A87AD ;
            border-right: solid 1px #fefefe;
            display: inline-block;
            vertical-align: top;
        }

    </style>

{% endblock %}

{% block page_scripts %}
    {{ form_org.media }}
    {{ form_branch.media }}
    <script type="text/javascript">

        var change_msg = function(msg){
            if($('#org-div-progress .alert').is(':hidden')){
                $('#org-div-progress .alert').slideDown();
            }
            var $msg = $('#org-div-progress .alert .msg');
            $msg.fadeOut('100', function(){
                $msg.html(msg);
                $msg.fadeIn('100');
            })
        };

        var change_percent = function(percent){
            $('#org-div-progress .alert .percent').html('(' + percent + '% completo)');
        };

        var change_step = function(step){
            var percent, msg;

            for (var i = 1; i < 5 ; i++) {
                $('.step_' + i).hide();
            }
            $('.step_' + step).show();
            percent = Math.ceil(step * 33.33 - 33.33);
            $('.progress .bar').css('width', '' + percent + '%');

            if (step === 4) {
                change_msg('Parabéns você concluiu o processo de adição de uma organização/filial');
            }
            change_percent(percent);
        };

        $(function(){
            change_step(1);
            change_msg('Forneça o nome da organização para verificarmos se ela ainda não foi cadastrada no sistema.');

            $('a.close').click(function(){
                $(this).parent().slideUp();
            });

            $('#name_verify').click(function(){
                $.post(
                    '/organization/verify_name/',
                    {'org_name': $('#id_org_name').val()},
                    function(data){
                        var msg, step;
                        if (data.exists){
                            change_msg('Esta organização já existe. Deseja adicionar uma filial?');
                            $('.step_1_row_1').hide();
                            $('.step_1_row_2').show();
                        } else {
                            change_msg('Esta organização ainda não foi cadastrada. Deseja adicionar esta organização?');
                            $('.step_1_row_1').hide();
                            $('.step_1_row_3').show();
                        }

                    },
                    'json');
            });

            $('#btn_add_filial').click(function(){
                change_step(3);
                change_msg('Entre com os dados da filial que você marcou no mapa');
                var name = $('#id_org_name').val();
                $('#id_filial_org_name').val(name);
            });

            $('#btn_add_org').click(function(){
                change_step(2);
                change_msg('Entre com os dados da Organização a qual pertence a filial que você marcou no mapa.')
                var name = $('#id_org_name').val();
                $('#form_organization #id_name').val(name);
            });
        })

    </script>

{% endblock %}

