{% extends "komoo_map/related_items.html" %}
{% load i18n %}
{% load komoo_tags %}
{% block page_scripts %}
  {{ block.super }}

  <script type="text/template" id="panel-info-template">
    <img src="<%= logo_url %>" alt="Image" />
      <div>{% trans 'Objects related to' %}</div>
      <div><a href="<%= view_url %>"><%= name %></a></div>
    <div style="clear: both;"></div>
  </script>

  <script type="text/javascript">
    if (typeof window.KomooNS === 'undefined') window.KomooNS = {};
    KomooNS.obj = {{ organization|jsonify|safe }};
    require(['organization_related_items']);
  </script>
{% endblock %}
