{% extends 'global.html' %}

{% load komoo_tags %}
{% load komoo_map_tags %}
{% load i18n %}
{% load comment_tags %}
{% load vote_tags %}
{% load markitup_tags %}

{% block title %}
        {{ organization.name }} {% trans 'at' %} {{ resource.community.name }}
{% endblock %}

{% block menu %} {% menu organization "organization" %} {% endblock %}

{% block content %}
<div id="main-content" class="inline-block">
    <div class="main-column">

        <div class="view-header" >
            <div class="inline-block organization-logo">
            </div>
            <div class="inline-block organization-header">
                <h2>{{ organization.name }}</h2>
                <div class="view-votes">
                    {% vote organization %}
                </div>
            </div>
            <div class="view-edit-btn">
                {% if community %}
                <a href="/{{ community.slug }}/organization/edit?id={{ organization.id }}" class="btn">
                {% else %}
                <a href="/organization/edit?id={{ organization.id }}" class="btn">
                {% endif %}
                    <i class="icon-pencil"></i>
                </a>
            </div>

            <!-- <span>
                {% trans 'created by' %} <a href="#">{% firstof organization.creator.get_full_name organization.creator.username 'someone' %}</a>
                {% trans 'in' %} {{ organization.creation_date|date:"d/m/Y" }}
            </span> -->
        </div>

        <div class="view-body">
            <div class="mark-down">{{ organization.description|render_markup }}</div>

            <div class="branches-list">
                {% if organization.organizationbranch_set.all.count %}
                {% for branch in organization.organizationbranch_set.all %}
                    <div class="branch-link {% cycle 'odd' '' %}">

                        <a href="#">
                            <div>
                                {{ branch.name }}
                                <span class="branch-link-btn"> > </span>
                            </div>
                        </a>
                        <div class="branch-info {% cycle 'odd' '' %}" style="display: none;">{{ branch.info|render_markup }}</div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>

    <div class="right-bar organization-right-bar">
        <div id="map-preview">{% komoo_map geojson %}</div>
        <a href="#">{% trans 'see on map' %}</a>

        <div class="block">
          <h4>{% trans 'Operation Field' %}</h4>
          <p>
            <ul>
            {% for c in organization.categories.all %}
                <li>
                    {{ c.get_translated_name }}
                </li>
            {% empty %}
                {% trans 'No categories provided' %}
            {% endfor %}
            </ul>
          </p>

          <h4>{% trans 'Audience' %}</h4>
          <p>
            <ul>
            {% for t in organization.target_audiences.all %}
                <li>{{ t.name }}</li>
            {% empty %}
                {% trans 'No target audience provided' %}
            {% endfor %}
            </ul>
          </p>

          <h4>{% trans 'Contact' %}</h4>
          <p>
            {% if organization.contact %}
                {{ organization.contact|render_markup }}
            {% else %}
                {% trans 'No contact info provided' %}
            {% endif %}
          </p>

          {% if organization.link %}
          <h4>Link</h4>
          <p>
            <a href="{{ organization.link|with_http }}">{{ organization.link }}</a>
          </p>
          {% endif %}

        </div>
    </div>

    <div class="view-extras">
        {#% track_buttons %#}
        {% comments organization %}
    </div>

</div>


{% endblock %}

{% block page_scripts %}
    {% vote_staticfiles %}
    {% comments_staticfiles %}
    <script type="text/javascript">
        $('.branch-link a').click(function(evt){
            evt.preventDefault();
            $(this).parent().find('.branch-info').slideToggle();

            // toggle branch button
            var branch_btn = $(this).find('.branch-link-btn')
            if (branch_btn.is('.btn-active')){
                branch_btn.removeClass('btn-active');
            } else {
                branch_btn.addClass('btn-active');
            }
        })
    </script>
{% endblock %}
