{% extends 'global.html' %}

{% load komoo_map_tags %}
{% load moderation_tags %}
{% load investment_tags %}
{% load crispy_forms_tags %}
{% load vote_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load komoo_tags %}
{% load upload_tags %}
{% load project_tags %}
{% load i18n %}

{% block title %}{% trans 'Projects' %}{% endblock %}

{% block menu %} {% menu "" "project" %} {% endblock %}

{% block content %}
<div id="main-content" class="inline-block">
    <div class="main-column">

        <div class="view-header">
            <div>
                <h2 class="inline-block">{{ project.name }}</h2>

                <div class="view-edit-btn">
                    {% if project|user_can_edit_this_project:user %}
                    {% history project %}
                    <a href="{{ project.edit_url }}" class="btn login-required">
                        <i class="icon-pencil"></i>
                    </a>
                    {% endif %}
                </div>

            </div>

            <div class="view-votes">
                {% vote project %}
            </div>

        </div>

        <div class="view-body">
            <div class="mark-down">{{ project.description|render_markup|safe }}</div>
        </div>


        <div>
            <div class="organization-buttons row">
                <div class="org-btn span3 selected" panel="map-points-list">
                    <i class="icon-map"></i>
                    <div class="inline-block">
                      {% trans 'points on map' %}
                    </div>
                </div>
                <div class="org-btn span3" panel="organizations-list">
                    <i class="icon-organization"></i>
                    <div class="inline-block">
                        {% trans 'Organization' %}
                    </div>
                </div>
                <div class="org-btn span3" panel="communities-list">
                    <i class="icon-community"></i>
                    <div class="inline-block">
                        {% trans 'Communities' %}
                    </div>
                </div>
                <div class="org-btn span3" panel="needs-list">
                    <i class="icon-need"></i>
                    <div class="inline-block">
                        {% trans 'Needs' %}
                    </div>
                </div>
                <div class="org-btn span3" panel="resources-list">
                    <i class="icon-resource"></i>
                    <div class="inline-block">
                        {% trans 'Resource' %}
                    </div>
                </div>
                <div class="org-btn span3 multiline" panel="investments-list">
                    <i class="icon-investment"></i>
                    <div class="inline-block">
                        {% trans 'Investments' %}
                    </div>
                </div>
            </div>

            <div class="org-info-panel map-points-list" >
                Ponits on Map
            </div>

            <div class="org-info-panel organizations-list hidden">
                Organizations
            </div>

            <div class="org-info-panel communities-list hidden">
                communities
            </div>

            <div class="org-info-panel needs-list hidden">
                needs
            </div>

            <div class="org-info-panel resources-list hidden">
                resources
            </div>

            <div class="org-info-panel investments-list hidden">
                investments
            </div>
        </div>


        <div class="view-footer">

        </div>

        <div class="view-extras">
                {% track_buttons project %}
                {% report_content project %}
                {% delete_button project %}
                {% social_buttons %}
                {% comments project %}
        </div>

    </div>
    <div class="right-bar right-bar-modif">
        <div id="map-preview">{% komoo_map geojson 'type=preview' %}</div>
        <a class="see-on-map" href="#">{% trans 'see on map' %}</a>

        {% with similar_projects=project.tags.similar_objects|slice:"5" %}

            <div class="block">

                <h4>{% trans 'Administrator' %}</h4>
                <p>
                    {{ project.creator.get_name }}
                </p>

                {% if project.contributors.count %}
                <h4>{% trans 'Contributors' %}</h4>
                <p>
                    <ul>
                        {% for contributor in project.contributors.all %}
                        <li>{{ contributor.get_name }}</li>
                        {% endfor %}
                    </ul>
                </p>
                {% endif %}

                {% if project.contact %}
                <h4>{% trans 'Contact' %}</h4>
                <p>
                    {{ project.contact|render_markup|safe }}
                </p>
                {% endif %}

                {% if similar_projects %}
                <h4>Related projects</h4>
                <p>
                    <ul>
                        {% for r in similar_projects|slice:'5' %}
                        <li>
                            <a href="{{ r.view_url }}"> {{ r.name }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </p>
                {% endif %}

            </div>

        {% endwith %}

        {% taglist project %}

    </div>

</div>


{% endblock %}

{% block page_scripts %}
    {% vote_staticfiles %}
    {% comments_staticfiles %}
    <script type="text/javascript">
        $(function(){
            $('.org-btn').click(function(evt){
                $('.org-btn.selected').removeClass('selected');
                $('.org-info-panel').hide();
                var $this = $(this);
                $this.addClass('selected');
                $('.' + $this.attr('panel')).fadeIn();
            });
        });
    </script>

{% endblock %}
