{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load komoo_map_tags %}
{% load upload_tags %}

{% block content %}
  {% komoo_map geojson 'type=editor' 'width=100%' 'height=100%' 'zoom=13' 'panel=False' 'lazy=True' %}
  <div id="main-content">
    <div class="main-column">
      {% crispy form form.helper %}
    </div>

    <div class="right-bar">
      {% komoo_map geojson 'type=preview' 'edit_button=True' %}
    </div>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
  <script type="text/javascript" src="/static/js/ajax_select.js"></script>
{% endblock %}

{% block page_scripts %}
    {% load_files need %}
    <script type="text/javascript">
      $(function(){
        $('#need_form').ajaxform();
      })
    </script>
{% endblock %}
