{% extends "global.html" %}

{% block title %}Needs for {{ community.name }}{% endblock %}

{% block content %}

<div class="block">
  <a class="button" href="{% url new_need %}">New need</a>
  <div class="ajax-search"><input type="text"/></div>
</div>

<div class="highlight">
  <div class="list">
    {% for need in needs %}
    <div>
      <h4>
        <a href="{% url view_need need.community.slug need.slug %}">{{ need.title }}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="small" href="#">see on the map</a>
        <ul class="horizontal">
          {% for c in need.categories.all %}
          <li><img src="{{ STATIC_URL }}{{ c.image }}" title="{{ c.name }}" /></li>
          {% endfor %}
        </ul>
      </h4>
      <p class="clearBoth">
        target audience: {{ need.target_audiences.all|join:", " }}
      </p>
      <p>{{ need.description }}</p>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
