{% extends "global.html" %}
{% load komoo_tags %}
{% load comment_tags %}
{% load i18n %}

{% block title %}{% trans 'Needs for' %} {{ community.name }}{% endblock %}

{% block menu %} {% menu community "need" %} {% endblock %}

{% block content %}
<div id="main-content">
  <div>
    <a class="button" href="{% if community %}{% url new_need community.slug %}{% else %}{% url new_need %}{% endif %}">{% trans 'New need' %}</a>
    <div class="ajax-search"><input type="text"/></div>
  </div>

  <div class="highlight">
    <div class="list">
      {% for need in needs %}
      <div>
        <h4>
          <span class="apart">
            <a href="{% if need.community %}{% url view_need need.community.slug need.slug %}{% else %}{% url view_need need.slug %}{% endif %}"> {{ need.title }} </a>
            {% if not community and need.community %}
            {% trans 'at' %} <a href="{% url view_community need.community.slug %}">{{ need.community.name }}</a>
            {% endif %}
          </span>
          <a class="small" href="#">{% trans 'see on the map' %}</a>
          <ul class="horizontal">
            {% for c in need.categories.all %}
            <li><img src="{{ STATIC_URL }}{{ c.image }}" title="{{ c.name }}" /></li>
            {% endfor %}
          </ul>
          <div class="clear-both"></div>
          {% comments_summary need %}
        </h4>
        <p class="clearBoth">
          {% trans 'target audience:' %} {{ need.target_audiences.all|join:", " }}
        </p>
        <p>{{ need.description }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
