{% extends "global.html" %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load i18n %}

{% block title %}{% trans 'Needs for' %} {{ community.name }}{% endblock %}

{% block menu %} {% menu community "need" %} {% endblock %}

{% block content %}
<div id="main-content">
  <div class="highlight">
    <div class="button-new">
      <a class="button login-required" href="{% if community %}{% url new_need community.slug %}{% else %}{% url new_need %}{% endif %}">{% trans 'New need' %}</a>
    </div>
    <div class="view-list">
      <div class="view-list-top">

        <div class="view-list-count">
          {% blocktrans count counter=needs_count %}{{ counter }} Need{% plural %}{{ counter }} Needs{% endblocktrans %}
        </div>

        <div class="view-list-pagination">
          {% pagination needs %}
        </div>

        {% visualization_opts 'need' "sorters=['title','creation_date']" "filters=['tags','community']"%}

      </div>

      {% for need in needs.object_list %}
      <div class="view-list-item {% cycle 'odd' '' %}">
        <h4>
          <span class="apart big">
            <a href="{% if need.community %}{% url view_need need.community.slug need.slug %}{% else %}{% url view_need need.slug %}{% endif %}"> {{ need.title }} </a>
            {% if not community and need.community %}
            {% trans 'at' %} <a href="{% url view_community need.community.slug %}">{{ need.community.name }}</a>
            {% endif %}
          </span>
          <a class="small preview-on-map" href="#" data-geojson="{% geojson need %}">{% trans 'see on the map' %}</a>
          <ul class="horizontal">
            {% for c in need.categories.all %}
            <li><img src="{{ STATIC_URL }}{{ c.image }}" title="{{ c.name }}" /></li>
            {% endfor %}
          </ul>
          <div class="clear-both"></div>
          {% comments_summary need %}
        </h4>
        <p>
          {% trans 'target audience:' %} {{ need.target_audiences.all|join:", " }}
        </p>
        <p>{{ need.description|render_markup }}</p>

        <div class="view-list-footer">
          {% if need.tags.count %}
          <div class="view-list-item-tags">
            {% taglist need %}
          </div>
          {% endif %}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  {% pagination needs %}
</div>
{% komoo_map_tooltip %}
{% endblock %}

{% block page_scripts %}
  {% visualization_opts_js %}
{% endblock %}
