{% extends "global.html" %}

{% load i18n %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load vote_tags %}
{% load proposal_tags %}
{% load komoo_tags %}
{% load markitup_tags %}

{% block title %}{{ need.title }} {% endblock %}

{% block menu %} {% menu need "need" %} {% endblock %}

{% block content %}
  {% komoo_map geojson 'type=view' 'width=100%' 'height=100%' 'zoom=13' 'panel=False' 'ajax=True' 'lazy=True' %}
  <div id="main-content">
    <div class="need main-column">
      <h2 class="title">{{ need.title }} <div class="view-edit-btn right"><a href="{% if community %}{% url edit_need community.slug need.slug %}{% else %}{% url edit_need need.slug %}{% endif %}" class="btn login-required"><i class="icon-pencil"></i></a></div></h2>

      <ul class="horizontal" id="categories">
        {% for c in need.categories.all %}
        <li><img src="{{ STATIC_URL }}{{ c.image }}" title="{{ c.name }}" /></li>
        {% endfor %}
      </ul>

      <div class="clear-both"></div>
      {% vote need %}

      <div class="clear-both"></div>
      <p>
        <span class="apart">created by <a href="#">{% firstof need.creator.get_full_name need.creator.username 'someone' %}</a> on {{ need.creation_date|date:'j/n/Y' }}</span>
        <span class="apart">target audience: {{ need.target_audiences.all|join:", " }}</span>
      </p>
      <div class="mark-down">{{ need.description|render_markup }}</div>

      <div class="view-footer">
          {% if photos.object_list %}
          <div class="view-photos">
              <h3>{% trans 'Photos:' %}</h3>
              {% for photo in photos.object_list %}
                  <a href="{{ photo.file.url }}">
                      <img src="{{ photo.file.url }}">
                  </a>
              {% endfor %}
          </div>
          {% pagination photos %}
          {% endif %}
      </div>

      <div class="view-extras">
        {% taglist need community %}
        {% track_buttons %}
        {% social_buttons %}
        {% comments need %}
      </div>
    </div>

  <div class="right-bar">
    <div id="map-preview">{% komoo_map geojson 'type=preview' %}</div>
    <a class="see-on-map" href="#">{% trans "see on map" %}</a>
    <div class="block">
      <h3>{% trans "Proposals" %}</h3>
      {% for proposal in need.proposals.all %}
        {% proposal_summary proposal %}
      {% endfor %}
      <a class="button" href="{% if community %}{% url new_proposal community.slug need.slug %}{% else %}{% url new_proposal need.slug %}{% endif %}">
        {% trans "New proposal" %}
      </a>
    </div>
    {% with similar_needs=need.tags.similar_objects %}
      {% if similar_needs %}
      <div id="related-needs" class="block">
        <h3>{% trans "Related needs" %}</h3>
        <ul>
          {% for n in similar_needs %}
          <li {% if forloop.counter > 5 %}class="overflow hidden"{% endif %}>
            <a href="{% url view_need n.slug %}"> {{ n.title }} </a>
            {% if n.community.all.count %}
              {% trans 'at' %}
              {% for comm in n.community.all %}
                <a href="{% url view_community comm.slug %}">
                  {{ comm.name }}
                </a>
                {% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
              {% endfor %}
            {% endif %}
          </li>
          {% empty %}
          <li>{% trans "No related needs." %}</li>
          {% endfor %}
        </ul>
        <div class="centralizer"><span class="show-more clickable">See more</span></div>
        <div class="centralizer hidden"><span class="show-less clickable">See less</span></div>
        <div class="clear-both"></div>
      </div>
      {% endif %}
    {% endwith %}
  </div>

</div>
{% endblock %}

{% block page_scripts %}
    {% comments_staticfiles %}

    <script type="text/javascript">
      $('.view-footer img').each(function(idx, obj){
        if(obj.offsetHeight > obj.offsetWidth){
          $(obj).css('height', '160px').css('width', 'auto')
                .css('padding-left', Math.abs(obj.offsetWidth - 200) /2 )
                .css('padding-right', Math.abs(obj.offsetWidth - 200) /2 );
        } else {
          $(obj).css('height', 'auto').css('width', '200px')
                .css('padding-bottom', Math.abs(obj.offsetHeight - 200) /2)
                .css('padding-top', Math.abs(obj.offsetHeight - 200) /2);
        }
      });

      $('#related-needs .show-more, #related-needs .show-less').on("click", function (e) {
        $('#related-needs li.overflow').toggle();
        $('#related-needs .show-more').parent().toggle();
        $('#related-needs .show-less').parent().toggle();
      });
    </script>
{% endblock %}
