{% extends "global.html" %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load i18n %}

{% block title %}{% trans 'Communities list' %}{% endblock %}

{% block menu %} {% menu "community" %} {% endblock %}

{% block content %}
<div id="main-content">
  <div class="highlight">
    <div class="list">
      <div class="view-list-top">
        <div class="view-list-count">
          {% blocktrans count counter=communities_count %}{{ counter }} Community{% plural %}{{ counter }} Communities{% endblocktrans %}
        </div>
        <div class="view-list-pagination">
          {% pagination communities %}
        </div>

        {% visualization_opts 'community' "sorters=['name','creation_date']" "filters=['tags']" %}
      </div>

      {% for community in communities.object_list %}
      <div class="view-list-item {% cycle 'odd' '' %}">
        <h4>
          <span class="apart">
            <a href="{% url view_community community.slug %}">{{ community.name }}</a>
          </span>
          <a data-geojson="{% geojson community %}" href="#" class="small preview-on-map list-map-preview">
              <i class="icon-see-on-map"></i>
          </a>
          <div class="clear-both"></div>
          {% comments_summary community %}
        </h4>
        <p class="clearBoth">
          {% trans 'population:' %} {% firstof community.population '-' %}
        </p>
        <p class="mark-down">{{ community.description|render_markup|safe }}</p>

        <div class="view-list-footer">
          {% if community.tags.count %}
          <div class="view-list-item-tags">
            {% taglist community %}
          </div>
          {% endif %}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
  {% pagination communities %}
</div>

{% komoo_map_tooltip %}

{% endblock %}

{% block page_scripts %}
  {% visualization_opts_js %}
{% endblock %}
