{% extends "global.html" %}

{% load i18n %}
{% load komoo_map_tags %}
{% load komoo_tags %}
{% load moderation_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load upload_tags %}

{% block title %}{{ community.name }}{% endblock %}

{% block menu %} {% menu community "community" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <h2 class="title">{{ community.name }}</h2>
    <div class="view-edit-btn right"><a href="{% url edit_community community.slug %}" class="btn login-required"><i class="icon-pencil"></i></a></div>

    <div class="clear-both"></div>
    <div class="mark-down">{{ community.description|render_markup }}</div>

    <p>
      <!-- <span class="meta-info">Type</span>NOT IMPLEMENTED<br/> -->
      <span class="meta-info">{% trans "Population" %}</span> {% firstof community.population '-' %}
    </p>

    <div class="view-footer">
        {% image_gallery community %}
    </div>

  </div>

  <div class="right-bar">
    <div id="map-preview">{% komoo_map geojson 'type=preview' %}</div>
    <a href="{% url community_on_map community.slug %}">ver no mapa</a>
    <div class="block">
      <h3>{% trans "Nearby communities" %}</h3>
      <ul>
        {% for c in community.closest_communities %}
        <li><a href="{% url view_community c.slug %}">{{ c.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="view-extras">
    {% taglist community %}
    {% track_buttons community %}
    {% report_content community %}
    {% delete_button community %}
    {% social_buttons %}
    {% comments community %}
  </div>

</div>

{% endblock %}

{% block page_scripts %}
  <script type="text/javascript">
    var community_slug = '{{ community.slug }}';
  </script>
  {% comments_staticfiles %}
{% endblock %}
