{% extends "global.html" %}
{% load navigation_tags %}

{% block title %}{{ community.name }}{% endblock %}

{% block menu %} {% menu community "community" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <div class="view-edit-btn right"><a href="{% url edit_community community.slug %}" class="btn"><i class="icon-pencil"></i></a></div>

    <div class="clear-both"></div>
    <p>{{ community.description }}</p>

    <p>
      <span class="meta-info">Type</span>NOT IMPLEMENTED<br/>
      <span class="meta-info">Population</span> {{ community.population }}
    </p>
  </div>

</div>

{% endblock %}

{% block page_scripts %}
  <script type="text/javascript">
    var community_slug = '{{ community.slug }}';
  </script>
{% endblock %}
