Babel==0.9.6
Django==1.3.1
Fabric==1.3.4
Genshi==0.6
Markdown==2.1.1
argparse==1.2.1
certifi==0.0.8
chardet==1.0.1
django-annoying==0.7.6
django-cas==2.0.3
django-crispy-forms==1.1.1
django-debug-toolbar==0.9.4
django-easy-maps==0.7.2
django-markitup==1.0.0
django-nose==1.0
django-reversion==1.5.1
django-social-auth==0.6.9
django-taggit==0.9.3
django-tinymce==1.5.1b2
geopy==0.94.1
gunicorn==0.14.2
httplib2==0.7.4
lingua==1.3
mock==0.8.0
oauth2==1.5.211
polib==0.7.0
psycopg2==2.4.4
pycrypto==2.5
python-openid==2.2.5
requests==0.11.1
simplejson==2.5.0
ssh==1.7.12
wsgiref==0.1.2
xlrd==0.7.1
xlwt==0.7.2
