{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load humanize %}


{% block content %}
{% komoo_map_tooltip %}
<div id="updates-header">
  <img alt="" src="{{STATIC_URL}}img/updates-page/novidades.png"/>

  <div id="about-mootiro" class="shadow-container right closed">
    <img alt="{% trans "About Mootiro" %}" src="{{STATIC_URL}}img/updates-page/sobre-off.png"
        class="about-image right"/>
    <img alt="{% trans "About Mootiro" %}" src="{{STATIC_URL}}img/updates-page/sobre.png"
        class="about-image right hidden"/>
    <div class="clear-both"></div>
    <div class="about-content hidden">
      <a href="{% url hotsite %}">{% trans "what is this?" %}</a>
      <ul>
        <li>
          <a href="{% url map %}#map-panel-add"  class="button community selected">
            <i class="icon-community left"></i> {% trans "Add a community" %}
          </a>
        </li>
        <li>
          <a href="{% url map %}#map-panel-add" class="button need selected">
            <i class="icon-need left"></i> {% trans "Add a need" %}
          </a>
        </li>
        <li>
          <a href="{% url new_organization %}" class="button organization selected">
            <i class="icon-organization left"></i> {% trans "Add an organization" %}
          </a>
        </li>
        <li>
          <a href="{% url project_new %}" class="button project selected">
            <i class="icon-project left"></i> {% trans "Add a project" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="main-column content-updates">

    <ul class="tabs horizontal">
      <li class="tab first last"><a href="#last-updates-panel">{% trans "last updates" %}</a></li>
      <!--
      <li class="tab"><a href="#discussions-panel">{% trans "discussions" %}</a></li>
      <li class="tab last"><a href="#my-content-panel">{% trans "my content" %}</a></li>
      -->
    </ul>
    <div class="clear-both"></div>

    <div class="shadow-container user-updates">
      <div id="content-updates-filters" >
        <span class="attenuate small">{% trans "Type" %}</span>
        <ul class="frontpage-filters-list">
            <li class="frontpage-filter-item active-filter">
                <img src="{{ STATIC_URL }}img/community.png" alt="community" />
            </li>
            <li class="frontpage-filter-item active-filter">
                <img src="{{ STATIC_URL }}img/need.png" alt="need" />
            </li>
            <li class="frontpage-filter-item active-filter">
                <img src="{{ STATIC_URL }}img/organization.png" alt="organization" />
            </li>
            <li class="frontpage-filter-item active-filter">
                <img src="{{ STATIC_URL }}img/resource.png" alt="resource" />
            </li>
            <li class="frontpage-filter-item active-filter">
                <img src="{{ STATIC_URL }}img/investment.png" alt="investment" />
            </li>
        </ul>
      </div>
      <div class="clear-both"></div>

      <div id="last-updates-panel" class="panel">
          <div class="view-list-pagination">
            {% pagination updates %}
          </div>
          <ul class="updates">
            {% for u in updates.object_list %}
            <li class="a-update">
              <div class="update-image">
                {# How to change images to be inside update app??? #}
                <img src="{{STATIC_URL}}{{ u.image }}">
              </div>
              <div class="update-info">
                <h3>
                  {% if u.type == "D" %}
                    {% users_list u.users %}
                    {% blocktrans count num=shown|length %}
                      discussed
                    {% plural %}
                      discussed
                    {% endblocktrans %}
                  {% endif %}

                  {% if u.object_type == 'proposal' %}
                  {% trans "the proposal" %} <a href="{{ u.instances.0.link }}">{{ u.instances.0.name }}</a>
                    {% trans "for the need" %} <a href="{{ u.instances.1.link }}">{{ u.instances.1.name }}</a>
                  {% else %}
                  <a href="{{ u.instance.link }}">{{ u.instance.name }}</a>
                  {% endif %}
                </h3>
                <div class="right">
                  <a href="#" class="preview-on-map-ajax" data-app-name="{{ u.object_app_name }}" data-model-name="{{ u.object_type }}" data-object-id="{{ u.object_id }}"><i class="icon-see-on-map"></i></a>
                </div>
                <div class="clear-both"></div>
                {% communities_list u.communities %}
                <div class="clear-both"></div>
                <div class="update-message left">
                  <strong>{{ u.readable_type|capfirst }}</strong> {{ u.date|naturaltime }}

                  {### Users aggregated list ###}
                  {% if u.type == "A" or u.type == "E" %}
                    {% trans "by" %}
                    {% users_list u.users %}
                  {% endif %}
                </div>
                <div class="update-social right">
                  <a href="{{ u.instance.link }}#Comments">
                    ({{ u.comments_count }} {% if u.comments_count == 1 %}{% trans 'comment' %}{% else %}{% trans 'comments' %}{% endif %})
                  </a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="view-list-pagination">
            {% pagination updates %}
          </div>
      </div>
    </div>

    <!--
    <div id="discussions-panel" class="panel hidden">
        DISCUSSIONS
    </div>

    <div id="my-content-panel" class="panel hiden">
        MY CONTENT
    </div>
    -->

  </div>
  <div class="right-bar news-updates shadow-container">
    <h2><img src="{{STATIC_URL}}img/updates-page/news.png"/>{% trans "News" %}</h2>
    <div>
      {% for n in news %}
        <p>
          {% if n.title %}
          <h4>
            {% if n.title_link %}
              <a href="{{ n.title_link }}">{{ n.title }}</a>
            {% else %}
              {{ n.title }}
            {% endif %}
          </h4>
          {% endif %}
          {{ n.description }}<br/>
          <span class="attenuate">{{ n.date|date:"d/m/Y" }}</span>
        </p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">

        $(function(){
            var tabs = new Tabs('.content-updates .tab', '.content-updates .panel',
                          undefined, 'active');


            var closed_panel_width = $("#about-mootiro.closed").width();
            var closed_panel_height = $("#about-mootiro.closed").height();
            var close_panel;

            $("#about-mootiro.closed").live("mouseenter", function (evt) {
                $(this).toggleClass("closed open");
                $(this).animate({
                    width: closed_panel_width + 105,
                    height: closed_panel_height + 155
                });
                $("#about-mootiro .about-image, #about-mootiro .about-content").toggle();
            });

            $("#about-mootiro.open").live("mouseleave", function (evt) {
                var about_mootiro = $(this);
                close_panel = setTimeout(function(){
                  about_mootiro.toggleClass("closed open");
                  $("#about-mootiro .about-image, #about-mootiro .about-content").toggle();
                  about_mootiro.animate({
                      width: closed_panel_width,
                      height: closed_panel_height
                  });
                }, 2000);
            });
            $("#about-mootiro.open").live("mouseenter", function (evt) {
                // Don't close the panel when the mouse goes out and then come back
                if (close_panel) {
                    clearTimeout(close_panel);
                }
            });

            var entity_image= {
                'community': {
                    on: '{{STATIC_URL}}img/community.png',
                    off: '{{STATIC_URL}}img/community-off.png'
                },
                'need': {
                    on: '{{STATIC_URL}}img/need.png',
                    off: '{{STATIC_URL}}img/need-off.png'
                },
                'organization': {
                    on: '{{STATIC_URL}}img/organization.png',
                    off: '{{STATIC_URL}}img/organization-off.png'
                },
                'resource': {
                    on: '{{STATIC_URL}}img/resource.png',
                    off: '{{STATIC_URL}}img/resource-off.png'
                },
                'investment': {
                    on: '{{STATIC_URL}}img/investment.png',
                    off: '{{STATIC_URL}}img/investment-off.png'
                }
            };

            $('.frontpage-filter-item').click(function(){
                var that = $(this);
                var img = that.find('img').first();
                if (that.is('.active-filter')) {
                    img.attr('src', entity_image[img.attr('alt')].off);
                    that.removeClass('active-filter');
                } else {
                    img.attr('src', entity_image[img.attr('alt')].on);
                    that.addClass('active-filter');
                }
                var apps = [];
                $('.frontpage-filter-item.active-filter').each(function(idx, obj){
                    apps.push($(obj).find('img').first().attr('alt'));
                });
                window.location = window.location.pathname + '?filters=' + apps.join();
            });

            // Fix active filters list
            var url_vars = getUrlVars();
            if (url_vars && url_vars['filters']) {
                var filters = url_vars['filters'].split(',');
                $('.frontpage-filter-item').each(function(idx, obj){
                    var that = $(this);
                    var img = that.find('img').first();
                    if (filters.indexOf(img.attr('alt')) === -1) {
                        img.attr('src', entity_image[img.attr('alt')].off);
                        that.removeClass('active-filter');
                    }
                });
            }

            var uri_query = window.location.search;
            uri_query = uri_query.substring(1, uri_query.length);
            if (uri_query.length) {
                $('.komoo-pagination a').each(function(idx, obj){
                    var el = $(obj);
                    var href = el.attr('href');
                    el.attr('href', href + '&' +  uri_query);
                });
            }

        });

    </script>
{% endblock %}
