{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{% load komoo_tags %}
{% load vote_tags %}
{% load comment_tags %}
{% load humanize %}


{% block menu %}
  {% with obj=community selected_area="" %}
    {% menu obj selected_area %}
  {% endwith %}
{% endblock %}

{% block content %}
<div id="updates-header">
  <img alt="" src="{{STATIC_URL}}img/updates-page/novidades.png"/>

  <div id="about-mootiro" class="shadow-container right closed">
    <img alt="{% trans "About Mootiro" %}" src="{{STATIC_URL}}img/updates-page/sobre-off.png"
        class="about-image right"/>
    <img alt="{% trans "About Mootiro" %}" src="{{STATIC_URL}}img/updates-page/sobre.png"
        class="about-image right hidden"/>
    <div class="clear-both"></div>
    <div class="about-content hidden">
      <a href="{% url hotsite %}">{% trans "what is this?" %}</a>
      <ul>
        <li>
          <a href="{% url map %}#map-panel-add"  class="button community selected">
            <i class="icon-community left"></i> {% trans "Add a community" %}
          </a>
        </li>
        <li>
          <a href="{% url map %}#map-panel-add" class="button need selected">
            <i class="icon-need left"></i> {% trans "Add a need" %}
          </a>
        </li>
        <li>
          <a href="{% url new_organization %}" class="button organization selected">
            <i class="icon-organization left"></i> {% trans "Add an organization" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="main-column content-updates">

    <ul class="tabs horizontal">
      <li class="tab first last"><a href="#last-updates-panel">{% trans "last updates" %}</a></li>
      <!--
      <li class="tab"><a href="#discussions-panel">{% trans "discussions" %}</a></li>
      <li class="tab last"><a href="#my-content-panel">{% trans "my content" %}</a></li>
      -->
    </ul>
    <div class="clear-both"></div>

    <div class="shadow-container user-updates">
      <div id="content-updates-filters" style="display: none">
        <span class="attenuate small">{% trans "Type" %}</span>
        {% geo_objects_listing 'switchable=True' 'hide_names=True' %}
      </div>
      <div class="clear-both"></div>

      <div id="last-updates-panel" class="panel">
          <div class="view-list-pagination">
            {% pagination updates %}
          </div>
          <ul class="updates">
            {% for u in updates.object_list %}
            <li class="a-update">
              <div class="update-image">
                {# How to change images to be inside update app??? #}
                <img src="{{STATIC_URL}}{{ u.image }}">
              </div>
              <div class="update-info">
                <h3>
                  {% if u.type == "D" %}
                    {% usernames_list u.users %}
                    {% blocktrans count num=shown|length %}
                      discussed
                    {% plural %}
                      discussed
                    {% endblocktrans %}
                  {% endif %}

                  {% if u.object_type == 'proposal' %}
                    {% trans "the proposal" %} <a href="{{ u.instances.0.link }}">{{ u.instances.0.name }}</a>
                    {% trans "for the need" %} <a href="{{ u.instances.1.link }}">{{ u.instances.1.name }}</a>
                  {% else %}
                    <a href="{{ u.instance.link }}">{{ u.instance.name }}</a>
                  {% endif %}
                </h3>
                <div class="right">
                  <a href="#"><i class="icon-see-on-map"></i></a>
                </div>
                <div class="clear-both"></div>
                {% communities_list u.communities %}
                <div class="clear-both"></div>
                <div class="update-message left">
                  <strong>{{ u.readable_type|capfirst }}</strong> {{ u.date|naturaltime }}

                  {### Users aggregated list ###}
                  {% if u.type == "A" or u.type == "E" %}
                    {% trans "by" %}
                    {% usernames_list u.users %}
                  {% endif %}
                </div>
                <div class="update-social right">
                  <a href="{{ u.instance.link }}#Comments">({{ u.comments_count }} comments)</a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <div class="view-list-pagination">
            {% pagination updates %}
          </div>
      </div>
    </div>

    <!--
    <div id="discussions-panel" class="panel hidden">
        DISCUSSIONS
    </div>

    <div id="my-content-panel" class="panel hiden">
        MY CONTENT
    </div>
    -->

  </div>
  <div class="right-bar news-updates shadow-container">
    <h2><img src="{{STATIC_URL}}img/updates-page/news.png"/>{% trans "News" %}</h2>
    <div>
      {% for n in news %}
        <p>
          {% if n.title %}
          <h4>
            {% if n.title_link %}
              <a href="{{ n.title_link }}">{{ n.title }}</a>
            {% else %}
              {{ n.title }}
            {% endif %}
          </h4>
          {% endif %}
          {{ n.description }}<br/>
          <span class="attenuate">{{ n.date|date:"d/m/Y" }}</span>
        </p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">
        var tabs = new Tabs('.content-updates .tab', '.content-updates .panel',
                      undefined, 'active');

        // $(function () {
        //     geoObjectsListing("#content-updates-filters ul.geo-objects-listing");
        //     $("#content-updates-filters div.img-holder > img").trigger("click");
        //     $("#content-updates-filters div.img-holder input[type=checkbox]").attr("checked", "checked");
        // });

        $("#about-mootiro.closed").live("mouseenter", function (evt) {
            console.log("close enter");
            $(this).toggleClass("closed open");
            $(this).animate({
                width: '+=105',
                height: '+=120'
            });
            $("#about-mootiro .about-image, #about-mootiro .about-content").toggle();
        });

        $("#about-mootiro.open").live("mouseleave", function (evt) {
            console.log("open leave");
            var about_mootiro = $(this);
            var close_panel = setTimeout(function(){
              about_mootiro.toggleClass("closed open");
              $("#about-mootiro .about-image, #about-mootiro .about-content").toggle();
              about_mootiro.animate({
                  width: '-=105',
                  height: '-=120'
              });
            }, 2000);

        });

    </script>
{% endblock %}
