{% extends "global.html" %}

{% block title %}Comment{% endblock %}

{% block content %}

<div id='divFormComment'>
	<form method="post" id="formComment" action="" >
		<!-- <fieldset> -->
			{% csrf_token %}
			{{ form_comment }}
			<input type="submit" id="btnFormCommentSubmit" value="save"/>
		<!-- </fieldset> -->
	</form>
</div>

<h2>Comments: </h2>
<div id="comments-list">
	{% for comment in comments %}
		<div class="comment-container" style="margin-top:20px;">
			<div class="comment" commentID="{{ comment.id }}">
				{{ comment.comment}}  - [{{ comment.pub_date}}]
			</div>
			{% if comment.sub_comments > 0 %}
			<div>
				<a href="#" class="linkSubComments">[{{ comment.sub_comments }} sub-comments]</a>
			</div>
			{% endif %}
			<div class="comment-add">
				<input type="button" class="btnCommentAdd" value="comment" />
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}

{% block page_scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}js/comments.js"></script>
{% endblock %}
