
/* resource list */
.resource-list-item{
  padding: 10px;
  background-color: rgb(220, 239, 244);
  margin: 0 50px;
}
.resource-list-item.odd{
  background-color: rgb(235, 249, 255);
}
.resource-list-item div{
  display: inline-block;
}
.resource-list-image{
  width:5%;
  min-width: 40px;
}
.resource-list-image div{
  background-color: rgb(64, 146, 169);
  width: 50px;
  height: 50px;
  border-radius: 3px;
}
.resource-list-name{
  width:50%;
  min-width:500px;
  vertical-align: 100%;
}
.resource-list-type{
  width:10%;
  min-width: 150px;
  vertical-align: 100%;
}
.resource-list-header{
  font-weight: bold;
  color: #444444;
}
.resource-list-header div{
  display: inline-block;
  vertical-align: bottom;
  margin-top:40px;
}

/* ### form ### */
#form_resource {
  width: 100%;
}
#form_resource input[type=text], #form_resource textarea{
  width: 100%;
}
/* resource show */
.resource {

}
