<div id="error-box">
  <h3 class="title"></h3>
  <div class="image"></div>
  <div class="message"></div>
</div>

<div id="unexpected-error-box">
  <div class="content">
    <h3 class="title"></h3>
    <div class="image"></div>
    <div class="message"></div>
    <form class="error-report">
      <textarea name="message"></textarea>
      <input type="hidden" name="url" />
      <input type="hidden" name="info" />
      <input type="submit" name="submit" value="Send" class="btn button" />
    </form>
  </div>
</div>
