{% load i18n %}
{% block js %}{{ form.media.js }}{% endblock %}

{% autoescape off %}
<ul class="geo-objects-listing" style="display: block; clear: both;">
  <li class="communities">
    <div class="img-holder" data-object-type="community">{{ form.communities }}</div>
    <span>{% trans "Communities" %}</span>
  </li>
  <li class="needs">
    <div class="img-holder" data-object-type="need">{{ form.needs }}</div>
    <span>{% trans "Needs" %}</span>
    {% if show_categories %}
    <div class="collapser"><i class="icon-chevron-right"></i></div>
    {% endif %}
  </li>
  {% if show_categories %}
  <li class="need sublist">
    {{ form.need_categories }}
  </li>
  {% endif %}
  <li class="organizations">
    <div class="img-holder" data-object-type="organizationbranch">{{ form.organizations }}</div>
    <span>{% trans "Organizations" %}</span>
  </li>
  <li class="resources">
    <div class="img-holder" data-object-type="resource">{{ form.resources }}</div>
    <span>{% trans "Resources" %}</span>
  </li>
</ul>
{% endautoescape %}
