{% load static %}

<ul class="geo-objects-listing">
  <li>
    <div class="img-holder"><img src="{% get_static_prefix %}img/community-hover.png"/></div>
    <span>Communities</span>
    {% if community_categories %}
      <ul>
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}img/need.png"/></div>
          <span>Settlement</span>
        </li>
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}img/need.png"/></div>
          <span>Housing</span>
        </li>
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}img/need.png"/></div>
          <span>Slum</span>
        </li>
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}img/need.png"/></div>
          <span>City</span>
        </li>
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}img/need.png"/></div>
          <span>Suburb</span>
        </li>
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}img/need.png"/></div>
          <span>Rural</span>
        </li>
      </ul>
    {% endif %}
  </li>
  <li>
    <div class="img-holder"><img src="{% get_static_prefix %}img/need-hover.png"/></div>
    <span>Needs</span>
    {% if need_categories %}
      <ul>
        {% for nc in need_categories %}
        <li>
          <div class="img-holder"><img src="{% get_static_prefix %}{{ nc.image }}"/></div>
          <span>{{ nc.name }}</span>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  <li>
    <div class="img-holder"><img src="{% get_static_prefix %}img/organization-hover.png"/></div>
    <span>Organizations</span>
  </li>
  <li>
    <div class="img-holder"><img src="{% get_static_prefix %}img/resource-hover.png"/></div>
    <span>Resources</span>
  </li>
</ul>