<script type="text/javascript">

  $(function(){

    // get sorters state
    var _sorters = getUrlVars()['sorters'];
    if (_sorters){
      _sorters = _sorters.split(',');
    }
    if (_sorters && _sorters.length > 0 && _sorters[0]){
      $.each(_sorters, function(idx, val){
        $('.view-list-sorter-btn[filter-name=' + val + ']').addClass('selected');
      });
    } else {
      $('.view-list-sorter-btn[filter-name=name]').addClass('selected');
    }


    // click on btn change classes.
    $('.view-list-sorter-btn').click(function(){
      var that = $(this);
      that.toggleClass('selected');
    });

    window.getSorters = function(){
      var sorters = [];
      $('.view-list-sorter-btn.selected').each(function(idx, val){
        sorters.push($(val).attr('filter-name'));
      });

      return sorters.join();
    };

    // sort button
    $('#doSort').click(function(){
      window.location = location.pathname + '?sorters=' + getSorters();
    });

  });

</script>
