{% load i18n %}

<div class="view-list-sorters">
  <div class="view-list-filter-title">{% trans 'Sort by' %}:</div>
  <div class="view-list-sorter-btn" filter-name="name">
    {% trans 'Name' %}
  </div>
  <div class="view-list-sorter-btn" filter-name="date">
    {% trans 'Date' %}
  </div>
  <!-- <div class="view-list-sorter-btn" filter-name="votes">
    {#% trans 'Votes' %#}
  </div> -->
  <div class="view-list-doSort btn" id="doSort">
        <i class="icon-search"></i><span>{% trans 'Sort' %}</span>
      </div>
  <hr>
</div>
