<div id="login-box">
  <h2>
    Você precisa estar logado
  </h2>
  <ul>
    <li id="login-option" class="option">
      <div>Faça login no MootiroMaps!</div>
      <div><img src="{{STATIC_URL}}img/login_guy.png"></div>
      <div><a href="/user/login" id="login-button" class="button">Fazer login</a></div>
    </li>
    <li id="signup_option" class="option">
      <div>Não possui uma conta? Registre-se!</div>
      <div><img src="{{STATIC_URL}}img/signup_guy.png"></div>
      <div><a href="http://www.mootiro.org/user/new" class="button">Criar uma conta</a></div>
    </li>
  </ul>
</div>
