{% load i18n %}
<div id="login-box">
  <h2>
    {% trans "You must be logged in" %}
  </h2>
  <!-- <ul> -->
    <div id="login-option" class="option">
        <div>{% trans "Log in with one the accounts bellow!" %}</div>
        <div><img src="{{STATIC_URL}}img/login_guy.png"></div>
        <div class="login-btns">
          <a id="login-button" class="social-link" social-app="cas" href="#cas">
            <div class="button"><img id="login-mootiro" src="{{STATIC_URL}}img/login-mootiro-02.png"><b>Mootiro</b></div>
          </a>
          <a rel="nofollow" class="social-link" social-app="google-oauth2" href="#google-oauth2">
            <div class="button"><img id="login-mootiro" src="{{STATIC_URL}}img/login-google-02.png"><b>Google</b></div>
          </a>
          <a rel="nofollow" class="social-link" social-app="facebook" href="#facebook">
            <div class="button"><img id="login-mootiro" src="{{STATIC_URL}}img/login-facebook-02.png"><b>Facebook</b></div>
          </a>
        </div>
    </div>
    <div id="signup_option" class="option">
      <a href="http://www.mootiro.org/user/new">
        <div>{% trans "Don't have an account? Sign up!" %}</div>
        <div><img src="{{STATIC_URL}}img/signup_guy.png"></div>
        <div class="button" id="signup-btn">{% trans "Create an account" %}</div>
      </a>
    </div>


  <!-- </ul> -->
</div>
<script type="text/javascript">
  $(function(){
    $('.social-link').click(function(){
      var social_app = $(this).attr('social-app');
      var urlVars = getUrlVars();
      if (urlVars.next)
        window.location = '/login/'+ social_app +'?next=' + urlVars.next;
      else {
        window.location = '/login/'+ social_app +'?next=' + location.pathname;
      }
      return false;
    })
  });
</script>
