{% load i18n %}
<div id="login-box">
  <h2>
    {% trans "You must be logged in" %}
  </h2>
  <ul>
    <li id="login-option" class="option">
      <a href="/user/login" id="login-button">
        <div>{% trans "Log in to MootiroMaps!" %}</div>
        <div><img src="{{STATIC_URL}}img/login_guy.png"></div>
        <div class="button">{% trans "Login" %}</div>
      </a>
    </li>
    <li id="signup_option" class="option">
      <a href="http://www.mootiro.org/user/new">
        <div>{% trans "Don't have an account? Sign up!" %}</div>
        <div><img src="{{STATIC_URL}}img/signup_guy.png"></div>
        <div class="button">{% trans "Create an account" %}</div>
      </a>
    </li>
    <div class="social-login-btns">
      <a rel="nofollow" class="social-link" social-app="facebook" href="#facebook"><img src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_large_long.gif" /></a>
    </div>

  </ul>
</div>
<script type="text/javascript">
  $(function(){
    $('.social-link').click(function(){
      var social_app = $(this).attr('social-app');
      window.location = '/login/'+ social_app +'?next=' + location.pathname;
      return false;
    })
  });
</script>
