<div class="pagination">
  <span class="step-links">
      {% if collection.has_previous %}
        <span>
          <a href="?page={{ collection.previous_page_number }}">previous</a>
        </span>
      {% endif %}

      <span class="current">
          Page {{ collection.number }} of {{ collection.paginator.num_pages }}.
      </span>

      {% if collection.has_next %}
        <span>
          <a href="?page={{ collection.next_page_number }}">next</a>
        </span>
      {% endif %}
  </span>
</div>
