{% extends 'global.html' %}
{% load crispy_forms_tags %}
{% load komoo_map_tags %}
{% load upload_tags %}
{% load i18n %}
{% load komoo_tags %}

{% block menu %} {% menu community "resource" %} {% endblock %}

{% block content %}
  {% komoo_map geojson 'type=editor' 'width=100%' 'height=100%' 'zoom=13' 'panel=' 'lazy=True' %}
  <div id="main-content">
    <div class="main-column">
      <div class='form-legend'>{% trans 'Edit Resource' %}</div>

      <div class='alert alert-info required-notice' data-alert='info'>
          <a class='required-notice-close close' data-dismiss='alert'>×</a>
          <div class='msg'>
              Os campos com asterisco (<strong>*</strong>) são obrigatórios!
          </div>
      </div>
      {% crispy form_resource form_resource.helper %}
    </div>
    <div class="right-bar">
      {% komoo_map geojson 'type=preview' 'edit_button=True' %}
    </div>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
  <script type="text/javascript" src="/static/js/ajax_select.js"></script>
{% endblock %}

{% block page_scripts %}
    {{ form_resource.media }}
    {% load_files resource %}
    <script type="text/javascript">
      $(function(){
        $('#form_resource').ajaxform();

        $('#form_resource').komooFormHintBoxes({
          'name': {
            hint: 'Coloque o nome do recurso.'
          },
          'description': {
            hint: 'Coloque detalhes do recurso, e como ele é usado pela comunidade. Informações como acesso ao recurso, responsáveis por ele, horário de funcionamento/acesso ...',
            top: '30%'
          },
          'kind': {
            hint: 'Escolha em qual tipo o recurso se encaixa (Você pode escolher um já existente ou entrar um novo tipo).',
            top: '30%',
          },
          'tags': {
            hint: 'Coloque palavras que ajudem a classificar o recurso, tal como "música", "esporte", "biblioteca", etc...',
            top: '-22px'
          },
          'contact': {
            hint: 'Informações de contato com os responsáveis deste recurso.',
            top: '25%'
          },
          'files': {
            hint: 'Você pode carregar fotos do recurso.',
             top: '10%'
          }

        });
      });
    </script>
{% endblock %}
