{% extends 'global.html' %}
{% load komoo_tags %}
{% load comment_tags %}
{% load i18n %}

{% block menu %} {% menu community "resource" %} {% endblock %}

{% block content %}
  <div id="main-content">
  {% for resource in resources.object_list %}

    <div class="resource-list-item {% cycle 'odd' '' %}">
      {% if community %}

      <h4>
        <span class="apart">
          <a href="/{{ community.slug }}/resource/{{ resource.id }}">{{ resource.name }}</a>
          {% trans 'at' %}
          <a href="/{{ resource.community.slug }}/about/">{{ resource.community.name }}</a>
        </span>
        <a class="small" href="#">{% trans 'see on the map' %}</a>
        <div class="clear-both">
          {% comments_summary resource %}
        </div>

      </h4>

      {% else %}

      <h4 class="resource-list-name">
        <span class="apart">
          <a href="/resource/{{ resource.id }}">{{ resource.name }}</a>
          {% trans 'at' %}
          <a href="/{{ resource.community.slug }}/about/">{{ resource.community.name }}</a>
        </span>
        <a class="small" href="#">{% trans 'see on the map' %}</a>
        <div class="clear-both">
          {% comments_summary resource %}
        </div>

      </h4>

      {% endif %}
      <p class="clearBoth">{% trans 'Kind:' %}' {{ resource.kind }}</p>
      <p>{{ resource.description }}</p>

      {% if resource.files_set.count %}
        {% for f in resource.files_set|slice:"10" %}
          <span><img src="{{ f.file.url }}" style="width:80px; height:60px;"></span>
        {% endfor %}
      {% endif %}

    </div>

  {% endfor %}

  {% pagination resources %}

  </div>

{% endblock %}
