{% extends 'global.html' %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load i18n %}

{% block title %}{% trans 'Resources for' %} {{ community.name }}{% endblock %}

{% block menu %} {% menu community "resource" %} {% endblock %}

{% block content %}
  <div id="main-content">

  <div class="highlight">

    <div class="button-new">
      {% if community %}
      <a class="button login-required" href="{% url new_resource community.slug %}">{% trans "New Resource" %}</a>
      {% else %}
      <a class="button login-required" href="{% url new_resource %}">{% trans "New Resource" %}</a>
      {% endif %}
    </div>

  <div class="view-list-top">
    <div class="view-list-count">
          {% blocktrans count counter=resources_count %}{{ counter }} Resource{% plural %}{{ counter }} Resources{% endblocktrans %}
    </div>
    <div class="view-list-pagination">
      {% pagination resources %}
    </div>

    {% visualization_opts 'resource' "filters=['tags','community']" "sorters=['name', 'creation_date', 'votes']" %}
  </div>


  {% for resource in resources.object_list %}

    <div class="view-list-item {% cycle 'odd' '' %}">

      <h4>
        <span class="apart">
          {% if community %}
          <a href="/{{ community.slug }}/resource/{{ resource.id }}">{{ resource.name }}</a>
          {% else %}
          <a href="/resource/{{ resource.id }}">{{ resource.name }}</a>
          {% endif %}
          {% if resource.community.count %}
            &nbsp;{% trans 'at' %}&nbsp;
            {% for comm in resource.community.all %}
              <a href="/{{ comm.slug }}/about/">{{ comm.name }}</a>
              {% if not forloop.last %}
                &nbsp;|&nbsp;
              {% endif %}
            {% endfor %}
          {% endif %}
        </span>
        <a class="small preview-on-map" href="#" data-geojson="{% geojson resource %}">{% trans 'see on the map' %}</a>
        <div class="clear-both">
          {% comments_summary resource %}
        </div>

      </h4>

      <p class="clear-both">
        <strong>{% trans 'Kind:' %}</strong> {% firstof resource.kind '---' %}
      </p>
      <p>
        {{ resource.description|slice:"250"|render_markup }}
        {% if resource.description|length|get_digit:"-1" > 250 %} ... {% endif %}
      </p>

      {% if resource.files_set.count %}
        {% for f in resource.files_set|slice:"10" %}
          <span><img src="{{ f.file.url }}" style="width:80px; height:60px;"></span>
        {% endfor %}
      {% endif %}

      <div class="view-list-footer">
        {% if resource.tags.count %}
        <div class="view-list-item-tags">
          {% taglist resource community %}
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>

  {% pagination resources %}
</div>

{% komoo_map_tooltip %}
{% endblock %}

{% block page_scripts %}
  {% visualization_opts_js %}
{% endblock %}
