{% extends 'global.html' %}
{% load komoo_tags %}

{% block menu %} {% menu community "resource" %} {% endblock %}

{% block content %}
  <div class="resource-list-item resource-list-header">
    <div class="resource-list-image"></div>
    <div class="resource-list-name">Nome</div>
    <div class="resource-list-type">Tipo</div>
  </div>
  {% for resource in resources.object_list %}
    <div class="resource-list-item {% cycle 'odd' '' %}">
      <div class="resource-list-image">
        {% if resource.files_set %}
        <img src="{{ resource.files_set.0.file.url }}" />
        {% else %}
        <div></div>
        {% endif %}
      </div>
      {% if community %}
      <div class="resource-list-name"><a href="/{{ community.slug }}/resource/{{ resource.id }}">{{ resource.name }}</a></div>
      {% else %}
      <div class="resource-list-name"><a href="/resource/{{ resource.id }}">{{ resource.name }}</a></div>
      {% endif %}
      <div class="resource-list-type">{{ resource.kind }}</div>
    </div>
  {% endfor %}

  {% pagination resources %}
{% endblock %}
