{% extends 'global.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div id="main-content">
    <div class="main-column">
      {% crispy form_resource form_resource.helper %}
    </div>
  </div>
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
  <script type="text/javascript" src="/static/js/ajax_select.js"></script>
  {{ form_resource.media }}
  <script type="text/javascript">
    $(function(){
        $('#form_resource').ajaxform();
    });

  </script>
{% endblock %}
