{% extends 'global.html' %}

{% load crispy_forms_tags %}
{% load vote_tags %}
{% load comment_tags %}

{% block content %}
  <div id="main-content">
    <div class="resource">
      <div class="resource-header">
        <h1>{{ resource.name }}</h1>
        <div class="resource-votes">
          {% vote resource %}
        </div>
        <span>
          criado por <a href="#">{% firstof resource.creator.get_full_name resource.creator.username 'someone' %}</a>
          em {{ resource.creation_date|date:"d/m/Y" }}
        </span>
        <span class="resource-type">tipo:&nbsp; <strong>{{ resource.kind_repr }}</strong></span>
      </div>

      <div class="resource-body">
        <p>{{ resource.description }}</p>
      </div>

      <div class="resource-footer">

      </div>

      {% comments resource %}

    </div>
  </div>

{% endblock %}

{% block page_scripts %}
  {% vote_staticfiles %}
  {% comments_staticfiles %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/resource.css" >
{% endblock %}
