{% extends 'global.html' %}

{% load komoo_map_tags %}
{% load moderation_tags %}
{% load investment_tags %}
{% load crispy_forms_tags %}
{% load vote_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load komoo_tags %}
{% load upload_tags %}
{% load project_tags %}
{% load i18n %}

{% block title %}{{ resource.name }}{% endblock %}

{% block menu %} {% menu "resource" %} {% endblock %}

{% block content %}
  {% komoo_map geojson 'type=view' 'width=100%' 'height=100%' 'zoom=13' 'ajax=True' 'lazy=True' %}
<div id="main-content" class="inline-block">
    <div class="main-column">

        <div class="view-header">
            <div>
                <h2 class="inline-block">{{ resource.name }}</h2>

                <div class="view-edit-btn">
                    {% history resource %}
                    <a href="{% url view_discussion resource.perm_id %}" class="btn login-required"><i class="icon-comment"></i></a>
                    <a href="{{ resource.edit_url }}" class="btn login-required">
                        <i class="icon-pencil"></i>
                    </a>

                </div>

            </div>

            <div class="view-votes">
                {% vote resource %}
            </div>

            <span class="resource-type">{% trans 'type:' %} &nbsp;<strong>{{ resource.kind }}</strong></span>
        </div>

        <div class="view-body">
            <div class="mark-down">{{ resource.description|render_markup|safe }}</div>
        </div>

        <div class="view-footer">
            {% image_gallery resource %}
        </div>

        {% investments_list resource.investments.all %}

        <div class="view-extras">
                {% track_buttons resource %}
                {% report_content resource %}
                {% delete_button resource %}
                {% social_buttons %}
                {% comments resource %}
        </div>

    </div>
    <div class="right-bar right-bar-modif">
        <div id="map-preview">{% komoo_map geojson 'type=preview' %}</div>
        <a class="see-on-map" href="#">{% trans 'see on map' %}</a>

        <div class="centralizer apart">
          <a class="button" href="{{ resource.new_investment_url }}">{% trans "New Investment" %}</a>
        </div>

        {% with similar_resources=resource.tags.similar_objects|slice:"5" %}

            <div class="block">
                {% if similar_resources %}
                <h4>{% trans "Related resources" %}</h4>
                <p>
                    <ul>
                        {% for r in similar_resources|slice:'5' %}
                        <li>
                            <a href="{{ r.view_url }}"> {{ r.name }} </a>
                            {% if r.community.all.count %}
                              {% trans 'at' %}
                              {% for comm in r.community.all %}
                                <a href="{% url view_community comm.slug %}">
                                    {{ comm.name }}
                                </a>
                                {% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
                              {% endfor %}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </p>
                {% endif %}

                <h4>{% trans 'Contact' %}</h4>
                <p>
                    {% if resource.contact %}
                        {{ resource.contact|render_markup|safe }}
                    {% else %}
                        {% trans 'No contact info provided' %}
                    {% endif %}
                </p>
            </div>

        {% endwith %}

        {% projects_for_object resource %}

        {% taglist resource %}

    </div>

</div>


{% endblock %}

{% block page_scripts %}
    {% vote_staticfiles %}
    {% comments_staticfiles %}

{% endblock %}
