#main-content.project {
    @include tabs;

    width: 100%;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;

    > div {
        width: 950px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .main-column {
        width: 620px;
        margin-right: 10px;
    }

    .main-column.right {
        margin-left: 10px;
        margin-right: 0px;
    }

    .left-bar,
    .right-bar {
        width: 300px;
    }

    /* For IE 6/7 (trigger hasLayout) */
    .container {
        zoom:1;
    }

    .view-info-contributor {
        display: inline-block;
        width: 225px;
        margin: 5px;
        clear: both;
        vertical-align: top;

        .avatar {
            width: 64px;
            margin: 5px;
            float: left;
            vertical-align: top;
        }

        .name {
            display: inline-block;
            width: 150px;
            margin-top: 15px;
        }
    }

    .social-buttons {
        margin-top: 5px;
        margin-right: -30px;
    }

}

.view-list-top #add-to-project {
    float: right;
}
