// $background: #DCEFF4;
// $foreground: #009CB4;

// @mixin komoo_blue() {
//     background-color: $background;
//     color: $foreground;
// }

// .upper_bar {
//     @include komoo_blue();
//     width: 100%;
//     height: 2em;
//     display: block;

//     ul {
//         margin: 0 20px;
//     }
//     li a {
//         float: right;
//         padding: 3px 20px;
//         cursor: pointer;
//         text-decoration: none;

//         &:hover {
//             color: #333333;
//             background: darken($background, 3%);
//             border-radius: 0 0 4px 4px;
//         }

//     }
// }

.contacts-list {
    .contact-kv {
        width: 45%;
        display: inline-block;
        margin-left: 30px;

        label {
            float: left;
        }

        input {
            float: right;
            max-width: 200px;
        }
    }
}
