
// Contacts Widget
label[for=id_contacts] {
    margin-bottom: 20px;
}

.contacts-list {
    .contact-kv {
        width: 45%;
        display: inline-block;
        margin-left: 30px;

        label {
            float: left;
        }

        input {
            float: right;
            max-width: 200px;
        }
    }
}
