{% load i18n %}
<ul id="menu">

  <li{% if selected_area == 'map' %} class='selected'{% endif %}>
    {% if community %}
    <a href="{% url community_on_map community.slug %}">{% trans 'Map' %}</a>
    {% else %}
    <a href="{% url root %}">{% trans 'Map' %}</a>
    {% endif %}
  </li>

  <li{% if selected_area == 'community' %} class='selected'{% endif %}>
    {% if community %}
    <a href="{% url view_community community.slug %}">{% trans 'About the community' %}</a>
    {% else %}
    <a href="{% url list_communities %}">{% trans 'Communities' %}</a>
    {% endif %}
  </li>

  <li{% if selected_area == 'need' %} class='selected'{% endif %}>
    {% if community %}
    <a href="{% url list_community_needs community.slug %}">{% trans 'Needs' %}</a>
    {% else %}
    <a href="{% url list_all_needs %}">{% trans 'Needs' %}</a>
    {% endif %}
  </li>

  <li{% if selected_area == 'organization' %} class='selected'{% endif %}>
    {% if community %}
    <a href="{% url organization_list community.slug %}">{% trans 'Organizations' %}</a>
    {% else %}
    <a href="{% url organization_list %}">{% trans 'Organizations' %}</a>
    {% endif %}
  </li>

  <li{% if selected_area == 'resource' %} class='selected'{% endif %}>
    {% if community %}
    <a href="{% url resource_list community.slug %}">{% trans 'Resources' %}</a>
    {% else %}
    <a href="{% url resource_list %}">{% trans 'Resources' %}</a>
    {% endif %}
  </li>

  <li{% if selected_area == 'investment' %} class='selected'{% endif %}>
    {% if community %}
    <a href="{% url investment_list community.slug %}">{% trans 'Investments' %}</a>
    {% else %}
    <a href="{% url investment_list %}">{% trans 'Investments' %}</a>
    {% endif %}
  </li>
</ul>
