{% load i18n %}

{% with shown=usernames|slice:":2" aggregated=usernames|slice:"2:" %}
  {% for username in shown %}
    {{ username }}{% if not forloop.last %},{% endif %}
  {% endfor %}

  {% if aggregated %}
    {% trans "and" %}
    <a class="more user" title="
      {% for username in aggregated %}
        {{ username }}{% if not forloop.last %},{% endif %}
      {% endfor %}
    ">
    {% blocktrans count num=aggregated|length %}
      {{ num }} more user
    {% plural %}
      {{ num }} more users
    {% endblocktrans %}
    </a>
  {% endif %}
{% endwith %}

{% block page_scripts %}
  <script type="text/javascript">
    $(".more.user").komooTooltip();
  </script>
{% endblock %}
