{% load i18n %}
<hr />

<div class="it3s">
  <h3 class="attenuate">{% trans "Execution" %}</h3>
  <a href="http://maps.mootiro.org/organization/253"><img src="{{STATIC_URL}}img/it3s.png"></a>
</div>

<div class="license">
  <h3 class="attenuate">{% trans "License" %}</h3>
  <p class="small">
    {% blocktrans %} Este texto é disponibilizado nos termos da licença <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.pt_BR">Creative Commons - Atribuição - Partilha nos Mesmos Termos 3.0 Não Adaptada</a>; pode estar sujeito a condições adicionais. {% endblocktrans %}
  </p>
</div>

<div class="supporters">
  <h3 class="attenuate">{% trans "Supporters" %}</h3>
  <a href="http://maps.mootiro.org/organization/1468" target="_blank"><img class="cea-logo" src="{{ STATIC_URL }}img/supporters/cea-footer.png" alt="Instituto C&amp;A" /></a>
</div>

<div class="partners">
  <h3 class="attenuate">{% trans "Partners" %}</h3>
  <a href="http://maps.mootiro.org/organization/25" target="_blank"><img src="{{ STATIC_URL }}img/partners/cenpec.png" alt="Cenpec" /></a>
  <a href="http://maps.mootiro.org/organization/1998" target="_blank"><img src="{{ STATIC_URL }}img/partners/aldeias.png" alt="Aldeias Infants" /></a>
  <br/>
  <a href="http://maps.mootiro.org/organization/20" target="_blank"><img src="{{ STATIC_URL }}img/partners/cedaps.png" alt="Cedaps" /></a>
  <br/>
  <a href="http://maps.mootiro.org/organization/4228" target="_blank"><img src="{{ STATIC_URL }}img/partners/sou-da-paz.jpg" alt="Instituto Sou da Paz" /></a>
  <a href="http://www.polis.org.br/" target="_blank"><img src="{{ STATIC_URL }}img/partners/polis.jpg" alt="Instituto Pólis" /></a>
</div>
