{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{# % load komoo_tags % #}
{# % load komoo_map_tags % #}
{# % load comment_tags % #}
{# % load humanize % #}


{% block content %}

<a class="no-decoration" href="http://www.it3s.org/Colabore/Doacoes/">
  <div id="donate">
    <h2>{% trans "Donate!" %}</h2>
  </div>
</a>

<div id="main-content" class="frontpage">
  <div>
    <h1 class="initial-heading center">
      <img src="{{STATIC_URL}}img/mootiro-maps.png"/> {% trans "collaborative mapping of your community" %}
    </h1>

    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>


  {% if user.is_anonymous %}
  <div>
    <h2 class="center"><span class="apart">{% trans "Everybody can help!" %}</span> <a class="login-required big button" href="#">{% trans "Create your account" %}</a></h2>
  </div>
  {% else %}
  <div>
    <h2 class="center">{% trans "Want to participate" %}, {{ user.get_first_name }}? <a class="login-required" href="{% url map %}#map-panel-add">{% trans "Edit the map" %}</a></h2>
  </div>
  {% endif %}

  <div class="what-is-it-for">
    <h2>{% trans "What is it for?" %}</h2>

    <a href="{% url use_cases %}#diagnostico_de_territorio">
      <div class="topic">
        <h3>{% trans "Community diagnosis" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/community-diagnosis.png"/>
        <p>{% trans "Map a community's resources and needs. Create indicators and analyze the map in order to find out the true demands of that community." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#mapeamento_de_redes">
      <div class="topic">
        <h3>{% trans "Network mapping" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/network-mapping.png"/>
        <p>{% trans "Map organizations that work for the same cause. Identify areas where your network is not represented yet. Find new partners. Share knowledge and give visibility to your actions." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#avaliacao_de_projetos_e_programas">
      <div class="topic">
        <h3>{% trans "Project evaluation" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/project-evaluation.png"/>
        <p>{% trans "Register information about the progress of your project. Evaluate and generate reports. Share methodologies and results." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#jornalismo_de_dados">
      <div class="topic">
        <h3>{% trans "Data journalism" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/data-journalism.png"/>
        <p>{% trans "Build maps using public and open data. Use these maps in your blog and mobilize for changes." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#guia_do_bairro">
      <div class="topic">
        <h3>{% trans "Neighborhood guide" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/neighborhood-guide.png"/>
        <p>{% trans "Map services and organizations of your neighborhood. Help your community to better know the territory and use local resources." %}</p>
      </div>
    </a>

  </div>

  <div class="projects">
    <h2>{% trans "Projects that use MootiroMaps" %}</h2>

    <!-- Place somewhere in the <body> of your page -->
    <div class="flexslider">
      <ul class="slides">
        <li class="aldeias-infantis">
          <a href="http://maps.mootiro.org/project/17"><img src="{{STATIC_URL}}img/frontpage/aldeias-infantis.png"/></a>
          <p class="testimony">
          {% blocktrans %}"MootiroMaps helps us to better understand the community that we work with and find partners for our initiatives. It also helps us to register information about their services and actions. For SOS Children's Villages MootiroMaps is essential to plan and improve advocacy and mobilization of local actors."{% endblocktrans %}
            <br/>
            <span class="author-info">
              — {% blocktrans %}<a href="http://maps.mootiro.org/user/259">Aline Cavalcanti</a>, Evaluation and Research Analyst, <a href="http://maps.mootiro.org/organization/2134">SOS Children's Villages</a>{% endblocktrans %}
            </span>
          </p>
        </li>
        <li class="heliopolis-verde">
          <a href="http://maps.mootiro.org/project/2"><img src="{{STATIC_URL}}img/frontpage/heliopolis-verde.png"/></a>
          <p class="testimony">
          {% blocktrans %}"The first step in a community based project is to unterstand the context. You have to get to know its needs as well as local actors. The data visualization and the possibility to map collaboratively strengthen and promote our work at Heliópolis Verde."{% endblocktrans %}
            <br/>
            <span class="author-info">
              — {% blocktrans %}<a href="http://maps.mootiro.org/user/101">Raquel Porangaba</a>, Communications Analyst, <a href="http://maps.mootiro.org/organization/793">Instituto Baccarelli</a>{% endblocktrans %}
            </span>
          </p>
        </li>
        <li class="bairro-educador">
          <a href="http://maps.mootiro.org/project/22"><img src="{{STATIC_URL}}img/frontpage/bairro-educador.png"/></a>
          <p class="testimony">
          {% blocktrans %}"It is important for us to map our community in order to estimate our demands for public services and policies. We also make use of MootiroMaps to track public investments and the quality of education and health services."{% endblocktrans %}
            <br/>
            <span class="author-info">
              — {% blocktrans %}Cleide Alves, President, <a href="http://maps.mootiro.org/organization/796">UNAS (community association of Heliópolis)</a>{% endblocktrans %}
            </span>
          </p>
        </li>
        <li class="educar-na-cidade">
          <a href="http://maps.mootiro.org/project/13"><img src="{{STATIC_URL}}img/frontpage/educar-na-cidade.jpg"/></a>
          <p class="testimony">
          {% blocktrans %}"We mapped social equipments and educational projects in order to promote interaction between individuals and organizations. We also want to estimulate change of experiences and strenghten relations between local players in order to enhance local development."{% endblocktrans %}
            <br/>
            <span class="author-info">
              — {% blocktrans %}<a href="http://maps.mootiro.org/user/237">Maria Rita Ecosteguy</a>, Project Analyst, <a href="http://maps.mootiro.org/organization/25">CENPEC</a>{% endblocktrans %}
            </span>
          </p>
        </li>
      </ul>
    </div>

  </div>

  <div class="news">

    <div class="blog">
      <h3>{% trans "IT3S blog" %}</h3>
      <ul>
        {% for n in news %}
        <li>
          <a href="{{ n.title_link }}" target="_blank">
          <h4>{{ n.title }}</h4>
          <span class="attenuate">{{ n.date|date:"d/m/Y" }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="apart">
        <a href="http://blog.mootiro.org" target="_blank">{% trans "visit our blog" %}</a>
      </div>
    </div>

    <div class="last_updates">
      <h3>{% trans "Last updates" %}</h3>
      <ul>
        {% for u in updates %}
        <li>
          <a href="{{ u.instance.link }}">
            <img class="apart" src="{{STATIC_URL}}{{ u.object_icon }}">
            {{ u.instance.name }}<br/>
            <img class="apart" src="{{STATIC_URL}}{{ u.type_image }}">
            <span class="attenuate">{{ u.readable_type|capfirst }} {{ u.date|naturaltime }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="apart">
        <a href="{% url list_updates %}">{% trans "see all" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    }).flexslider("pause");
  });
</script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      [
        "home:mootiro_maps",
        "home:collaborative_mapping",
        "home:who_can_use",
        "home:cost",
        "home:search",
        "home:objects",
        "home:objects_edition",
        "home:others_edition",
        "home:denounce_content"
      ],
      'home'
    );
  </script>
{% endblock %}
