
{% extends "global.html" %}
{% load crispy_forms_tags %}
{% load komoo_tags %}
{% load i18n %}

{% block title %}{% trans 'Investment' %}{% endblock %}

{% block menu %} {% menu "investment" %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <div class='form-legend'>
      {% if investment.id %}
        {% trans 'Edit investment' %}</div>
      {% else %}
        {% trans 'New investment' %}</div>
      {% endif %}

    <div class='alert alert-info required-notice' data-alert='info'>
        <div class='msg'>
            {% trans '<strong>*</strong> required fields!' %}
        </div>
    </div>
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    var $form = $("#investment_form");

    $form.ajaxform();
    $form.komooFormHintBoxes({
      'name': {
        hint: '{% trans "Insert a name for this investment. You can make reference to a specific investment programme, inform the objective of the investment or its donor/grantee." %}',
        left: '720px',
        top: '-40%'
      },
      'description': {
        hint: '{% trans "Please inform details about the investment. What shall be done with the money? What are its direct outcomes for the community? You can also link to spending data." %}',
        left: '720px',
        top: '30%'
      },
      'contacts': {
        hint: '{% trans "Insert the contact information of this organization (postal address, contact persons, phone number, email address)." %}',
        top: '25%',
        left: '720px'
      },
      'investor_type': {
        hint: '{% trans "Please inform the investor type. Is it an organization already registered on MootiroMaps or a private donor?" %}',
        left: '720px',
        top: '-35px'
      },
      'anonymous_investor': {
        hint: '{% trans "Select here if the donor wishes to be anonymous or is not known." %}',
        left: '720px',
        top: '-22px'
      },
      'investor_organization': {
        hint: '{% trans "Inform the name of the organization, company or government institution that is responsible for the investment" %}',
        left: '720px',
        top: '-22px'
      },
      'investor_person': {
        hint: '{% trans "Inform the name of the private donor responsible for the investment" %}',
        left: '720px',
        top: '-22px'
      },
      'over_period': {
        hint: '{% trans "This investment is related to a period or is it a one-time investment?" %}',
        left: '720px',
        top: '-22px'
      },
      'date': {
        hint: '{% trans "Date of the investment" %}',
        left: '202px',
        top: '-20px'
      },
      'end_date': {
        hint: '{% trans "End of the investment" %}',
        left: '202px',
        top: '-20px'
      },
      'value': {
        hint: '{% trans "Amount of money being invested" %}',
        left: '202px',
        top: '-10px'
      },
      'currency': {
        hint: '{% trans "Currency related to the investment (Dollar, Brazilian Real, etc.)" %}',
        left: '135px',
        top: '-20px'
      },
      'files': {
        hint: '{% trans "Please, upload photos of the resource or link to photos on Wiki Commons or Flickr. Make sure that the photos are licensed under creative commons." %}',
        top: '10%',
        left: '720px'
      },
      'tags': {
        hint: '{% trans 'Please, insert tags that describe the need, for instance, "street light", "waste", "public transport", "cycling lane".' %}',
        top: '-18px',
        left: '720px'
      }

    });

    // Investor field configuration
    $("input[name=investor_type]", $form).on("change", function (event) {
        var t = $(this).val();
        if (t == "ORG") {
            $("#div_id_investor_person", $form).hide();
            $("#div_id_investor_organization", $form).show();
        } else if (t == "PER") {
            $("#div_id_investor_organization", $form).hide();
            $("#div_id_investor_person", $form).show();
        }
    });
    $(function (event) {
        $("input[name=investor_type]:checked", $form).change();
    });

</script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["investment:name", "investment:description"]
    );
  </script>
{% endblock %}

