{% extends "global.html" %}
{% load komoo_tags %}
{% load komoo_map_tags %}
{% load comment_tags %}
{% load markitup_tags %}
{% load project_tags %}
{% load i18n %}

{% block title %} {% trans 'Investments' %} {% endblock %}

{% block menu %} {% menu "investment" %} {% endblock %}

{% block content %}
<div id="main-content">
  <div class="highlight">
    <div class="button-new">
    </div>
    <div class="view-list">

      <div class="view-list-top">
        <div class="view-list-count">
              {% blocktrans count counter=investments_count %}{{ counter }} investment{% plural %}{{ counter }} investments{% endblocktrans %}
        </div>
        <div class="view-list-pagination">
          {% pagination investments %}
        </div>

        {% visualization_opts 'investment' "sorters=['title','creation_date']" "filters=['tags']"%}
      </div>

      {% for investment in investments.object_list %}
      <div class="view-list-item {% cycle 'odd' '' %}">
        <h4>
          <span class="big"><a href="{{ investment.view_url }}">{{ investment }}</a></span>
          {% if investment.grantee.geometry %}
            <a class="small preview-on-map list-map-preview" href="#" data-geojson="{% geojson investment.grantee %}" title="{% trans 'View on map' %}"><i class="icon-see-on-map"></i></a>
          {% endif %}
        </h4>
        <div class="apart">
          <div class="investment-info">
            <span class="meta-info">{% trans "Cost" %}: {{ investment.cost }}</span>
          </div>
          <div class="investment-info">
            <span class="meta-info">{% trans "Investor" %}: </span> {{ investment.investor }}
          </div>
          <div class="investment-info">
            <span class="meta-info">{% trans "Community" %}:</span>
            {% for c in investment.community.all %}
              <a href="{% url view_community c.id %}">{{ c.name }}</a>{% if not forloop.last %},&nbsp;{% endif %}
            {% endfor %}
          </div>
          <div class="investment-info">
            <span class="meta-info">{% trans "Grantee" %}: </span>
            <img alt="" src="{{STATIC_URL}}{{ investment.grantee.image }}" />
            <a href="{{ investment.grantee.view_url }}">{{ investment.grantee }}</a>
          </div>
        </div>

        <div>
          {{ investment.description|render_markup|safe }}
        </div>

        <div class="view-list-footer">
          {% if investment.tags.count %}
          <div class="view-list-item-tags">
            {% taglist investment %}
          </div>
          {% endif %}
        </div>

      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% komoo_map_tooltip %}
{% endblock %}

{% block page_scripts %}
  {% visualization_opts_js %}
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter(
      "#help_button",
      ["investment:what_is", "investment:transparency"],
      'investment_list'
    );
  </script>
{% endblock %}
