{% load i18n %}
<div id="deletion-request-box">
  {% trans "Please, tell us about the reason why you are requesting to delete this content" %}
  <div class="deletion-request-image"></div>
  <form action="#" method="post" id="deletion-request-form">
    {% csrf_token %}
    <div class="control-group">
      <input type="hidden" name="action" value="request" />
      <div class="controls">
        <textarea name="comment" id="deletion-request-comment"></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="button">{% trans 'Request' %}</button>
      <button id="deletion-request-cancel-btn" class="btn"><span>{% trans 'Cancel' %}</span></button>
    </div>
  </form>
</div>
