{% extends 'global.html'%}
{% load komoo_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load upload_tags %}

{% block menu %} {% menu "project" %} {% endblock %}

{% block content %}
    <div id="main-content" class="project-edit-container">
        <div class="main-column">

        <div class="form-legend">
            {% if  project %}
                {% trans 'Edit project map' %}
            {% else %}
                {% trans 'New project map' %}
            {% endif %}
        </div>

        <!-- tab navigation -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab-pane-info" data-toggle="tab">
                    {% trans 'Project Information' %}
                </a>
            </li>
            {% if project and project.related_objects.count %}
            <li>
                <a href="#tab-pane-content" data-toggle="tab">
                    {% trans 'Content' %}
                </a>
            </li>
            {% endif %}
            {% if project %}
            <li>
                <a href="#tab-pane-appearance" data-toggle="tab">
                    {% trans 'Appearance' %}
                </a>
            </li>
            {% endif %}
        </ul>

        <!-- tab content section -->
        <div class="tab-content">

            <!-- Tab pane map info -->
            <div class="tab-pane active" id="tab-pane-info">
              <div class='alert alert-info required-notice' data-alert='info'>
                  <div class='msg'>
                    {% trans '<strong>*</strong> required fields!' %}
                  </div>
              </div>

              {% crispy form form.helper %}
            </div>

            <div class="tab-pane" id="tab-pane-content">
            {% if project and project.related_objects.count %}
                <div class="form-legend">
                    {% trans 'Edit associated contents of this map' %}
                </div>
                <ul>
                    {% for obj in project.related_objects %}
                    <li>
                        <input class="association" type="checkbox" proj-related-id="{{ obj.id }}" />
                        <span>{{ obj.content_type.name|ctype_trans_name }}: <a href="{{ o.content_object.view_url }}">{{ obj.content_object.name }}</a></span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="button" id="delete-associations-btn">{% trans "Delete selected associations" %}</div>
            {% endif %}
            </div>

            <div class="tab-pane" id="tab-pane-appearance">
            {% if project %}
              {% include 'project/layers.html' %}
            {% endif %}
            </div>
        </div><!-- end of tab content-->

        </div>
    </div>
{% endblock %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/ajax_select.css" />
    <script type="text/javascript" src="/static/js/ajax_select.js"></script>
    <style type="text/css">
        #delete-associations-btn{
            margin-top: 10px;
        }

        .tab-content {
          overflow: visible;
        }
    </style>
{% endblock %}


{% block page_scripts %}
    {{ form_project.media }}
    {% load_files project %}

    <script type="text/javascript" charset="utf-8">
        $(function(){
            $form = $('#form_project');
            $form.ajaxform({});
            $form.komooFormHintBoxes({});

            {% if project %}
            $('#delete-associations-btn').click(function(){
                var associations = [];
                $('.association:checked').each(function(idx, item){
                    associations.push($(item).attr('proj-related-id'));
                });
                $.post(
                    '/project/delete_relations/',
                    {'associations': associations.join('|'), 'project': '{{ project.id }}'},
                    function(data){
                        if(data.success){
                            // remove objects from DOM
                            $.each(associations, function(idx, item){
                                $('.association[proj-related-id=' + item + ']').parent().remove();
                            });
                        } else {
                            // do something
                        }

                    },
                    'json'
                );
            });
            {% endif %}
        });
    </script>
{% endblock %}
