{% load i18n %}

<a class="button login-required {% if not filtered %}disabled{% endif %}" id="add-to-project" href="#" title="{% trans 'Please, configure one or more tags for filtering content, later you can add them to a project' %}" {% if not filtered %}disabled{% endif %}>{% trans "Add to Project" %}</a>

<!-- Modal form for adding this list to a project -->
<div class="modal hide" id="add-project-modal" style="display:none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <div class="add-project-modal-header">
            {% trans 'Add this list to a project' %}
        </div>
    </div>
    <div class="modal-body">
        <p>
        <div class="project-selector">
            {{ project_widget|safe }}

            <input type="hidden" id="add_to_project__filter_params" value='{{ params }}'>
            <input type="hidden" id="add_to_project__object_type" value='{{ type }}'>
        </div>
        </p>
        <div class="add-project-msg">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" id="add-project-cancel" >
            {% trans "Cancel" %}
        </a>
        <a href="#" class="button" id="add-project-save">
            {% trans "Save changes" %}
        </a>
    </div>
</div>
<script type="text/javascript" src="/static/js/project/filtered_query_to_project.js"></script>
