<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}MootiroKomoo!{% endblock %}</title>
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}styles.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.css" />
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lib/jquery-ui-1.8.16/jquery-ui-1.8.16.min.js"></script>
    {{ form.media.js }}
  </head>
  <body>
    <div id='centralizer'>
        <h1><pre>LOGOO<br/> TIPO</pre></h1>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block page_scripts %}{% endblock %}
  </body>
</html>
