{% extends "global.html" %}

{% load i18n %}
{% load komoo_tags %}
{% load comment_tags %}
{% load markitup_tags %}

{% block title %}
  {% trans "Discussion about" %} {{ discussion.content_object.name }}
{% endblock %}

{% block menu %}
  {% menu discussion.content_object menu_section %}
{% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <h2 class="title">{% trans "Discussion about" %} {{ discussion.content_object.name }}</h2>
    <div class="view-edit-btn">
      {#% history discussion %#}
      <a href="" class="btn login-required"><i class="icon-pencil"></i></a>
    </div>

    <div class="mark-down">
      {{ discussion.text|render_markup|safe }}
    </div>
    
    {% comments discussion %}
  </div>

</div>
{% endblock %}
