{% extends "global.html" %}

{% load i18n %}
{% load komoo_tags %}
{% load comment_tags %}
{% load markitup_tags %}

{% block title %}
  {% trans "Discussion about" %} {{ obj.name }}
{% endblock %}

{% block menu %} {% menu obj section %} {% endblock %}

{% block content %}

<div id="main-content">
  <div class="main-column">
    <h2 class="title">{% trans "Discussion about" %} {{ obj.name }}</h2>
    <div class="view-edit-btn">
      {% history discussion %}
      <a href="{{ obj.view_url }}" class="btn"><i class="icon-list-alt"></i></a>
      <a href="{% url edit_discussion obj.perm_id %}" class="btn login-required"><i class="icon-pencil"></i></a>
    </div>
    
    <div class="clear-both"></div>

    <div class="mark-down">
      {{ discussion.text|render_markup|safe }}
    </div>
  </div>
  
  <div class="view-extras">
    {% comments discussion %}
  </div>

</div>
{% endblock %}

{% block page_scripts %}
  {% comments_staticfiles %}
{% endblock %}
