$facebook_blue: #3c5a98;

#external_providers {
    button {
        padding: 3px 6px;
    }
    
    .facebook button {
        background: $facebook_blue;
        color: #fff;
        border: 0;
        border-radius: 5px;
    }
    .facebook button:hover { background: lighten($facebook_blue, 20%%); }
}
