#top {
  width: 100%;
  height: 45px;
  background: #dceff4;
  box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #top * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #top #logo, #top #menu, #top #search {
    float: left; }
  #top #side_menu {
    float: right; }
  #top > * {
    height: 100%;
    display: block; }
  #top #logo {
    margin: 0 35px;
    padding-top: 10px; }
  #top #menu, #top #side_menu {
    cursor: pointer;
    color: #505050; }
    #top #menu > ul, #top #side_menu > ul {
      height: 100%; }
      #top #menu > ul > li, #top #side_menu > ul > li {
        margin: 0;
        height: 100%;
        text-align: center; }
        #top #menu > ul > li > a, #top #side_menu > ul > li > a {
          padding-top: 12px; }
      #top #menu > ul a, #top #side_menu > ul a {
        text-decoration: inherit;
        color: inherit;
        height: 100%;
        display: block; }
      #top #menu > ul > li:hover, #top #side_menu > ul > li:hover {
        background: #b1dde8; }
      #top #menu > ul li .ico, #top #side_menu > ul li .ico {
        background: no-repeat center center; }
      #top #menu > ul li:hover, #top #menu > ul li.active, #top #side_menu > ul li:hover, #top #side_menu > ul li.active {
        font-weight: bold; }
      #top #menu > ul li:hover ul, #top #side_menu > ul li:hover ul {
        font-weight: normal; }
      #top #menu > ul li.active, #top #side_menu > ul li.active {
        color: #fff; }
      #top #menu > ul li.active ul, #top #side_menu > ul li.active ul {
        color: #505050; }
      #top #menu > ul .map .ico, #top #side_menu > ul .map .ico {
        background-image: url("../img/menu/newmenu/map.png"); }
      #top #menu > ul .map:hover .ico, #top #side_menu > ul .map:hover .ico {
        background-image: url("../img/menu/newmenu/map-hover.png"); }
      #top #menu > ul .map.active, #top #side_menu > ul .map.active {
        background-color: #ff3d2e; }
      #top #menu > ul .map.active .ico, #top #side_menu > ul .map.active .ico {
        background-image: url("../img/menu/newmenu/map-active.png"); }
      #top #menu > ul .objects > a > .ico, #top #side_menu > ul .objects > a > .ico {
        background-image: url("../img/menu/newmenu/objects.png"); }
      #top #menu > ul .objects:hover > a > .ico, #top #side_menu > ul .objects:hover > a > .ico {
        background-image: url("../img/menu/newmenu/objects-hover.png"); }
      #top #menu > ul .objects.active, #top #side_menu > ul .objects.active {
        background-color: #951b81; }
      #top #menu > ul .objects.active > a > .ico, #top #side_menu > ul .objects.active > a > .ico {
        background-image: url("../img/menu/newmenu/objects-active.png"); }
      #top #menu > ul .objects .community .ico, #top #side_menu > ul .objects .community .ico {
        background-image: url("../img/menu/newmenu/community.png"); }
      #top #menu > ul .objects .community:hover .ico, #top #side_menu > ul .objects .community:hover .ico {
        background-image: url("../img/menu/newmenu/community-hover.png"); }
      #top #menu > ul .objects .community.active, #top #side_menu > ul .objects .community.active {
        background-color: #f7A941; }
      #top #menu > ul .objects .community.active .ico, #top #side_menu > ul .objects .community.active .ico {
        background-image: url("../img/menu/newmenu/community-active.png"); }
      #top #menu > ul .objects .organization .ico, #top #side_menu > ul .objects .organization .ico {
        background-image: url("../img/menu/newmenu/organization.png"); }
      #top #menu > ul .objects .organization:hover .ico, #top #side_menu > ul .objects .organization:hover .ico {
        background-image: url("../img/menu/newmenu/organization-hover.png"); }
      #top #menu > ul .objects .organization.active, #top #side_menu > ul .objects .organization.active {
        background-color: #3a61d6; }
      #top #menu > ul .objects .organization.active .ico, #top #side_menu > ul .objects .organization.active .ico {
        background-image: url("../img/menu/newmenu/organization-active.png"); }
      #top #menu > ul .objects .need .ico, #top #side_menu > ul .objects .need .ico {
        background-image: url("../img/menu/newmenu/need.png"); }
      #top #menu > ul .objects .need:hover .ico, #top #side_menu > ul .objects .need:hover .ico {
        background-image: url("../img/menu/newmenu/need-hover.png"); }
      #top #menu > ul .objects .need.active, #top #menu > ul li.need.active:hover, #top #side_menu > ul .objects .need.active, #top #side_menu > ul li.need.active:hover {
        background-color: #f42c5e; }
      #top #menu > ul .objects .need.active .ico, #top #side_menu > ul .objects .need.active .ico {
        background-image: url("../img/menu/newmenu/need-active.png"); }
      #top #menu > ul .objects .resource .ico, #top #side_menu > ul .objects .resource .ico {
        background-image: url("../img/menu/newmenu/resource.png"); }
      #top #menu > ul .objects .resource:hover .ico, #top #side_menu > ul .objects .resource:hover .ico {
        background-image: url("../img/menu/newmenu/resource-hover.png"); }
      #top #menu > ul .objects .resource.active, #top #side_menu > ul .objects .resource.active {
        background-color: #52ae32; }
      #top #menu > ul .objects .resource.active .ico, #top #side_menu > ul .objects .resource.active .ico {
        background-image: url("../img/menu/newmenu/resource-active.png"); }
      #top #menu > ul .objects .investment .ico, #top #side_menu > ul .objects .investment .ico {
        background-image: url("../img/menu/newmenu/investment.png"); }
      #top #menu > ul .objects .investment:hover .ico, #top #side_menu > ul .objects .investment:hover .ico {
        background-image: url("../img/menu/newmenu/investment-hover.png"); }
      #top #menu > ul .objects .investment.active, #top #side_menu > ul .objects .investment.active {
        background-color: #aa9f18; }
      #top #menu > ul .objects .investment.active .ico, #top #side_menu > ul .objects .investment.active .ico {
        background-image: url("../img/menu/newmenu/investment-active.png"); }
      #top #menu > ul .projects .ico, #top #side_menu > ul .projects .ico {
        background-image: url("../img/menu/newmenu/projects.png"); }
      #top #menu > ul .projects:hover .ico, #top #side_menu > ul .projects:hover .ico {
        background-image: url("../img/menu/newmenu/projects-hover.png"); }
      #top #menu > ul .projects.active, #top #side_menu > ul .projects.active {
        background-color: #f26700; }
      #top #menu > ul .projects.active .ico, #top #side_menu > ul .projects.active .ico {
        background-image: url("../img/menu/newmenu/projects-active.png"); }
    #top #menu .ico, #top #side_menu .ico {
      display: inline-block;
      vertical-align: -33%;
      margin-right: 0.2em;
      background: red;
      width: 25px;
      height: 25px; }
    #top #menu li.objects.active ul, #top #side_menu li.objects.active ul {
      display: block; }
    #top #menu li.objects.active li, #top #side_menu li.objects.active li {
      display: none; }
    #top #menu li.objects.active li.active, #top #side_menu li.objects.active li.active {
      display: block; }
    #top #menu li.objects.active:hover ul li, #top #side_menu li.objects.active:hover ul li {
      display: block; }
    #top #menu li.objects ul, #top #side_menu li.objects ul {
      background: #dceff4;
      text-align: left;
      font-size: 90%;
      box-shadow: 0px -5px 0px 0px #b1dde8, 1px 1px 3px 1px rgba(50, 50, 50, 0.5); }
      #top #menu li.objects ul li:hover, #top #side_menu li.objects ul li:hover {
        background: #b1dde8; }
      #top #menu li.objects ul .ico, #top #side_menu li.objects ul .ico {
        width: 20px;
        height: 20px;
        margin: 3px; }
    #top #menu li.objects.active ul, #top #side_menu li.objects.active ul {
      box-shadow: 0px -5px 0px 0px #951b81, 1px 1px 3px 1px rgba(50, 50, 50, 0.5); }
  #top #menu > ul > li {
    width: 120px; }
  #top #side_menu > ul > li {
    width: 80px; }
  #top #side_menu li#login_button {
    background: #cce5ce;
    color: #009640; }
  #top #side_menu li#login_button:hover {
    background: #8EC89A;
    color: #000; }
  #top #side_menu li#user_menu {
    width: 150px; }
    #top #side_menu li#user_menu ul {
      box-shadow: 0px -5px 0px 0px #b1dde8, 1px 1px 3px 1px rgba(50, 50, 50, 0.5); }
      #top #side_menu li#user_menu ul li {
        padding: 0.3em; }
      #top #side_menu li#user_menu ul li:hover {
        background: #dceff4; }
  #top nav > ul > li {
    display: inline-block; }
  #top #search {
    width: 22%;
    margin-left: 3%;
    padding-top: 8px;
    position: relative; }
    #top #search form {
      width: 85%;
      padding: 0;
      margin: 0; }
      #top #search form input[type="search"] {
        width: 100%;
        height: 28px;
        border-radius: 0;
        background: white url("../img/menu/newmenu/glass.png") no-repeat 98% center;
        padding-right: 6%;
        box-shadow: inset 0px 1px 3px 0px rgba(150, 150, 150, 0.5);
        border: 1px solid #aaa; }
    #top #search div#search-canvasloader-container {
      margin: 3px 7px; }
    #top #search div#search-results-box {
      position: absolute;
      top: 40px;
      left: 50%; }

.dropdown_menu {
  position: relative; }
  .dropdown_menu > ul {
    display: none;
    position: absolute;
    background-color: inherit;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 100;
    text-align: left; }
    .dropdown_menu > ul > li {
      width: 100%; }

.dropdown_menu:hover > ul {
  display: block; }

.upper_bar {
  background-color: #dceff4;
  color: #009cb4;
  width: 100%;
  height: 2em;
  display: block; }
  .upper_bar ul {
    margin: 0 20px; }
  .upper_bar li a {
    float: right;
    padding: 3px 20px;
    cursor: pointer;
    text-decoration: none; }
    .upper_bar li a:hover {
      color: #333333;
      background: #d0eaf0;
      border-radius: 0 0 4px 4px; }

#main-content > #login_box {
  display: block; }

form#form_login {
  width: 280px; }
  form#form_login input {
    width: 100%;
    height: 28px; }
  form#form_login input[type=submit] {
    width: 100%;
    padding: 3px 6px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 120%;
    color: #fff;
    /* fallback/image non-cover color */
    background-color: #1e9c5b;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#1e9c5b, #125c36);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e9c5b), to(#125c36));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#1e9c5b, #125c36);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#1e9c5b, #125c36); }
  form#form_login span {
    margin-bottom: 5px;
    display: block; }

#login_box {
  background: #dceff4;
  width: 560px;
  display: none; }
  #login_box * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #login_box h1 {
    text-align: center;
    font-size: 20px; }
  #login_box .errors {
    color: #c00;
    text-align: center; }
  #login_box div#separator {
    width: 56px;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-style: italic;
    font-weight: bold;
    margin-top: 15px;
    position: relative; }
    #login_box div#separator .vertical_line {
      position: absolute;
      left: 50%;
      height: 45.5px;
      border-left: 1px solid #333;
      width: 1px; }
    #login_box div#separator .vertical_line.top {
      top: 0; }
    #login_box div#separator .vertical_line.bottom {
      bottom: 0; }

ul#external_providers, div#separator, form {
  float: left; }

ul#external_providers, form {
  padding: 10px; }

ul#external_providers {
  width: 224px; }
  ul#external_providers li {
    margin: 15px 0; }
    ul#external_providers li button {
      width: 100%;
      padding: 3px 6px;
      border: 0;
      border-radius: 5px;
      color: #fff;
      font-size: 13px; }
      ul#external_providers li button img {
        width: 22px;
        height: 22px;
        float: left;
        display: block; }
    ul#external_providers li button.google {
      background: #d84a38; }
    ul#external_providers li button.google:hover {
      background: #e9988d; }
    ul#external_providers li button.facebook {
      background: #3c5a98; }
    ul#external_providers li button.facebook:hover {
      background: #728ec8; }
    ul#external_providers li button.twitter {
      background: #46c8f5; }
    ul#external_providers li button.twitter:hover {
      background: #a7e5fa; }

#user_verification {
  width: 700px;
  height: 400px;
  position: relative; }
  #user_verification h1, #user_verification p {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px; }
  #user_verification .check_email .right {
    margin-top: 100px;
    width: 320px; }
  #user_verification .verified .left {
    margin-top: 100px;
    margin-left: 30px;
    width: 320px; }
  #user_verification .verified .right {
    margin-top: 60px; }

#ie-warning {
  padding: 5px 50px 5px 50px;
  background-color: #ffe5af;
  color: #353535; }

div.importsheet_controls a {
  color: #fff; }
div.importsheet_controls a.insert {
  float: right; }

div.importsheet_missing_column {
  background: #daa;
  border: 1px solid #b33;
  padding: 2px 5px; }

#importsheet_simulation_results div.result {
  border: 1px solid #ccc;
  padding: 5px 15px;
  margin: 15px 0;
  width: 940px;
  display: inline-block; }
  #importsheet_simulation_results div.result div.importsheet_main_column {
    width: 700px;
    margin-right: 20px; }
  #importsheet_simulation_results div.result div.importsheet_right_bar {
    width: 200px; }

#importsheet_simulation_results div.metadata h3, #importsheet_messages div.metadata h3 {
  font-size: 16px; }
#importsheet_simulation_results div.metadata div.errors, #importsheet_simulation_results div.metadata div.warnings, #importsheet_messages div.metadata div.errors, #importsheet_messages div.metadata div.warnings {
  margin: 5px; }
#importsheet_simulation_results div.metadata div.errors, #importsheet_messages div.metadata div.errors {
  background: #daa;
  border: 1px solid #b33;
  padding: 2px 5px; }
#importsheet_simulation_results div.metadata div.warnings, #importsheet_messages div.metadata div.warnings {
  background: #ee8;
  border: 1px solid #ed0;
  padding: 2px 5px; }

#donate {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 1.5em 45px 0.5em;
  -webkit-border-radius: 0 40% 40% 0;
  -moz-border-radius: 0 40% 40% 0;
  border-radius: 0 40% 40% 0;
  -webkit-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
  background: #ededed url("../img/frontpage/pig.png") no-repeat 0.8em 2.5em; }
  #donate h2 {
    color: #333;
    font-size: 20px;
    font-weight: 400; }

#donate:hover {
  padding-left: 1em;
  background-position: 1.3em 2.5em;
  background-image: url("../img/frontpage/pig-hover.png"); }

#main-content.frontpage {
  width: 900px; }
  #main-content.frontpage > div {
    padding: 20px; }
  #main-content.frontpage > div:nth-child(even) {
    background: #EDEDED; }
  #main-content.frontpage .center {
    text-align: center; }
  #main-content.frontpage .initial-heading {
    font-size: 34px;
    letter-spacing: -1px;
    font-weight: 400; }
    #main-content.frontpage .initial-heading img {
      vertical-align: bottom;
      position: relative;
      top: 10px;
      margin-right: 10px; }
  #main-content.frontpage div.video {
    margin: 30px;
    text-align: center; }
  #main-content.frontpage > div.what-is-it-for * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #main-content.frontpage > div.what-is-it-for a {
    color: inherit; }
  #main-content.frontpage > div.what-is-it-for a:hover {
    text-decoration: none; }
  #main-content.frontpage > div.what-is-it-for div.topic {
    vertical-align: top;
    display: inline-block;
    width: 19%;
    margin: 0 0.35%; }
    #main-content.frontpage > div.what-is-it-for div.topic h3 {
      display: inline-block;
      padding: 0.5em 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #057D90;
      width: 100%;
      font-size: 20px;
      text-align: center;
      color: #057D90; }
    #main-content.frontpage > div.what-is-it-for div.topic p {
      padding: 0.5em 0.2em 0; }
  #main-content.frontpage > div.what-is-it-for div.topic:hover {
    background: #f0f0f0; }
    #main-content.frontpage > div.what-is-it-for div.topic:hover h3 {
      background: #B1DDE8; }
  #main-content.frontpage > div.projects .flexslider {
    width: 800px;
    height: 150px;
    position: relative;
    left: 50%;
    margin-top: 20px;
    margin-left: -400px; }
    #main-content.frontpage > div.projects .flexslider img {
      max-width: 220px;
      max-height: 140px; }
    #main-content.frontpage > div.projects .flexslider .testimony {
      width: 450px;
      height: 100px;
      position: relative;
      left: 250px;
      font-size: 16px;
      font-style: italic;
      text-align: justify; }
      #main-content.frontpage > div.projects .flexslider .testimony .author-info {
        float: right;
        text-align: right;
        margin-top: 0.5em;
        font-size: 80%;
        max-width: 80%;
        display: inline-block; }
    #main-content.frontpage > div.projects .flexslider .aldeias-infantis img {
      margin-left: 30px; }
    #main-content.frontpage > div.projects .flexslider .aldeias-infantis p {
      margin-top: 15px; }
    #main-content.frontpage > div.projects .flexslider .heliopolis-verde img {
      margin-left: 35px; }
    #main-content.frontpage > div.projects .flexslider .heliopolis-verde p {
      margin-top: 0; }
    #main-content.frontpage > div.projects .flexslider .bairro-educador img {
      margin-left: 40px; }
    #main-content.frontpage > div.projects .flexslider .bairro-educador p {
      margin-top: 20px; }
  #main-content.frontpage > div.news > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 1%; }
    #main-content.frontpage > div.news > div h3 {
      text-indent: 5px; }
  #main-content.frontpage > div.news li :hover {
    background: #dceff4; }
  #main-content.frontpage > div.news li a {
    display: block;
    padding: 5px;
    text-decoration: none; }
  #main-content.frontpage > div.news li img.apart {
    margin-right: 0.2em; }
  #main-content.frontpage > div.news .last_updates li a {
    color: inherit; }
  #main-content.frontpage > div.account {
    text-align: center; }

/* Fix */
.flexslider {
  background: none;
  border: none;
  box-shadow: none;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 35px; }
  .flexslider > ul.slides li {
    position: relative; }
  .flexslider .slides img {
    width: auto;
    height: auto;
    position: absolute; }

.about {
  padding: 0px 0px 15px !important; }
  .about * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .about#main-content {
    width: 100%; }
  .about .items .topic {
    display: inline-block;
    width: 33%;
    padding: 5px;
    vertical-align: top;
    text-align: left; }
    .about .items .topic h3 {
      font-size: 1.2em; }
    .about .items .topic img {
      width: 290px; }
  .about > div,
  .about .section .items {
    width: 910px;
    margin: 0 auto; }
  .about > div.section {
    width: 100%; }
  .about > div:nth-child(even) {
    background: #eff8fb !important; }

.use-cases .initial-heading {
  margin-bottom: 10px; }
.use-cases .contents > ul {
  margin: 20px 0;
  padding: 15px !important;
  display: inline-block;
  background: #ededed;
  border-radius: 5px;
  list-style: none !important; }
.use-cases .section {
  margin: 0 0 50px; }
.use-cases#main-content > div {
  padding: 0px; }
  .use-cases#main-content > div ul {
    list-style: disc outside none;
    padding: 0 0 0 20px; }
  .use-cases#main-content > div h3 {
    margin-top: 10px; }
  .use-cases#main-content > div > div {
    margin: 10px 350px 10px 0; }
  .use-cases#main-content > div > img {
    float: right;
    margin: 20px 0 0;
    width: 300px; }
.use-cases#main-content > div.section:nth-child(even) {
  background: none; }
  .use-cases#main-content > div.section:nth-child(even) > div {
    margin: 10px 0 10px 350px; }
  .use-cases#main-content > div.section:nth-child(even) > img {
    float: left; }
