{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{# % load komoo_tags % #}
{# % load komoo_map_tags % #}
{# % load comment_tags % #}
{# % load humanize % #}


{% block content %}

<!-- FIXME: Uncomment. Waiting for it3s site to be ready for the donation link.
<a class="no-decoration" href="#">
  <div id="donate">
    <h2>{% trans "Donate!" %}</h2>
  </div>
</a>
-->

<div id="main-content" class="about frontpage">
  <div>
    <h1 class="initial-heading">
      Sobre o MootiroMaps
    </h1>
  </div>


  <div class="section understand center">
    <h2>Entender um território pelo seu mapa</h2>
    O MootiroMaps permite que você crie um mapa da sua comunidade, mostrando onde estão localizados recursos, necessidades e organizações.

    <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/1-1.png"/>
          <h3>Cores e ícones de visualização</h3>
          <p>Cores e icones facilitam a visualização do mapa e a identificação de elementos.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/1-2.png"/>
          <h3>Informações rápidas</h3>
          <p>Passando o mouse sobre os pontos você visualiza um resumo das informações cadastradas.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/1-3.png"/>
          <h3>Busca no mapa</h3>
          <p>Você pode definir uma distância e buscar por todos os pontos localizados nesse raio.</p>
        </div>

    </div>
  </div>

  <div class="section center rich-info">
    <h2>Informações ricas sobre cada ponto</h2>
    Cada ponto no mapapossui uma página com informações de contato, descrição, palavreas chave e muito mais.

    <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/2-1.png"/>
          <h3>Conte uma história</h3>
          <p>Acrescente fotos, logos e links para os conteúdos que você está criando.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/2-2.png"/>
          <h3>Mostre as relaçoes</h3>
          <p>Crie relações entre os conteúdos para gerar transparência. Mostre, por exemplo, que uma fundação trabalha em mais de uma comunidade ou quais organizações receberam o recurso de um apoiador.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/2-3.png"/>
          <h3>Facilite a busca</h3>
          <p>Ao editar você pode aplicar palavras-chave relacionadas ao objeto mapeado, facilitando a busca de outros usuários.</p>
        </div>

    </div>
  </div>

  <div class="section center project">
    <h2>Crie o seu projeto</h2>
    O MootiroMaps permite que você crie projetos de mapeamento de acordo com suas necessidades.

    <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/3-1.png"/>
          <h3>Um espaço seu no MootiroMaps</h3>
          <p>Seu projeto terá uma página própria de apresentação. Descreva como você está realizando o mapeamento, assim outros usuários poderão conhecer a ação e colaborar.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/3-2.png"/>
          <h3>Adicione colaboradores</h3>
          <p>Adicione colaboradores que podem, junto com você, editar o mapa do projeto.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/3-3.png"/>
          <h3>Dê visibilidade para seus parceiros</h3>
          <p>Carregue os logos de quem apoia o seu projeto.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/3-4.png"/>
          <h3>Aproveite o que já está no mapa</h3>
          <p>Adicione conteúdos já criados por outros usuários no seu mapa.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/3-5.png"/>
          <h3>Conheça iniciativas similares</h3>
          <p>Projetos relacionados são apresentados na página do conteúdo criado.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/3-6.png"/>
          <h3>Importe dados para o seu mapa</h3>
          <p>Uma integração com o Google Spreadsheets e com o Google Fusion Table permite que você importe dados, para o seu projeto, que você mesmo coletou ou obteve por meio de pedidos de informação.</p>
        </div>

    </div>
  </div>

  <div class="section center analyze">
    <h2>Faça análises e acompanhe o desenvolvimento do seu bairro</h2>
    Olhando para o território e para a localização dos serviços você pode encontrar subsídios para o planejamento comunitário e prioridades para o desenvolvimento do seu bairro.

    <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/4-1.png"/>
          <h3>Mapeie necessidades e discuta com outros moradores</h3>
          <p>Com o MootiroMaps você mapeia as demandas da sua comunidade e convida outros moradores a discutí-las e a encontrar soluções.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/placeholder.png"/>
          <h3>Acompanhe projetos de sua comunidade</h3>
          <p>Documente o andamento dos projetos disponibilizando relatórios e fotos.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/4-3.png"/>
          <h3>Analise o mapa</h3>
          <p>Visualizando o mapa você pode entender quais regiões da comunidade são atendidas por serviços públicos e trabalhos sociais ou necessitam atendimento.</p>
        </div>

    </div>
  </div>

  <div class="section center analyze">
    <h2>Faça colaborativamente</h2>
    Todos podem editar o MootiroMaps, adicionando e corrigindo informações e colocando novos pontos no mapa. Assim, o mapa se torna cada vez mais rico.

    <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/5-1.png"/>
          <h3>Edite o mapa</h3>
          <p>Você pode inserir novas informações ao mapa, sejam pontos, linhas ou áreas.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/5-2.png"/>
          <h3>Receba notificações</h3>
          <p>Você pode assinar os conteúdos. Quando alguém editá-los você receberá uma notificação.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/5-3.png"/>
          <h3>Acompanhe as atualizações de outros usuários</h3>
          <p>Na lista de últimas atualizações você vê quem acabou de criar ou editar algo.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/5-4.png"/>
          <h3>Dissemine nas redes sociais</h3>
          <p>Utilizando os botões das redes sociais você dá visibilidade para conteúdos mapeados e pode mobilizar amigos para colaborarem.</p>
        </div>

    </div>
  </div>

  <div class="section center analyze">
    <h2>Participe da rede</h2>
    Faça parte da rede de usuários para trocar experiências e participar de formações.

    <div class="items">

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/placeholder.png"/>
          <h3>Lista de e-mail</h3>
          <p>Inscreva-se em nossa lista de e-mails e discuta com outros usuários.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/6-2.png"/>
          <h3>Grupo no Facebook</h3>
          <p>Participe do grupo do Facebook para receber e compartilhar notícias sobre assuntos como mapeamento, dados abertos e tecnologias colaborativas.</p>
        </div>

        <div class="topic">
          <img src="{{STATIC_URL}}img/about/placeholder.png"/>
          <h3>É gratuito</h3>
          <p>O MootiroMaps foi desenvolvido pelo IT3S com apoio do Instituto C&A e é gratuito para você usar Basta criar sua conta.</p>
        </div>

    </div>
  </div>

  <div class="section">
  <h2 class="center"><a class="login-required big button" href="#">{% trans "Create your account." %}</a></h2>
  </div>

</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
