{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{# % load komoo_tags % #}
{# % load komoo_map_tags % #}
{# % load comment_tags % #}
{# % load humanize % #}


{% block content %}

<a class="no-decoration" href="http://www.it3s.org/Colabore/Doacoes/">
  <div id="donate">
    <h2>{% trans "Donate!" %}</h2>
  </div>
</a>

<div id="main-content" class="frontpage">
  <div>
    <h1 class="initial-heading center">
      <img src="{{STATIC_URL}}img/mootiro-maps.png"/> {% trans "colaborative mapping of your region." %}
    </h1>

    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>


  {% if user.is_anonymous %}
  <div>
    <h2 class="center"><span class="apart">{% trans "Anyone can help!" %}</span> <a class="login-required big button" href="#">{% trans "Create your account." %}</a></h2>
  </div>
  {% else %}
  <div>
    <h2 class="center">{% trans "Want to help" %}, {{ user.get_first_name }}? <a class="login-required" href="{% url map %}#map-panel-add">{% trans "Add to the map!" %}</a></h2>
  </div>
  {% endif %}

  <div class="what-is-it-for">
    <h2>{% trans "What is it for?" %}</h2>

    <a href="{% url use_cases %}#diagnostico_de_territorio">
      <div class="topic">
        <h3>{% trans "Community diagnosis" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/community-diagnosis.png"/>
        <p>{% trans "Map a region's resources and needs. Create indicators and analyze its diagnosis to know the true demands of the that community." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#mapeamento_de_redes">
      <div class="topic">
        <h3>{% trans "Network mapping" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/network-mapping.png"/>
        <p>{% trans "Map organizations that work for the same cause. Find new partakers to your network. Share knowledge and help to add visibility to the initiatives" %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#avaliacao_de_projetos_e_programas">
      <div class="topic">
        <h3>{% trans "Project evaluation" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/project-evaluation.png"/>
        <p>{% trans "Record indicator over the execution of a project. Evaluate and generate reports. Share methodologies and results." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#jornalismo_de_dados">
      <div class="topic">
        <h3>{% trans "Data journalism" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/data-journalism.png"/>
        <p>{% trans "Build maps using public data. Use them into your news and mobilize for changes." %}</p>
      </div>
    </a>

    <a href="{% url use_cases %}#guia_do_bairro">
      <div class="topic">
        <h3>{% trans "Neighborhood guide" %}</h3>
        <img src="{{STATIC_URL}}img/frontpage/neighborhood-guide.png"/>
        <p>{% trans "Map existing services in your neighborhood. Help other dwellers to know the territory better and use local resources." %}</p>
      </div>
    </a>

  </div>

  <div class="projects">
    <h2>{% trans "Projects that uses MootiroMaps" %}</h2>

    <!-- Place somewhere in the <body> of your page -->
    <div class="flexslider">
      <ul class="slides">
        <li class="aldeias-infantis">
          <a href=""><img src="{{STATIC_URL}}img/frontpage/aldeias-infantis.png"/></a>
          <p class="testimony">
            “O MootiroMaps permite não apenas vizualizar o local onde está o possível parceiro, mas também obter informações sobre seus serviços e esfera de atuação. Para as Aldeias Infantis SOS, a ferramenta é um potencial para a identificação do nível de articulação desenvolvido.”
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/259">Aline Cavalcanti</a>, Analista de Monitoramento e<br/> Pesquisa das <a href="http://maps.mootiro.org/organization/2134">Aldeias Infantis SOS</a>.
            </span>
          </p>
        </li>
        <li class="heliopolis-verde">
          <a href="http://maps.mootiro.org/project/2"><img src="{{STATIC_URL}}img/frontpage/heliopolis-verde.png"/></a>
          <p class="testimony">
            “O primeiro passo de um projeto social de base comunitária é a realização de um mapa de contexto, a fim de identificar demandas e conhecer os atores locais. A visualização das informações e a possibilidade de mapear coletivamente com o MootiroMaps favorecem e facilitam nosso trabalho com o Heliópolis Verde.”
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/101">Raquel Porangaba</a>, Analista de articulação <br/> do <a href="http://maps.mootiro.org/organization/793">Instituto Baccarelli</a>.
            </span>
          </p>
        </li>
        <li class="bairro-educador">
          <a href="http://maps.mootiro.org/project/22"><img src="{{STATIC_URL}}img/frontpage/bairro-educador.png"/></a>
          <p class="testimony">
            “É importante criarmos o mapa de nossa comunidade porque é possível quantificar no MootiroMaps a necessidade da comunidade em relação às políticas públicas bem como acompanhar os serviços públicos e as obras que acontecem em Heliópolis.”
            <br/>
            <span class="author-info">
              — Cleide Alves, Presidente da <a href="http://maps.mootiro.org/organization/796">UNAS</a>.
            </span>
          </p>
        </li>
      </ul>
    </div>

  </div>

  <div class="news">
    <h2>{% trans "News" %}</h2>

    <div class="blog">
      <h3>{% trans "IT3S blog" %}</h3>
      <ul>
        {% for n in news %}
        <li>
          <a href="{{ n.title_link }}">
          <h4>{{ n.title }}</h4>
          <span class="attenuate">{{ n.date|date:"d/m/Y" }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="apart">
        <a href="http://blog.mootiro.org">{% trans "visit the blog" %}</a>
      </div>
    </div>

    <div class="last_updates">
      <h3>{% trans "Last updates" %}</h3>
      <ul>
        {% for u in updates %}
        <li>
          <a href="{{ u.instance.link }}">
            <img class="apart" src="{{STATIC_URL}}{{ u.object_icon }}">
            {{ u.instance.name }}<br/>
            <img class="apart" src="{{STATIC_URL}}{{ u.type_image }}">
            <span class="attenuate">{{ u.readable_type|capfirst }} {{ u.date|naturaltime }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="apart">
        <a href="{% url list_updates %}">{% trans "see all" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    }).flexslider("pause");
  });
</script>
{% endblock %}

{% block help_center %}
  <script type="text/javascript">
    var help = new HelpCenter("#help_button",
      [
        'organization:what_is',
        'organization:what_is',
        'organization:what_is',
        'organization:what_is'
      ],
      'organization:page_tour');
  </script>
{% endblock %}
