{% extends "global.html" %}
{% load i18n %}
{% load komoo_filters %}
{# % load komoo_tags % #}
{# % load komoo_map_tags % #}
{# % load comment_tags % #}
{# % load humanize % #}


{% block content %}
<div id="main-content" class="frontpage">
  <div>
    <h1 class="initial-heading center">
      <img src="{{STATIC_URL}}img/mootiro-maps.png"/> {% trans "colaborative mapping of your region." %}
    </h1>
    
    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
  
  {% if user.is_anonymous %}
  <div>
    <h2 class="center">{% trans "Anyone can help!" %} <a class="login-required" href="#">{% trans "Create your account." %}</a></h2>
  </div>
  {% else %}
  <div>
    <h2 class="center">{% trans "Want to help" %}, {{ user.name|truncatewords:1 }}? <a class="login-required" href="{% url map %}#map-panel-add">{% trans "Add to the map!" %}</a></h2>
  </div>
  {% endif %}
  
  <div class="how-it-works">  
    <h2>{% trans "How it works?" %}</h2>
    
    <div class="topic">
      <h3>{% trans "Explore" %}</h3>
      <img src="{{STATIC_URL}}img/frontpage/explore.png"/>
      <p>{% trans "Find resources available to the community of your neighborhood." %}</p>
    </div>
    <div class="topic">
      <h3>{% trans "Add it" %}</h3>
      <img src="{{STATIC_URL}}img/frontpage/add.png"/>
      <p>{% trans "Map needs, organizations and resources in your community and help to improve it." %}</p>
    </div>
    <div class="topic">
      <h3>{% trans "Create projects" %}</h3>
      <img src="{{STATIC_URL}}img/frontpage/projects.png"/>
      <p>{% trans "Map related points. You can make a guide to your neighborhood or diagnose a region." %}</p>
    </div>
    
    <div class="more">
      <a href="{% url hotsite %}" class="button">{% trans "More about" %}</a>
    </div>
  </div>
  
  <div class="projects">
    <h2>{% trans "Projects that uses MootiroMaps" %}</h2>
    
    <!-- Place somewhere in the <body> of your page -->
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="{{STATIC_URL}}img/frontpage/add.png"/>
          <p class="testimony aldeias">
            “O MootiroMaps permite não apenas vizualizar o local onde está o possível parceiro, mas também obter informações sobre seus serviços e esfera de atuação. Para as Aldeias Infantis SOS, a ferramenta é um potencial para a identificação do nível de articulação desenvolvido.”
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/259">Aline Cavalcanti</a>, Analista de Monitoramento e<br/> Pesquisa das <a href="http://maps.mootiro.org/organization/2134">Aldeias Infantis SOS</a>.
            </span>
          </p>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/frontpage/add.png"/>
          <p class="testimony baccareli">
            “O primeiro passo de um projeto social de base comunitária é a realização de um mapa de contexto, a fim de identificar demandas e conhecer os atores locais. A visualização das informações e a possibilidade de mapear coletivamente com o MootiroMaps favorecem e facilitam nosso trabalho com o Heliópolis Verde.” 
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/101">Raquel Porangaba</a>, Analista de articulação do <a href="http://maps.mootiro.org/organization/793">Instituto Baccarelli</a>.
            </span>
          </p>
        </li>
        <li>
          <img src="{{STATIC_URL}}img/frontpage/add.png"/>
          <p class="testimony unas">
            “É importante criarmos o mapa de nossa comunidade porque é possível quantificar no MootiroMaps a necessidade da comunidade em relação às políticas públicas bem como acompanhar os serviços públicos e as obras que acontecem em Heliópolis.”
            <br/>
            <span class="author-info">
              — Cleide Alves, Presidente da <a href="http://maps.mootiro.org/organization/796">UNAS</a>.
            </span>
          </p>
        </li>
      </ul>
    </div>
    
  </div>
  
  <div class="news">
    <h2>{% trans "News" %}</h2>
    
    <div class="blog">
      <h3>{% trans "IT3S blog" %}</h3>
      <ul>
        {% for n in news %}
        <li>
          <a href="{{ n.title_link }}">
          <h4>{{ n.title }}</h4>
          <span class="attenuate">{{ n.date|date:"d/m/Y" }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="apart">
        <a href="http://blog.mootiro.org">{% trans "visit the blog" %}</a>
      </div>
    </div>
    
    <div class="last_updates">
      <h3>{% trans "Last updates" %}</h3>
      <ul>
        {% for u in updates %}
        <li>
          <a href="{{ u.instance.link }}">
            <img class="apart" src="{{STATIC_URL}}{{ u.object_icon }}">
            {{ u.instance.name }}<br/>
            <img class="apart" src="{{STATIC_URL}}{{ u.type_image }}">
            <span class="attenuate">{{ u.readable_type|capfirst }} {{ u.date|naturaltime }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <div class="apart">
        <a href="{% url list_updates %}">{% trans "see all" %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    }).flexslider("pause");
  });
</script>
{% endblock %}
