{% load i18n %}
<nav class="upper_bar">
  <ul>
  {% if not user.is_anonymous %}
  <li><a href="{% url user_logout %}" >{% trans 'Logout' %}</a></li>
  <!-- <li><a href="#" >{% trans 'Settings' %}</a></li> -->
  <!-- <li><a href="#" >{% trans 'Notifications' %}</a></li> -->
  <li><a href="{{ user.view_url }}" >{{ user.name }}</a></li>
  {# FIXME: change the help link #}
  <li><a href="http://pt.wikibooks.org/wiki/MootiroMaps" target="_blank">{% trans 'Help' %}</a></li>
  {% else %}
  <li><a href="{% url user_login %}" class="login-required" >{% trans 'Login'%}</a></li>
  <!-- <li><a href="#" >{% trans 'Help' %}</a></li> -->
  {% endif %}
  </ul>
</nav>
