@main-bg: #dceff4;
@main-fg: #000;

@content-bg: #fff;
@content-fg: #000;

@link-bg: transparent;
@link-fg: #14636e;
@link-hover-bg: #b1dde8;
@link-hover-fg: @link-fg;
@link-visited-bg: @link-bg;
@link-visited-fg: #004047;

@input-bg: #fff;
@input-fg: #000;
@input-border-color: @main-bg;
