{% load i18n %}
<script src="/static/js/relations/edit.js" type="text/javascript"></script>

<script type="text/x-template" id="relation-item-tpl">
  <div class="relation-item">
    <select name="relation_type">
      <option value=""> </option>
      {% for opt in options %}
        <option value="{{ opt.direction }}{{ opt.type }}">{{ opt.name }}</option>
      {% endfor %}
    </select>

    <input type="hidden" class="relation_id" name="id" />
    <input type="hidden" class="target" name="target" />
    <input type="text" class="target_autocomplete" name="id_target_autocomplete" data-autocomplete="{% url search_relations %}" />

    <span class="metadata-btn" title="{% trans 'aditional info' %}"><i class="icon-plus"></i></span>
    <span class="remove-btn" title="{% trans 'remove relation'%}"><i class="icon-trash"></i></span>

    <div class="metadata-form">
      <input type="hidden" name="metadata" />
      <p>
      <label>{% trans 'Description' %}</label>
        <input type="text" name="metadata_description" />
      </p>
      <p>
        <div class="date-field">
          <label>{% trans 'Start Date (DD/MM/YYYY)' %}.Ex:25/12/2000</label>
          <input type="text" class="date-input" name="metadata_start_date" />
          <div class="error-msg">{% trans 'Date should be on DD/MM/YYYY format.' %}</div>
        </div>
        <div class="date-field">
          <label>{% trans 'End Date (DD/MM/YYYY)' %}.Ex:25/12/2000</label>
          <input type="text" class="date-input" name="metadata_end_date" />
          <div class="error-msg">{% trans 'Date should be on DD/MM/YYYY format.' %}</div>
        </div>
      </p>
      <p>
        <div class="number-field">
          <label>{% trans 'Value' %}</label>
          <input type="text" class="number-input" name="metadata_value" />
          <div class="error-msg">{% trans 'Must be a number.' %}</div>
        </div>
      </p>
    </div>

  </div>
</script>

<div class="relations-edit">
  <form action="{% url edit_relations %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="object_oid" value="{{ oid }}"/>
    <input type="hidden" name="relations_json" value="" />

    <div class="add-relation">+ {% trans "Add relation" %}</div>

    <div class="relations-list" data-relations='{{ relations|safe }}'>

    </div>

    <div>
      <input type="submit" value='{% trans "save" %}' />
    </div>
  </form>

</div>
