{% extends "komoo_map/generic_panel.html" %}

{% load i18n %}
{% load komoo_tags %}
{% load komoo_map_tags %}

{% block panel_content %}
    <ul class="map-tabs" id="map-panel-tabs">
      <li class="panel-tab" id="map-panel-layers-tab" style="width: 28%;">
        <a href="#map-panel-layers" title="{% trans 'Filtre os objetos apresentados no mapa' %}">{% trans "Layers" %}</a>
        <div class="line"></div>
      </li>
      <li class="panel-tab" id="map-panel-add-tab" style="width: 28%;">
        <a href="#map-panel-add" class="login-required" title="{% trans 'Adicione pontos no mapa' %}">{% trans "Add" %}</a>
        <div class="line"></div>
      </li>
      <li class="panel-tab" id="map-panel-filter-tab" style="width: 28%;">
        <a href="#map-panel-filter" title="{% trans 'Busque por objetos em um região escolhida no mapa' %}">{% trans "Filter by radius" %}</a>
        <div class="line"></div>
      </li>
    </ul>

    <div style="clear: both;"></div>

    <div class="panel" id="map-panel-layers">
      {#% geo_objects_listing 'show_categories=True' 'switchable=True' 'prefix=layer' %#}
    </div>

    <div class="panel" id="map-panel-add">
      {% komoo_map_objects_list 'prefix=add' 'show_geometries=True' %}
    </div>

    <div class="panel" id="map-panel-filter">
      <form id="filter-form" method="GET" action="{% url radial_search %}">
        <div id="filter-circle">
          <div class="img-holder">
            <img src="{{STATIC_URL}}img/radius.png"/>
          </div>
          <a id="set-center" class="button" title="{% trans 'Ponto central a partir do qual será realizada a busca' %}"><i class="icon-plus icon-white"></i> {% trans "Center" %}</a>
          <span>{% trans "Radius" %} <input id="filter-radius" type="text" name="radius" title="{% trans 'Distância em que serão buscados os objetos, a partir do ponto central.' %}"/> m</span>
          <input id="filter-center" type="hidden" name="center"/>
          <div id="filter-slider-container" class="help-step highlight">
            <div id="filter-slider"></div><i class="icon-ok"></i>
          </div>
          <div id="filter-helper" class="help-step highlight">
            {% trans "Pick a point on the map" %}
          </div>
        </div>
        <div class="centralizer">
          <input type="submit" id="filter-submit" class="button-off" value="{% trans "Perform search" %}"/>
        </div>
        {% geo_objects_listing 'show_categories=True' 'switchable=True' %}
      </form>

      <div id="filter-results-container">
        <div class="centralizer">
          <button id="filter-back" class="button">{% trans "Change parameters" %}</button>
        </div>
        <div id="filter-results"></div>
      </div>
    </div>

    <div id="search-results">
      <!-- placeholder for search results -->
    </div>

    <div style="clear: both;"></div>
{% endblock %}

{% block panel_scripts %}
<script type="text/javascript">
  $(function() {
      var onhashchange = function() {
        hash = window.location.hash;
        $(hash + '-tab').click();
      };
      var tabs = new Tabs('.panel-tab', '.panel');
      onhashchange();
      window.onhashchange = onhashchange;
  });
  window.csrf_token = '{{ csrf_token }}';

</script>

<script type="text/javascript" src="{{STATIC_URL}}/js/map_filter.js"></script>

<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/komoo_search.js"></script> -->
{% endblock %}
